Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

version as alpha.2
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

replace contours variable in contours app
  geoapps/base/plot.py
  geoapps/contours/application.py
Due: pylint, check-copyright

rename github action for Ubuntu - MacOS
  .github/workflows/pytest-unix-os.yaml
Due: none

interval contours optional
  assets/uijson/iso_surfaces.ui.json
  geoapps/contours/application.py
  geoapps/iso_surfaces/application.py
  geoapps/iso_surfaces/constants.py
  geoapps/iso_surfaces/driver.py
  geoapps/utils/utils.py
Due: pylint, check-copyright

rst minor formatting
  docs/content/installation.rst
  docs/content/release_notes.rst
Due: rstcheck

contour step size can't be zero
  geoapps/utils/utils.py
Due: pylint, check-copyright

change initial fixed contours
  geoapps/iso_surfaces/constants.py
Due: pylint, check-copyright

comment
  geoapps/iso_surfaces/driver.py
Due: pylint, check-copyright

change workspace input to BytesIO
  geoapps/scatter_plot/dash_application.py
Due: pylint, check-copyright

run dash from notebook
  geoapps/scatter_plot/application.py
  geoapps/scatter_plot/dash_application.py
  geoapps/scatter_plot/notebook.ipynb
  geoapps/scatter_plot/run_dash.py
Due: pylint, check-copyright

run dash from notebook
  geoapps/scatter_plot/notebook.ipynb
Due: none

run dash from uijson
  assets/uijson/scatter.ui.json
  geoapps/scatter_plot/application.py
  geoapps/scatter_plot/constants.py
  geoapps/scatter_plot/driver.py
  geoapps/scatter_plot/run_dash.py
Due: pylint, check-copyright

add dash and flask as optional dependencies
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environment-dev.yml
  environment.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  geoapps/scatter_plot/dash_application.py
  pyproject.toml
Due: pylint, check-copyright

upload uijson
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

remove save checkbox
  assets/uijson/scatter.ui.json
Due: none

merge upload buttons
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

use uijson with GA
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

use jupyter-dash to display dash in notebook
  geoapps/scatter_plot/application.py
  geoapps/scatter_plot/notebook.ipynb
Due: pylint, check-copyright

typo in notebook
  geoapps/scatter_plot/notebook.ipynb
Due: none

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
