Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

GEOPY-825: set version to 0.9.2-beta
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

Update installation.rst
  docs/content/installation.rst
Due: rstcheck

Need to pass in both the transmitter and receiver electrode locations when precomputing the drape models
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/driver.py
Due: pylint, check-copyright

update targets on pseudo 3d run test
  tests/run_tests/driver_dc_p3d_test.py
Due: pylint, check-copyright

GEOPY-828: pause before exit to show error when conda not found
  Install_or_Update.bat
  Start_applications.bat
  devtools/run_conda_lock.bat
  devtools/setup-conda-base.bat
  devtools/setup-dev.bat
  devtools/start-app.bat
Due: none

GEOPY-824: use Python 3.10 for installation and dev environments
  .github/workflows/create_env_file.yml
  Install_or_Update.bat
  devtools/setup-dev.bat
Due: none

Pin sphinx-gallary to 0.10 to fix tiles
  docs/environment.yml
Due: none

Fix missing thumbnail
  docs/content/applications.rst
Due: rstcheck

fix path to thumbnail
  docs/content/applications.rst
Due: rstcheck

rerun conda lock
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Test lock files
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

GEOPY-833: do not expose the full environment
  .github/workflows/create_env_file.yml
Due: none

test names should be unique. was clashing when looking back into root folder to collect the results of the foward modelling to use as data in inversion.
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_ip_test.py
Due: pylint, check-copyright

Attempt to upload pytest directories as artifact
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
Due: none

more general path
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
Due: none

switch order of uses/with/name
  .github/workflows/pytest-unix-os.yaml
Due: none

try needs pytest
  .github/workflows/pytest-unix-os.yaml
Due: none

another way to wait for pytest
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
Due: none

use continue-on-error: true and only run on pytest failure
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
Due: none

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
