Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

remove hash specification in generated file for pip dependencies
  devtools/create_application_env_files.py
Due: check-copyright

back to Python 3.9 for installation
  .github/workflows/create_env_file.yml
  .github/workflows/pytest-windows.yaml
  .github/workflows/static-analysis.yml
  Install_or_Update.bat
  devtools/create_application_env_files.py
  devtools/setup-dev.bat
Due: check-copyright

set version to 0.9.0-rc.3
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

GEOPY-680: fix replacement pattern for pip hash
  devtools/create_application_env_files.py
Due: check-copyright

remove generation of an unused env file
  devtools/create_application_env_files.py
Due: check-copyright

change forgotten version number
  geoapps/__init__.py
Due: pylint, check-copyright

add test on version number
  pyproject.toml
  tests/version_test.py
Due: pylint, check-copyright

set version to 0.9.0
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

generalize drive_or_sweep to a start class method available to all drivers with the generate sweep option and overloaded in inversion drivers to add the line_sweep option.
  geoapps/driver_base/driver.py
  geoapps/edge_detection/driver.py
  geoapps/inversion/constants.py
  geoapps/inversion/driver.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/driver.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
Due: pylint, check-copyright

set version to 0.9.0-post.1
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

reset to RC status after bug was found
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

Deprecate cell removal code in favor of geoh5py implementation.
  geoapps/inversion/components/factories/entity_factory.py
  tests/run_tests/driver_mvi_test.py
Due: pylint, check-copyright

revert back to using locations
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/entity_factory.py
Due: pylint, check-copyright

Updated inversion drivers with warmstart option, tests passing.
  geoapps/edge_detection/constants.py
  geoapps/inversion/electricals/direct_current/three_dimensions/driver.py
  geoapps/inversion/electricals/direct_current/two_dimensions/driver.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/driver.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/driver.py
  geoapps/inversion/natural_sources/magnetotellurics/driver.py
  geoapps/inversion/natural_sources/tipper/driver.py
  geoapps/inversion/potential_fields/gravity/driver.py
  geoapps/inversion/potential_fields/magnetic_scalar/driver.py
  geoapps/inversion/potential_fields/magnetic_vector/driver.py
  tests/run_tests/apps_run_test.py
  tests/run_tests/driver_dc_2d_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ip_2d_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_mvi_test.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

pylint fixes
  geoapps/clustering/driver.py
  geoapps/contours/driver.py
  geoapps/driver_base/driver.py
  geoapps/drivers/__init__.py
  geoapps/drivers/direct_current_inversion.py
  geoapps/drivers/grav_inversion.py
  geoapps/drivers/induced_polarization_inversion.py
  geoapps/drivers/magnetic_scalar_inversion.py
  geoapps/drivers/magnetic_vector_inversion.py
  geoapps/drivers/magnetotellurics_inversion.py
  geoapps/interpolation/driver.py
  geoapps/inversion/driver.py
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/driver.py
  geoapps/iso_surfaces/driver.py
  geoapps/octree_creation/driver.py
  geoapps/peak_finder/driver.py
  geoapps/peak_finder/notebook.ipynb
  geoapps/scatter_plot/driver.py
Due: pylint, check-copyright

restore the param-sweeps in pyproject.toml
  pyproject.toml
Due: none

pylint fixes
  geoapps/block_model_creation/driver.py
Due: pylint, check-copyright
