Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.2
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.21.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
#-   repo: https://github.com/pre-commit/mirrors-pylint
#    rev: v2.6.0
#    hooks:
#    -   id: pylint
#        exclude: (devtools|docs)/
-   repo: local
    hooks:
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

Push dcip_thumbnail
  geoapps/applications/images/inversion_dcip_thumbnail.png
Due: none

Deal with inf uncertainties on write out
  geoapps/drivers/components/data.py
Due: check-copyright

Improve octree mesh refinement consol prints
  geoapps/create/octree_mesh.py
Due: check-copyright

Improving inversion run print
  geoapps/drivers/base_inversion.py
Due: check-copyright

output_tile_files not visible, chunk_by_rows default true, enclose path in os call with quotations to handle spaces in directory names, channel to none if active checkbox false.
  assets/uijson/gravity_forward.ui.json
  assets/uijson/gravity_inversion.ui.json
  assets/uijson/magnetic_scalar_forward.ui.json
  assets/uijson/magnetic_scalar_inversion.ui.json
  geoapps/inversion/pf_inversion_app.py
  geoapps/io/DirectCurrent/constants.py
  geoapps/io/Gravity/constants.py
  geoapps/io/InducedPolarization/constants.py
  geoapps/io/Inversion/constants.py
  geoapps/io/MagneticScalar/constants.py
  geoapps/io/MagneticVector/constants.py
  tests/run_tests/apps_inversion_test.py
Due: check-copyright

output_tile_files not visible, chunk_by_rows default true, enclose path in os call with quotations to handle spaces in directory names, channel to none if active checkbox false.
  geoapps/inversion/pf_inversion_app.py
  geoapps/io/DirectCurrent/constants.py
  geoapps/io/Gravity/constants.py
  geoapps/io/InducedPolarization/constants.py
  geoapps/io/Inversion/constants.py
  geoapps/io/MagneticScalar/constants.py
  geoapps/io/MagneticVector/constants.py
  tests/run_tests/apps_inversion_test.py
Due: check-copyright

Add double-quotes for windows path with space
  geoapps/inversion/dcip_inversion_app.py
Due: check-copyright

Change sens every_iteration_bool=True
  geoapps/io/DirectCurrent/constants.py
Due: check-copyright

refresh docs for inversion
  docs/content/applications/dcip_inversion.ipynb
  docs/content/applications/grav_mag_inversion.ipynb
Due: none

Add ui.json files to assets
  assets/uijson/direct_current_forward.ui.json
  assets/uijson/direct_current_inversion.ui.json
Due: none

Change default threshold value for DC inversion. Update test
  geoapps/io/DirectCurrent/constants.py
  tests/run_tests/driver_dc_test.py
Due: check-copyright

Cleanup index page
  geoapps/applications/Index.ipynb
Due: none

Fix IP test
  tests/run_tests/driver_ip_test.py
Due: check-copyright

Bump version. Add release notes
  docs/conf.py
  docs/content/release_notes.rst
  geoapps/__init__.py
  setup.py
Due: check-copyright, rstcheck

Couple additions and edits
  docs/content/release_notes.rst
Due: rstcheck

Minor clean up
  docs/content/release_notes.rst
Due: rstcheck

Pin geoh5py to 0.1.5.rc1
  environment.yml
Due: none

Add test for default construction and write file. fix initial_beta 0.0 -> None in ip constants. Pushing prematurely to look at history and find out why forward only write_input_file option is gone.
  geoapps/io/InducedPolarization/constants.py
  geoapps/io/params.py
  tests/params_test.py
Due: check-copyright

Check for geoh5, workspace none before pulling from params_dict in update
  geoapps/io/params.py
Due: check-copyright
