Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

let geoh5py control the h5py version
  pyproject.toml
Due: none

do we need libhwloc ?
  pyproject.toml
Due: none

updated lock files
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

hwloc not used in the code, not need to list it expliclty
  pyproject.toml
Due: none

minor: small comment on tqdm
  pyproject.toml
Due: none

GEOPY-1116: get properties from conda
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

point to geoh5py tag v0.8.0-rc.2
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

GEOPY-882 migrate provision-with-micromamba to setup-micromamba
  .github/workflows/pytest-windows.yaml
Due: none

GEOPY-882 tell github action to activate the conda env it just created?
  .github/workflows/pytest-windows.yaml
Due: none

GEOPY-882 remove incorrect shell
  .github/workflows/pytest-windows.yaml
Due: none

GEOPY-882 specify init-shell
  .github/workflows/pytest-windows.yaml
Due: none

GEOPY-882 specify shell
  .github/workflows/pytest-windows.yaml
Due: none

GEOPY-1058 migrate to setup-micromamba in github workflows
  .github/workflows/create_env_file.yml
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/static-analysis.yml
Due: none

GEOPY-1083 run pylint on ubuntu
  .github/workflows/static-analysis.yml
Due: none

GEOPY-1083 static-analysys: use linux lock file
  .github/workflows/static-analysis.yml
Due: none

add diagonal_balance to uijson
  geoapps/octree_creation/constants.py
  geoapps/octree_creation/driver.py
  geoapps/octree_creation/params.py
Due: pylint, check-copyright

test passing visually
  tests/run_tests/octree_creation_test.py
Due: pylint, check-copyright

update tests, add diagonal_balance to notebook
  geoapps/octree_creation/application.py
  geoapps/utils/testing.py
  tests/run_tests/octree_creation_test.py
Due: pylint, check-copyright

update tests with diagonal balance
  tests/data_test.py
  tests/utils_test.py
Due: pylint, check-copyright

default diagonal_balance true; parametrize unit test
  geoapps/octree_creation/constants.py
  geoapps/octree_creation/driver.py
  tests/run_tests/octree_creation_test.py
Due: pylint, check-copyright

Use mire-omf 3.1.0a1
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

remove unused github workflow
  .github/workflows/create_env_file.yml
Due: none

Fix tests
  tests/run_tests/octree_creation_test.py
Due: pylint, check-copyright

Add check for active neighbours
  geoapps/inversion/components/topography.py
  geoapps/shared_utils/utils.py
Due: pylint, check-copyright

GEOPY-1193: remove script that creates final app yaml file
  devtools/create_application_env_files.py
Due: check-copyright

Split the left, right output. Check for z neighbour
  geoapps/inversion/components/topography.py
  geoapps/shared_utils/utils.py
Due: pylint, check-copyright

Add unitest
  geoapps/shared_utils/utils.py
  tests/utils_test.py
Due: pylint, check-copyright

Limit neighbour actives to TreeMesh, update tests
  geoapps/inversion/components/topography.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_mt_test.py
Due: pylint, check-copyright

Update requirements
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Remove duplication in copyright header
  geoapps/inversion/components/factories/entity_factory.py
  geoapps/inversion/components/preprocessing.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/params.py
  geoapps/peak_finder/constants.py
  geoapps/shared_utils/colors.py
  geoapps/shared_utils/utils.py
  geoapps/utils/testing.py
Due: pylint, check-copyright

Check non-empty new_actives
  geoapps/inversion/components/topography.py
Due: pylint, check-copyright

Make geoh5py ~rc3
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Refactor code as suggested
  geoapps/inversion/components/topography.py
Due: pylint, check-copyright

Bump versions in pyproject
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Change release version
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

Update docs/conf.py
  docs/conf.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Fix rc.1
  geoapps/__init__.py
Due: pylint, check-copyright

Update lock files
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Fix broken import
  geoapps/inversion/__init__.py
Due: pylint, check-copyright
