Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

limit environments to python 3.9 and 3.10
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
  devtools/run_conda_lock.py
  environments/env-python-3.10.yml
  environments/env-python-3.8.yml
Due: check-copyright

fix conda lock script
  devtools/run_conda_lock.py
Due: check-copyright

update conda locks for python 3.9 and 3.10
  conda-py-3.10-lock.yml
  conda-py-3.7-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
Due: none

fix python versions in github actions
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
Due: none

geoh5py 0.5.0 branch does not exist. Use pypi version
  pyproject.toml
Due: none

Update the FlinFlon.geoh5 dl path for tests
  tests/__init__.py
Due: pylint, check-copyright

Fix tests using old flinflon mesh
  tests/data_test.py
  tests/locations_test.py
  tests/meshes_test.py
  tests/models_test.py
  tests/run_tests/apps_inversion_test.py
  tests/topography_test.py
Due: pylint, check-copyright

re-trigger tests
  tests/__init__.py
Due: pylint, check-copyright

remove isort config since in pyproject.toml file
  .gitignore
  .isort.cfg
Due: none

Fix Natural Source sign convention
  geoapps/inversion/components/data.py
Due: pylint, check-copyright

Update all uijson in assets. Remove print of sign flip
  assets/uijson/octree_mesh.ui.json
  geoapps/inversion/components/data.py
Due: pylint, check-copyright

Update natural source project
  assets/FlinFlon_natural_sources.geoh5
Due: none

Fix test
  geoapps/inversion/electricals/application.py
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

remove isort config since in pyproject.toml file
  .gitignore
Due: none

no need of matrix in action for a single value
  .github/workflows/static-analysis.yml
Due: none

set Python 3.9 as the minimum supported version
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Configure dependabot version update
  .github/dependabot.yml
Due: none

Update release notes
  docs/content/release_notes.rst
Due: rstcheck

Fix peak finder for params.data promoted to entity
  geoapps/peak_finder/driver.py
Due: pylint, check-copyright
