Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Add weighted_average and iso_surface functions
  geoapps/utils/utils.py
Due: check-copyright

Add IsoSurface app. Clean up redundant code
  geoapps/plotting/selection.py
  geoapps/processing/__init__.py
  geoapps/processing/create.py
  geoapps/processing/data_interpolation.py
  geoapps/selection.py
  geoapps/utils/__init__.py
Due: check-copyright

Final touch to iso-surface creation. Add docs
  docs/conf.py
  docs/content/applications.rst
  docs/content/applications/create_isosurface.ipynb
  docs/content/applications/images/base_thumbnail.png
  docs/content/applications/images/iso_surface.png
  docs/content/applications/images/iso_surface_app.png
  geoapps/applications/Create_Iso_Surfaces.ipynb
  geoapps/applications/Index.ipynb
  geoapps/processing/create.py
  geoapps/utils/utils.py
Due: check-copyright, rstcheck

Add test for isosurface. Fix link to docs
  geoapps/applications/Create_Iso_Surfaces.ipynb
  tests/run_test.py
Due: check-copyright

fix missing space in text
  geoapps/processing/peak_finder.py
Due: check-copyright

Update all docs
  docs/content/applications.rst
  docs/content/applications/base_application.ipynb
  docs/content/applications/calculator.ipynb
  docs/content/applications/clustering.ipynb
  docs/content/applications/contouring.ipynb
  docs/content/applications/coordinate_transformation.ipynb
  docs/content/applications/create_isosurface.ipynb
  docs/content/applications/create_surface.ipynb
  docs/content/applications/data_interpolation.ipynb
  docs/content/applications/edge_detection.ipynb
  docs/content/applications/export.ipynb
  docs/content/applications/geophysical_inversion.ipynb
  docs/content/applications/images/calculator_thumbnail.png
  docs/content/applications/images/coordinate_transform_thumbnail.png
  docs/content/applications/images/edge_detection_thumbnail.png
  docs/content/applications/images/inversion_thumbnail.png
  docs/content/applications/images/object_selection_thumbnail.png
  docs/content/applications/images/peak_finder_thumbnail.png
  docs/content/applications/images/plot_selection.png
  docs/content/applications/object_data_selection.ipynb
  docs/content/applications/peak_finder.ipynb
  docs/content/applications/scatter.ipynb
  docs/content/applications/view_selection.ipynb
Due: rstcheck

Update calculator example for changes to no-data-values
  geoapps/processing/calculator.py
Due: check-copyright

Take advantage of nan in coordinate transformation
  geoapps/utils/utils.py
Due: check-copyright

Update changes to osgeo lat-lon coordinates
  geoapps/processing/coordinate_transformation.py
Due: check-copyright

update coordinate transform docs
  docs/content/applications/coordinate_transformation.ipynb
Due: none

Add release_notes, bump version to 0.4.0
  docs/conf.py
  docs/content/release_notes.rst
  geoapps/__init__.py
  setup.py
Due: check-copyright, rstcheck

Update geoapps/processing/create.py
  geoapps/processing/create.py
Due: check-copyright

Update geoapps/utils/utils.py
  geoapps/utils/utils.py
Due: check-copyright

Remove principal_moment function
  geoapps/utils/utils.py
Due: check-copyright

Docs string suggestions
  geoapps/utils/utils.py
Due: check-copyright

Update doc string
  geoapps/processing/create.py
Due: check-copyright

Fix bug in data transfer
  geoapps/processing/data_interpolation.py
Due: check-copyright

Add missing figures
  geoapps/applications/images/iso_surface.png
  geoapps/applications/images/iso_surface_app.png
Due: none

Standardizing doc strings for utils
  geoapps/utils/utils.py
Due: check-copyright

More docs strings
  geoapps/utils/utils.py
Due: check-copyright

Path conditions:
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
