Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.6.4
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
#-   repo: https://github.com/pre-commit/mirrors-pylint
#    rev: v2.6.0
#    hooks:
#    -   id: pylint
#        exclude: (devtools|docs)/
-   repo: local
    hooks:
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v1.17.1
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.0
    hooks:
    -   id: rst-backticks

Fix import
  geoapps/applications/Octree_Mesh_Creation.ipynb
Due: none

First stab at docs for octree_creation app
  docs/content/applications/images/octree_mesh_creation.png
  docs/content/applications/octree_mesh_creation.ipynb
Due: none

tests passing with updated uuid and reqs validation types
  geoapps/io/MVI/constants.py
  geoapps/io/MVI/params.py
  geoapps/io/input_file.py
  geoapps/io/params.py
  geoapps/io/validators.py
  tests/input_validator_test.py
  tests/params_test.py
Due: check-copyright

test
  tests/params_test.py
Due: check-copyright

nthing
  tests/params_test.py
Due: check-copyright

loop over characters without cast to list
  geoapps/utils/formatters.py
Due: check-copyright

Update octree_mesh_creation.ipynb
  docs/content/applications/octree_mesh_creation.ipynb
Due: none

Continue docs
  docs/content/applications/images/GA_pro_octree.gif
  docs/content/applications/images/refinement_block.png
  docs/content/applications/octree_mesh_creation.ipynb
Due: none

Add exemples on refinemtent types
  docs/content/applications.rst
  docs/content/applications/create_octree.ipynb
  docs/content/applications/images/GA_pro_octree.gif
  docs/content/applications/images/Octree_radial.png
  docs/content/applications/images/Octree_surface.png
  docs/content/applications/octree_mesh_creation.ipynb
  docs/content/applications/octree_mesh_creation.png
Due: rstcheck

Fix crash on non-existant object uid
  geoapps/create/octree_mesh.py
Due: check-copyright

Add more figures in docs.
  docs/content/applications/create_octree.ipynb
  docs/content/applications/images/Octree_core_depth.png
  docs/content/applications/images/Octree_padding_distance.png
  docs/content/applications/images/Octree_radial.png
  docs/content/applications/images/Octree_surface.png
  docs/content/applications/images/refinement_block.png
  geoapps/create/octree_mesh.py
Due: check-copyright

Update create_octree.ipynb
  docs/content/applications/create_octree.ipynb
Due: none

fixing simulation.py for new simpeg
  geoapps/simulation.py
Due: check-copyright

couple of import fixes
  geoapps/mvi_inversion.py
Due: check-copyright

nthign
  geoapps/simpegPF/Directives.py
Due: none

nthign
  geoapps/em1d_inversion.py
Due: check-copyright

Last changes to run em1d_inversion.py from simpegPF.
  geoapps/simpegEM1D/GlobalEM1D.py
  geoapps/simpegPF/Regularization.py
Due: none

remove chifact_start
  geoapps/em1d_inversion.py
Due: check-copyright

Fix mesh rotation on save iteration.
  geoapps/mvi_inversion.py
Due: check-copyright
