Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

Update geoapps/inversion/line_sweep/driver.py
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

Change tests to use ui.geoh5
  geoapps/utils/testing.py
  tests/run_tests/driver_airborne_tem_test.py
  tests/run_tests/driver_dc_2d_test.py
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ip_2d_test.py
  tests/run_tests/driver_ip_p3d_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_joint_surveys_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_mvi_test.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

fill out table with third party licenses
  .pre-commit-config.yaml
  README.rst
  THIRD_PARTY_LICENSES.txt
  THIRD_PARTY_SOFTWARE.rst
Due: rstcheck

only list the top level dependencies
  .pre-commit-config.yaml
  THIRD_PARTY_SOFTWARE.rst
Due: rstcheck

Update log file to inversion group at the end
  geoapps/inversion/driver.py
Due: pylint, check-copyright

Move out_group creation to driver.run. Fix pf_app test
  geoapps/inversion/driver.py
  geoapps/inversion/params.py
  geoapps/inversion/potential_fields/application.py
Due: pylint, check-copyright

Fix reference to out_group on joint inversion and test
  geoapps/inversion/joint/joint_surveys/constants.py
  tests/run_tests/driver_joint_surveys_test.py
Due: pylint, check-copyright

make mesh object for bounds, models
  geoapps/base/dash_application.py
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/base_inversion_layout.py
  geoapps/inversion/constants.py
  geoapps/inversion/params.py
  geoapps/inversion/potential_fields/gravity/application.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/application.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/application.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
Due: pylint, check-copyright

Fixes for pseudo 3d inversion
  geoapps/driver_base/driver.py
  geoapps/inversion/driver.py
  geoapps/inversion/line_sweep/driver.py
  geoapps/inversion/params.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

Update lock files for geoh5py 0.8.0a2
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Update requirements for pyside2
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Reset locks
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Add log to the forward. Update tests
  geoapps/inversion/driver.py
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ip_p3d_test.py
Due: pylint, check-copyright

Point lock files to simpeg branch GEOPY-268
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

topography only data; rename variables
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/base_inversion_layout.py
  geoapps/inversion/constants.py
  geoapps/inversion/params.py
  geoapps/inversion/potential_fields/gravity/application.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/gravity/params.py
  geoapps/inversion/potential_fields/magnetic_scalar/application.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/params.py
  geoapps/inversion/potential_fields/magnetic_vector/application.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/params.py
Due: pylint, check-copyright

make run test for dash inversion; remove original notebook
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/potential_fields/application.py
  geoapps/inversion/potential_fields/notebook.ipynb
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

fix merging issues
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/base_inversion_layout.py
  geoapps/inversion/constants.py
  geoapps/inversion/params.py
  geoapps/inversion/potential_fields/gravity/application.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/application.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/application.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
Due: pylint, check-copyright

update copyright; rebuild lock files
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  geoapps/inversion/potential_fields/gravity/layout.py
  geoapps/inversion/potential_fields/magnetic_scalar/layout.py
  geoapps/inversion/potential_fields/magnetic_vector/layout.py
Due: pylint, check-copyright

update variable names
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/potential_fields/gravity/application.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/application.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

Re-point to simpeg 0.19
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

make notebooks full-width
  geoapps/block_model_creation/notebook.ipynb
  geoapps/calculator/notebook.ipynb
  geoapps/clustering/notebook.ipynb
  geoapps/contours/notebook.ipynb
  geoapps/coordinate_transformation/notebook.ipynb
  geoapps/edge_detection/notebook.ipynb
  geoapps/export/notebook.ipynb
  geoapps/interpolation/notebook.ipynb
  geoapps/inversion/airborne_electromagnetics/notebook.ipynb
  geoapps/inversion/electricals/notebook.ipynb
  geoapps/inversion/potential_fields/notebook.ipynb
  geoapps/iso_surfaces/notebook.ipynb
  geoapps/octree_creation/notebook.ipynb
  geoapps/peak_finder/notebook.ipynb
  geoapps/triangulated_surfaces/notebook.ipynb
Due: none

fix some failing tests
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/potential_fields/gravity/constants.py
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

Fix path from comment
  tests/run_tests/driver_dc_p3d_test.py
Due: pylint, check-copyright

more renaming
  geoapps/inversion/base_inversion_layout.py
Due: pylint, check-copyright

clear notebooks; more renaming
  geoapps/inversion/potential_fields/gravity/notebook.ipynb
  geoapps/inversion/potential_fields/magnetic_scalar/notebook.ipynb
  geoapps/inversion/potential_fields/magnetic_vector/application.py
  geoapps/inversion/potential_fields/magnetic_vector/notebook.ipynb
Due: pylint, check-copyright

move write_trigger args to base; match GA colormap
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/potential_fields/gravity/application.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/gravity/notebook.ipynb
  geoapps/inversion/potential_fields/magnetic_scalar/application.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/notebook.ipynb
  geoapps/inversion/potential_fields/magnetic_vector/application.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/notebook.ipynb
Due: pylint, check-copyright

FEM runtest running through with inversion stalling. Need to verify sign.
  geoapps/inversion/__init__.py
  geoapps/inversion/airborne_electromagnetics/frequency_domain/__init__.py
  geoapps/inversion/airborne_electromagnetics/frequency_domain/constants.py
  geoapps/inversion/airborne_electromagnetics/frequency_domain/driver.py
  geoapps/inversion/airborne_electromagnetics/frequency_domain/params.py
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/directives_factory.py
  geoapps/inversion/components/factories/misfit_factory.py
  geoapps/inversion/components/factories/receiver_factory.py
  geoapps/inversion/components/factories/simpeg_factory.py
  geoapps/inversion/components/factories/simulation_factory.py
  geoapps/inversion/components/factories/source_factory.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/utils/testing.py
  geoapps/utils/write_default_uijson.py
  tests/run_tests/driver_fem_test.py
Due: pylint, check-copyright

Update figure path in inversion notebooks
  geoapps/inversion/potential_fields/gravity/notebook.ipynb
  geoapps/inversion/potential_fields/magnetic_scalar/notebook.ipynb
  geoapps/inversion/potential_fields/magnetic_vector/notebook.ipynb
Due: none

Fix tests
  geoapps/base/application.py
  geoapps/base/dash_application.py
  geoapps/coordinate_transformation/application.py
  geoapps/inversion/airborne_electromagnetics/application.py
  geoapps/shared_utils/utils.py
  geoapps/utils/testing.py
  tests/run_tests/apps_run_test.py
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_ip_p3d_test.py
Due: pylint, check-copyright

Begin implementation
  geoapps/inversion/__init__.py
  geoapps/inversion/components/factories/source_factory.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/inversion/electromagnetics/__init__.py
  geoapps/inversion/electromagnetics/application.py
  geoapps/inversion/electromagnetics/driver.py
  geoapps/inversion/electromagnetics/notebook.ipynb
  geoapps/inversion/electromagnetics/time_domain/__init__.py
  geoapps/inversion/electromagnetics/time_domain/constants.py
  geoapps/inversion/electromagnetics/time_domain/driver.py
  geoapps/inversion/electromagnetics/time_domain/params.py
  geoapps/inversion/params.py
  geoapps/utils/testing.py
  geoapps/utils/write_default_uijson.py
  tests/em1d_run_test.py
  tests/run_tests/apps_inversion_test.py
  tests/run_tests/driver_ground_tem_test.py
Due: pylint, check-copyright

Make SimPEGFactory abstract
  geoapps/inversion/components/factories/simpeg_factory.py
Due: pylint, check-copyright

More on abstract factory
  geoapps/inversion/components/factories/simpeg_factory.py
  geoapps/inversion/components/factories/survey_factory.py
Due: pylint, check-copyright

One more fix for abstract simpeg_factory
  geoapps/inversion/components/factories/misfit_factory.py
  geoapps/inversion/components/factories/simpeg_factory.py
  geoapps/inversion/components/factories/survey_factory.py
Due: pylint, check-copyright

Fix tem local_index
  geoapps/inversion/components/factories/survey_factory.py
Due: pylint, check-copyright

Some cleanups and testing
  geoapps/inversion/components/factories/entity_factory.py
  geoapps/utils/testing.py
  tests/run_tests/driver_ground_tem_test.py
Due: pylint, check-copyright

Update unitest
  tests/run_tests/driver_ground_tem_test.py
Due: pylint, check-copyright

Start adding unittest
  tests/run_tests/driver_joint_cross_gradient_test.py
Due: pylint, check-copyright

Update with create method
  geoapps/base/application.py
  geoapps/base/dash_application.py
  geoapps/utils/testing.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

Update lock files
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none
