Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

Update args
  geoapps/inversion/potential_fields/application.py
Due: pylint, check-copyright

start updating cluster docs
  docs/content/applications/clustering.ipynb
  docs/content/applications/images/cluster_app.PNG
  docs/content/applications/images/cluster_boxplot.png
  docs/content/applications/images/cluster_colorselect.PNG
  docs/content/applications/images/cluster_data.png
  docs/content/applications/images/cluster_hist.png
  docs/content/applications/images/cluster_inertia.png
  docs/content/applications/images/cluster_matrix.png
  docs/content/applications/images/cluster_nclusters.PNG
  docs/content/applications/images/cluster_object.png
  docs/content/applications/images/cluster_scatter.html
  docs/content/applications/images/cluster_stats.PNG
Due: none

MOre pylint fixes
  geoapps/contours/application.py
  geoapps/coordinate_transformation/application.py
Due: pylint, check-copyright

update image paths
  docs/content/applications/clustering.ipynb
  docs/content/applications/create_block_model.ipynb
  docs/content/applications/images/block_model/block_model_app.png
  docs/content/applications/images/block_model/block_model_application.PNG
  docs/content/applications/images/block_model/block_model_dropdown.PNG
  docs/content/applications/images/block_model/block_model_export.PNG
  docs/content/applications/images/block_model/block_model_thumbnail.png
  docs/content/applications/images/block_model/block_model_upload.PNG
  docs/content/applications/images/cluster/cluster_app.PNG
  docs/content/applications/images/cluster/cluster_boxplot.html
  docs/content/applications/images/cluster/cluster_colorselect.PNG
  docs/content/applications/images/cluster/cluster_data.png
  docs/content/applications/images/cluster/cluster_hist.html
  docs/content/applications/images/cluster/cluster_inertia.html
  docs/content/applications/images/cluster/cluster_lower.png
  docs/content/applications/images/cluster/cluster_matrix.html
  docs/content/applications/images/cluster/cluster_nclusters.PNG
  docs/content/applications/images/cluster/cluster_object.png
  docs/content/applications/images/cluster/cluster_output.PNG
  docs/content/applications/images/cluster/cluster_scale.png
  docs/content/applications/images/cluster/cluster_scatter.html
  docs/content/applications/images/cluster/cluster_stats.PNG
  docs/content/applications/images/cluster/cluster_thumbnail.png
  docs/content/applications/images/cluster/cluster_upper.png
  docs/content/applications/images/cluster_boxplot.png
  docs/content/applications/images/cluster_hist.png
  docs/content/applications/images/cluster_inertia.png
  docs/content/applications/images/cluster_matrix.png
  docs/content/applications/images/scatter/Scatter_plots.png
  docs/content/applications/images/scatter/scatter_app.PNG
  docs/content/applications/images/scatter/scatter_axis.png
  docs/content/applications/images/scatter/scatter_color.png
  docs/content/applications/images/scatter/scatter_downsampling.PNG
  docs/content/applications/images/scatter/scatter_export.PNG
  docs/content/applications/images/scatter/scatter_object.png
  docs/content/applications/images/scatter/scatter_plot.html
  docs/content/applications/images/scatter/scatter_size.PNG
  docs/content/applications/images/scatter/scatter_thumbnail.png
  docs/content/applications/images/scatter/scatter_xpanel.PNG
  docs/content/applications/scatter.ipynb
Due: none

update data interpolation docs
  docs/content/applications/data_interpolation.ipynb
Due: none

update data interpolation docs
  docs/content/applications/data_interpolation.ipynb
  docs/content/applications/images/data_interp_thumbnail.png
  geoapps/interpolation/constants.py
Due: pylint, check-copyright

update image paths
  docs/content/applications.rst
Due: rstcheck

update block model thumbnail
  docs/content/applications/images/block_model/block_model_thumbnail.png
Due: none

update scatter plot figure
  docs/content/applications/images/scatter/scatter_plot.html
  docs/content/applications/images/scatter/scatter_plot.json
  docs/content/applications/scatter.ipynb
Due: none

update clustering graphs
  docs/content/applications/clustering.ipynb
  docs/content/applications/images/cluster/cluster_boxplot.html
  docs/content/applications/images/cluster/cluster_boxplot.json
  docs/content/applications/images/cluster/cluster_hist.html
  docs/content/applications/images/cluster/cluster_hist.json
  docs/content/applications/images/cluster/cluster_inertia.html
  docs/content/applications/images/cluster/cluster_inertia.json
  docs/content/applications/images/cluster/cluster_matrix.html
  docs/content/applications/images/cluster/cluster_matrix.json
  docs/content/applications/images/cluster/cluster_scatter.html
  docs/content/applications/images/cluster/cluster_scatter.json
Due: none

fix cell order
  docs/content/applications/scatter.ipynb
Due: none

update data interpolation description
  docs/content/applications/data_interpolation.ipynb
  geoapps/interpolation/notebook.ipynb
Due: none

initial restructure for block model
  geoapps/base/dash_application.py
  geoapps/block_model_creation/application.py
Due: pylint, check-copyright

Bulk pylint fixes
  geoapps/interpolation/application.py
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/abstract_factory.py
  geoapps/inversion/components/factories/directives_factory.py
  geoapps/inversion/components/factories/entity_factory.py
  geoapps/inversion/components/factories/receiver_factory.py
  geoapps/inversion/components/factories/simulation_factory.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/params.py
  geoapps/iso_surfaces/driver.py
  geoapps/octree_creation/application.py
  geoapps/octree_creation/driver.py
  geoapps/octree_creation/params.py
  geoapps/peak_finder/application.py
  geoapps/peak_finder/constants.py
  geoapps/peak_finder/params.py
  geoapps/peak_finder/utils.py
  geoapps/utils/io.py
  geoapps/utils/plotting.py
  geoapps/utils/testing.py
  tests/data_test.py
  tests/locations_test.py
  tests/meshes_test.py
  tests/models_test.py
  tests/run_tests/apps_inversion_test.py
  tests/topography_test.py
  tests/window_test.py
Due: pylint, check-copyright

split callbacks scatterplot
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

Fix test
  geoapps/utils/io.py
  geoapps/utils/plotting.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

rearrange callbacks more, move functions to base
  geoapps/base/dash_application.py
  geoapps/block_model_creation/application.py
Due: pylint, check-copyright

Fix tests
  geoapps/base/application.py
  geoapps/base/plot.py
  geoapps/calculator/application.py
  geoapps/clustering/application.py
  geoapps/contours/application.py
  geoapps/coordinate_transformation/application.py
  geoapps/edge_detection/application.py
  geoapps/export/application.py
  geoapps/interpolation/application.py
  geoapps/inversion/airborne_electromagnetics/application.py
  geoapps/scatter_plot/application.py
  geoapps/triangulated_surfaces/application.py
  tests/em1d_run_test.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

Fix defaults behavior
  geoapps/base/plot.py
  geoapps/contours/application.py
  geoapps/edge_detection/application.py
  geoapps/inversion/airborne_electromagnetics/application.py
Due: pylint, check-copyright

More app_initializers
  geoapps/calculator/application.py
  geoapps/coordinate_transformation/application.py
  geoapps/export/application.py
Due: pylint, check-copyright
