Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.6.4
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
#-   repo: https://github.com/pre-commit/mirrors-pylint
#    rev: v2.6.0
#    hooks:
#    -   id: pylint
#        exclude: (devtools|docs)/
-   repo: local
    hooks:
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v1.17.1
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.0
    hooks:
    -   id: rst-backticks

Fix inconsistencies in magnetic inversion types. References to `mvic` type not accessable after assert. Different references to mvi.
  geoapps/pf_inversion.py
Due: check-copyright

Update to run_test
  tests/run_test.py
Due: check-copyright

Outfit inversion.py with changes to inversion type. Fix Float warnings form numpy
  geoapps/em1d_inversion.py
  geoapps/inversion.py
  geoapps/pf_inversion.py
Due: check-copyright

Fix bug with data_normaliztion=='ppm'. Add try/except for stability
  geoapps/processing/peak_finder.py
Due: check-copyright

Fix gdal osr import issues
  geoapps/export.py
  geoapps/processing/coordinate_transformation.py
  geoapps/utils/utils.py
Due: check-copyright

Show symlog threhsold on start
  geoapps/processing/peak_finder.py
Due: check-copyright

Improve stability of PeakFinder
  geoapps/processing/peak_finder.py
Due: check-copyright

Download FlinFlon project for tests
  environment.yml
  setup.py
  tests/run_test.py
Due: check-copyright

Fix deprecation warnings
  geoapps/export.py
  geoapps/inversion.py
  geoapps/plotting/scatter.py
  geoapps/plotting/selection.py
  geoapps/processing/create.py
  geoapps/processing/peak_finder.py
  tests/clustering_test.py
  tests/run_test.py
Due: check-copyright

Fix dependencies versions
  environment.yml
Due: none

Update the link to main.zip
  README.md
Due: none

Fix pip install requirements
  environment.yml
Due: none

Update batch and installation instructions
  Install_or_Update.bat
  Start_applications.bat
  docs/content/installation.rst
  docs/images/Install_start_bat.png
Due: rstcheck

Remove commented lines
  geoapps/inversion.py
Due: check-copyright

Clean ups
  geoapps/processing/peak_finder.py
Due: check-copyright

More cleanups
  geoapps/processing/peak_finder.py
Due: check-copyright

Add Xcite TEM system
  geoapps/utils/geophysical_systems.py
Due: check-copyright

Fixes for EM1D inversion. Test with Xcite
  geoapps/em1d_inversion.py
  geoapps/utils/geophysical_systems.py
Due: check-copyright

Reset Xcite to standard normalization
  geoapps/utils/geophysical_systems.py
Due: check-copyright

Add weighted_average and iso_surface functions
  geoapps/utils/utils.py
Due: check-copyright
