Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

More test fixing
  geoapps/scatter_plot/params.py
  geoapps/utils/write_default_uijson.py
  tests/run_tests/driver_joint_single_test.py
  tests/run_tests/driver_mag_test.py
Due: pylint, check-copyright

Update pyproject
  pyproject.toml
Due: none

Review and refactor pseudo depth calculations.
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/inversion/components/locations.py
  geoapps/inversion/line_sweep/driver.py
  geoapps/shared_utils/utils.py
  geoapps/utils/models.py
  geoapps/utils/surveys.py
Due: pylint, check-copyright

Remove unused test
  tests/utils_test.py
Due: pylint, check-copyright

Update tensor to drape model
  geoapps/shared_utils/utils.py
  geoapps/utils/models.py
  tests/utils_test.py
Due: pylint, check-copyright

Update dc2d tests for mesh changes
  tests/run_tests/driver_dc_2d_test.py
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_ip_2d_test.py
  tests/run_tests/driver_ip_p3d_test.py
Due: pylint, check-copyright

Update dependencies for latest on geoh5py and sweeper
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

debug tests
  geoapps/inversion/components/models.py
Due: pylint, check-copyright

set active values as type int32
  geoapps/inversion/components/models.py
Due: pylint, check-copyright

Better check to int
  geoapps/utils/models.py
Due: pylint, check-copyright

Fix pylint
  geoapps/driver_base/params.py
Due: pylint, check-copyright

Fix notebook plot
  geoapps/base/plot.py
Due: pylint, check-copyright

Add unit_conversion property of params class.
  geoapps/inversion/airborne_electromagnetics/time_domain/params.py
  geoapps/inversion/components/factories/directives_factory.py
  geoapps/inversion/components/factories/receiver_factory.py
  geoapps/inversion/components/factories/simulation_factory.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/inversion/params.py
Due: pylint, check-copyright

Improve handling on workspace change and params update
  geoapps/base/selection.py
  geoapps/edge_detection/application.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

change name to drape_locations
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/utils/surveys.py
Due: pylint, check-copyright

Remove reference to miniconda and anaconda in installation
  docs/content/installation.rst
Due: rstcheck

Small edit
  docs/content/installation.rst
Due: rstcheck

Create base2Dparams class. Augment test
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/params.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/params.py
  geoapps/inversion/electricals/params.py
  tests/run_tests/driver_dc_2d_test.py
Due: pylint, check-copyright

Remove alpha parameters in all forward constants
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/joint/single_property/constants.py
  geoapps/inversion/natural_sources/magnetotellurics/constants.py
  geoapps/inversion/natural_sources/tipper/constants.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
Due: pylint, check-copyright

GEOPY-936: precommit autoupdate
  .pre-commit-config.yaml
Due: none

GEOPY-936: exclude environment yaml file from codespell
  .pre-commit-config.yaml
Due: none

try to auto-generate 3rd party license notice [WIP]
  THIRD_PARTY_LICENSES2.txt
  devtools/licences_from_pypi.py
Due: check-copyright

GEOPY-546: add third party notice [WIP]
  .pre-commit-config.yaml
  README.rst
  THIRD_PARTY_SOFTWARE.rst
Due: rstcheck

increment RC version number
  README.rst
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright, rstcheck

GEOPY-937: update lock file for OMF 3.0.0-rc.4
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

GEOPY-937: fix regex for patching git URL in pyproject with hash
  devtools/add_url_tag_sha256.py
Due: check-copyright

Better handling of vertical extent
  geoapps/utils/models.py
Due: pylint, check-copyright

Update tests
  tests/run_tests/driver_dc_2d_test.py
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_ip_2d_test.py
  tests/run_tests/driver_ip_p3d_test.py
Due: pylint, check-copyright

bump version to rc.4
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

test readthedocs git-lfs
  readthedocs.yml
Due: none

GEOPY-939 pre-commit autoupdate to fix isort problem
  .pre-commit-config.yaml
Due: none

Point to mira_simpeg 0.19
  pyproject.toml
Due: none

Update geoapps/inversion/joint/single_property/params.py
  geoapps/inversion/joint/single_property/params.py
Due: pylint, check-copyright

Fix defaults for sens threshold
  geoapps/inversion/components/factories/directives_factory.py
  geoapps/inversion/constants.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/joint/single_property/constants.py
  geoapps/inversion/natural_sources/magnetotellurics/constants.py
  geoapps/inversion/natural_sources/tipper/constants.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
Due: pylint, check-copyright

Fix for removal of unique locations
  geoapps/inversion/components/data.py
  geoapps/inversion/utils.py
Due: pylint, check-copyright

Update for name changes
  geoapps/inversion/components/factories/misfit_factory.py
  geoapps/inversion/components/factories/simulation_factory.py
  geoapps/inversion/driver.py
Due: pylint, check-copyright

Update lock files
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Change function call, change defaults for PF.
  geoapps/inversion/components/models.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_mag_test.py
Due: pylint, check-copyright
