Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Edits as requested
  docs/conf.py
  docs/content/applications/create_octree.ipynb
  docs/content/applications/images/Octree_padding_distance.png
  docs/content/applications/images/Octree_radial.png
  docs/content/applications/images/Octree_surface.png
  docs/index.rst
Due: rstcheck

Working on prelim design of models class and a workspace object to pass around fetch and possibly other utilities.
  environment.yml
  geoapps/models.py
  geoapps/utils/workspace_objects.py
Due: check-copyright

Update requirements for simpeg main and path to tiled-simulations
  environment.yml
Due: none

Change em1d_inversion to use Directives.SaveIterationGeoh5. Small updates
  geoapps/em1d_inversion.py
  geoapps/simpegPF/Directives.py
Due: check-copyright

Code cleanups
  geoapps/em1d_inversion.py
Due: check-copyright

switching branches for hotfix
  geoapps/models.py
Due: check-copyright

added environment params to MVI/constants.py
  geoapps/io/MVI/constants.py
Due: check-copyright

Minor figure formating
  docs/content/applications/create_octree.ipynb
Due: none

Update create_surface
  docs/content/applications/create_surface.ipynb
Due: none

Fix typo in controlling in all app docs
  docs/content/applications/clustering.ipynb
  docs/content/applications/contouring.ipynb
  docs/content/applications/coordinate_transformation.ipynb
  docs/content/applications/create_isosurface.ipynb
  docs/content/applications/create_octree.ipynb
  docs/content/applications/data_interpolation.ipynb
  docs/content/applications/edge_detection.ipynb
  docs/content/applications/export.ipynb
  docs/content/applications/geophysical_inversion.ipynb
  docs/content/applications/peak_finder.ipynb
  docs/content/applications/scatter.ipynb
  docs/content/applications/view_selection.ipynb
Due: none

Typos as reported by RichardScottOZ
  docs/content/applications/create_octree.ipynb
Due: none

switching branches
  geoapps/models.py
  geoapps/utils/workspace_objects.py
Due: check-copyright

Still working out class details.
  geoapps/models.py
Due: check-copyright

Add core modules in io/octree
  geoapps/io/Octree/__init__.py
  geoapps/io/Octree/constants.py
  geoapps/io/Octree/params.py
Due: check-copyright

Update constants and params naming
  geoapps/io/Octree/constants.py
  geoapps/io/Octree/params.py
Due: check-copyright

Bypass non defined keys with try-except
  geoapps/io/params.py
Due: check-copyright

Reproduces old mvi_inversion.py results with new InversionMesh and InversionModel classes
  geoapps/meshes.py
  geoapps/models.py
  geoapps/mvi_inversion.py
Due: check-copyright

small refactor to put inversion drivers and components (mesh, model classes) into their own module
  geoapps/drivers/__init__.py
  geoapps/drivers/components/__init__.py
  geoapps/drivers/components/meshes.py
  geoapps/drivers/components/models.py
  geoapps/drivers/em1d_inversion.py
  geoapps/drivers/mt_inversion.py
  geoapps/drivers/mvi_inversion.py
  geoapps/drivers/pf_inversion.py
Due: check-copyright

Renamed mesh and model instances to natural language, and fixed get_survey method to only replace z location data with topo when draping.
  .gitignore
  geoapps/drivers/components/models.py
  geoapps/drivers/mvi_inversion.py
Due: check-copyright

New implementation of input_from_dict. Add special validation for refinement
  geoapps/io/MVI/params.py
  geoapps/io/Octree/constants.py
  geoapps/io/Octree/params.py
  geoapps/io/Octree/validators
  geoapps/io/input_file.py
Due: check-copyright

Path conditions:
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
