Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Good enough
  geoapps/io/DirectCurrent/constants.py
  geoapps/io/Gravity/constants.py
  geoapps/io/InducedPolarization/constants.py
  geoapps/io/Inversion/constants.py
  geoapps/io/MagneticScalar/constants.py
  geoapps/io/MagneticVector/constants.py
  tests/params_test.py
Due: check-copyright

Add gravity ui.json
  .gitignore
Due: none

Fix reset of line options on object/workspace change
  geoapps/processing/peak_finder.py
  geoapps/selection.py
Due: check-copyright

topography parameter should be isValue False in default_ui_json if default is going to be 0. Tests need to explicitly set topography to None for set_z_from_topo to work.
  geoapps/io/Inversion/constants.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_mag_test.py
Due: check-copyright

topography = None for test_set_z_from_topo too.
  tests/locations_test.py
Due: check-copyright

OK.. Nevermind. Better to just keep default None and set isValue False in the default_ui_json for topography.
  geoapps/io/DirectCurrent/constants.py
  geoapps/io/Gravity/constants.py
  geoapps/io/InducedPolarization/constants.py
  geoapps/io/Inversion/constants.py
  geoapps/io/MagneticScalar/constants.py
  geoapps/io/MagneticVector/constants.py
  tests/locations_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_mag_test.py
Due: check-copyright

skip data channel copy to new workspace if data channel bool active for forward only
  geoapps/inversion/pf_inversion_app.py
Due: check-copyright

Append 0 data values on empty FEM channels
  geoapps/drivers/em1d_inversion.py
Due: check-copyright

Fix initialization of PeakFinder app
  tests/run_tests/peak_finder_test.py
Due: check-copyright

Update ui.json
  .gitignore
Due: none

Explicitely install geoana in pip dependencies
  environment.yml
Due: none

Revert and force setuptools=58.5.1 from https://github.com/pypa/setuptools/issues/2849
  environment.yml
Due: none

Move setuptools version further down to 58.4
  environment.yml
Due: none

n_cpu in none_map should be an integer
  geoapps/io/Inversion/params.py
Due: check-copyright

ui.json update
  geoapps/io/Inversion/constants.py
  geoapps/io/MagneticScalar/constants.py
  geoapps/io/MagneticVector/constants.py
Due: check-copyright

fix params offset method to provide the drape channel if string or uuid type
  geoapps/io/Inversion/params.py
Due: check-copyright

Update DCIP app images and link
  geoapps/applications/Inversion_DCIP_app.ipynb
Due: none

Re-order Index page
  docs/content/applications.rst
  geoapps/applications/Index.ipynb
Due: rstcheck

Push dcip_thumbnail
  geoapps/applications/images/inversion_dcip_thumbnail.png
Due: none

Path conditions:
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
