Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

use local copy param-sweeps in dev if present
  devtools/setup-dev.bat
Due: none

Add check for zero width. Add unitest to cover the case
  geoapps/inversion/components/windows.py
  tests/run_tests/driver_dc_test.py
Due: pylint, check-copyright

Fix averaging axis
  geoapps/inversion/components/windows.py
  tests/window_test.py
Due: pylint, check-copyright

Update test
  tests/run_tests/driver_dc_test.py
Due: pylint, check-copyright

Update lock files
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

Initial framework
  geoapps/inversion/airborne_electromagnetics/time_domain/__init__.py
  geoapps/inversion/airborne_electromagnetics/time_domain/constants.py
  geoapps/inversion/airborne_electromagnetics/time_domain/driver.py
  geoapps/inversion/airborne_electromagnetics/time_domain/params.py
  geoapps/inversion/components/factories/receiver_factory.py
  geoapps/utils/write_default_uijson.py
Due: pylint, check-copyright

restrict to the conda-forge channel
  devtools/setup-conda-base.bat
  docs/environment.yml
  pyproject.toml
Due: none

regenerate locks with conda-forge only
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

support for mini-forge and mamba
  Install_or_Update.bat
  devtools/setup-dev.bat
  docs/content/installation.rst
  docs/images/Anaconda_Install.png
  docs/images/Mambaforge_Setup-1.png
  docs/images/Mambaforge_Setup-3.png
  get_conda_exec.bat
Due: rstcheck

recommend miniforge instead of mambaforge
  Install_or_Update.bat
  docs/content/installation.rst
  docs/images/Mambaforge_Setup-1.png
  docs/images/Mambaforge_Setup-3.png
  docs/images/Miniforge3_Setup-1.png
  docs/images/Miniforge3_Setup-3.png
  get_conda_exec.bat
Due: rstcheck

use libmamba solver
  Install_or_Update.bat
  devtools/setup-conda-base.bat
  devtools/setup-dev.bat
Due: none

reformat the installation page in the doc
  docs/content/installation.rst
Due: rstcheck

silent installation of libmamba solver in base
  Install_or_Update.bat
Due: none

relock with micromamba
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  devtools/run_conda_lock.py
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
Due: check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
