Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Update view_selection docs
  docs/content/applications/images/plot_selection.png
  docs/content/applications/view_selection.ipynb
Due: none

Change to Group/Name. Re-run docs
  docs/content/applications/coordinate_transformation.ipynb
  docs/content/applications/export.ipynb
  docs/content/applications/images/coordinate_transform_thumbnail.png
  docs/content/applications/object_data_selection.ipynb
  docs/content/applications/view_selection.ipynb
  geoapps/selection.py
Due: check-copyright

More docs refresh
  docs/content/applications/create_isosurface.ipynb
  docs/content/applications/create_octree.ipynb
  docs/content/applications/create_surface.ipynb
  docs/content/applications/data_interpolation.ipynb
  docs/content/applications/images/data_interp_thumbnail.png
  docs/content/applications/images/iso_surface.png
  docs/content/applications/images/model_surface.png
Due: none

Finish refresh of docs
  docs/content/applications/calculator.ipynb
  docs/content/applications/clustering.ipynb
  docs/content/applications/contouring.ipynb
  docs/content/applications/data_interpolation.ipynb
  docs/content/applications/edge_detection.ipynb
  docs/content/applications/geophysical_inversion.ipynb
  docs/content/applications/images/calculator_thumbnail.png
  docs/content/applications/images/cluster_thumbnail.png
  docs/content/applications/images/contours_thumbnail.png
  docs/content/applications/images/edge_detection_thumbnail.png
  docs/content/applications/images/inversion_thumbnail.png
  docs/content/applications/images/peak_finder_thumbnail.png
  docs/content/applications/images/scatter_thumbnail.png
  docs/content/applications/peak_finder.ipynb
  docs/content/applications/scatter.ipynb
Due: none

Fix for saving directives
  geoapps/drivers/em1d_inversion.py
  geoapps/drivers/pf_inversion.py
  geoapps/simpegPF/Directives.py
Due: check-copyright

Bump version. Add release notes.
  docs/conf.py
  docs/content/release_notes.rst
  geoapps/__init__.py
  setup.py
Due: check-copyright, rstcheck

Refresh peak_finder docs
  docs/content/applications/peak_finder.ipynb
Due: none

Update plot_result switch to avoid plotting on tests
  geoapps/base.py
  geoapps/plotting/selection.py
  geoapps/processing/peak_finder.py
  tests/peak_finder_test.py
  tests/run_test.py
Due: check-copyright

Refresh more docs
  docs/content/applications/create_isosurface.ipynb
  docs/content/applications/create_surface.ipynb
  docs/content/applications/scatter.ipynb
Due: none

One more try
  docs/content/applications/create_isosurface.ipynb
  docs/content/applications/create_surface.ipynb
  docs/content/applications/peak_finder.ipynb
Due: none

Re-organizes constructors and fixes all tests except the octree and peakfinder tests.
  geoapps/create/octree_mesh.py
  geoapps/io/Gravity/params.py
  geoapps/io/MVI/params.py
  geoapps/io/Octree/__init__.py
  geoapps/io/Octree/constants.py
  geoapps/io/Octree/params.py
  geoapps/io/PeakFinder/constants.py
  geoapps/io/PeakFinder/params.py
  geoapps/io/input_file.py
  geoapps/io/params.py
  geoapps/processing/peak_finder.py
  tests/input_file_test.py
  tests/params_test.py
Due: check-copyright

fix configuration of the dev environment
  .github/workflows/static-analysis.yml
  devtools/setup-dev.bat
  environment-dev.yml
Due: none

Typos
  docs/content/applications/base_application.ipynb
  docs/content/applications/clustering.ipynb
  docs/content/applications/contouring.ipynb
  docs/content/applications/create_octree.ipynb
  docs/content/applications/create_surface.ipynb
  docs/content/applications/export.ipynb
  docs/content/applications/geophysical_inversion.ipynb
  docs/content/applications/object_data_selection.ipynb
  docs/content/applications/peak_finder.ipynb
  docs/content/installation.rst
  geoapps/applications/Create_Surfaces.ipynb
  geoapps/applications/Edge_Detection.ipynb
  geoapps/applications/Geophysical_Inversion_app.ipynb
Due: rstcheck

Bring back create_surface
  .gitignore
  docs/content/applications/create_surface.ipynb
Due: none

All tests passing now.
  geoapps/io/Octree/__init__.py
  geoapps/io/Octree/params.py
  geoapps/io/validators.py
  geoapps/utils/testing.py
  tests/input_validator_test.py
  tests/params_test.py
Due: check-copyright

Reset working_directory on file change
  geoapps/base.py
Due: check-copyright

Update release notes
  docs/content/release_notes.rst
Due: rstcheck

Fix crash on export name
  geoapps/export.py
Due: check-copyright

Missing gif
  docs/content/applications/images/GA_pro_peakfinder.gif
Due: none

Refresh/fix docs
  docs/content/applications/clustering.ipynb
  docs/content/applications/export.ipynb
Due: none

Path conditions:
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
