Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Key names in defauli_ui_json should be roughly static from here on out. Built an interface to switch from string representations of the ui.json format back into python and vice-versa.
  geoapps/io/constants.py
  geoapps/io/driver.py
  tests/write_ui_json_test.py
Due: check-copyright

Add proof of concept for MT inversion with ui.json
  assets/FlinFlon.geoh5
  assets/input.ui.json
  geoapps/mt_inversion.py
Due: check-copyright

Update inversion.py
  geoapps/inversion.py
Due: check-copyright

Change reference to python 3.7
  docs/content/installation.rst
Due: rstcheck

Fix typo
  geoapps/inversion.py
Due: check-copyright

Bump pytest cache #
  .github/workflows/pytest-windows.yaml
Due: none

Attemp to re-run test without fixing versions
  .github/workflows/pytest-windows.yaml
  environment.yml
Due: none

try to fix version of h5py
  environment.yml
Due: none

Set back simpeg=0.13.1
  environment.yml
Due: none

Remove some versions
  environment.yml
Due: none

Try to bump cache
  .github/workflows/pytest-windows.yaml
Due: none

Try to run without cached
  .github/workflows/pytest-windows.yaml
Due: none

one more try
  .github/workflows/pytest-windows.yaml
Due: none

Revert pytest on Linux
  .github/workflows/pytest-unix-os.yaml
Due: none

Revert back to seb's mods, add gdal to requirements
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
  environment.yml
Due: none

remove fix version for h5py
  environment.yml
Due: none

Remove h5py from requirements
  environment.yml
Due: none

Change dependencies to favor conda-forge
  environment.yml
Due: none

Changes for geoh5py 0.1.2
  geoapps/base.py
  geoapps/inversion.py
  geoapps/plotting/plotting.py
  geoapps/processing/coordinate_transformation.py
  geoapps/selection.py
Due: check-copyright

Path conditions:
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
