Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

update a couple defaults
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
Due: pylint, check-copyright

test fixes
  geoapps/inversion/components/factories/entity_factory.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/utils/surveys.py
  geoapps/utils/testing.py
  tests/run_tests/apps_inversion_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/peak_finder_test.py
  tests/utils_test.py
Due: pylint, check-copyright

Fix app run test
  geoapps/inversion/electricals/application.py
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

Add back the mesh_From_params option for 2d meshes
  geoapps/inversion/components/meshes.py
  geoapps/inversion/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  tests/run_tests/driver_dc_test.py
Due: pylint, check-copyright

Update coolingFactor
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
Due: pylint, check-copyright

Update dc run test targets
  tests/run_tests/driver_dc_test.py
Due: pylint, check-copyright

Handle rotated meshes correctly
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/receiver_factory.py
  geoapps/inversion/components/factories/source_factory.py
  geoapps/inversion/components/meshes.py
  geoapps/inversion/components/models.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  tests/data_test.py
Due: pylint, check-copyright

Fix tests
  geoapps/inversion/components/factories/receiver_factory.py
  tests/models_test.py
Due: pylint, check-copyright

Another fix
  geoapps/inversion/components/factories/source_factory.py
Due: pylint, check-copyright

Update lock files. Point to mira-simpeg on pypi
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Fix multi writes. Avoid re-open warning
  geoapps/octree_creation/application.py
Due: pylint, check-copyright

Update lock files again. Point to 0.5.0 branch. Update add_url_sha_tag
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  devtools/add_url_tag_sha256.py
  devtools/pyproject-sha.toml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: check-copyright

Fix pylint
  tests/meshes_test.py
Due: pylint, check-copyright

Add MTReceivers to list of accepted octree object uids
  geoapps/octree_creation/constants.py
Due: pylint, check-copyright

GEOPY-674: update github actions and devtools scripts
  .github/workflows/create_env_file.yml
  .github/workflows/issue_to_jira.yml
  .github/workflows/pr_add_jira_summary.yml
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
  .github/workflows/static-analysis.yml
  .gitignore
  .pre-commit-config.yaml
  devtools/add_url_tag_sha256.py
  devtools/create_application_files.py
  devtools/run_conda_lock.py
  devtools/setup-dev.bat
  pyproject.toml
Due: check-copyright

Build a non-rotated mesh in FlinFlon and point the app_initializers to it
  assets/FlinFlon.geoh5
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
Due: pylint, check-copyright

limit python version as for geoh5py
  pyproject.toml
Due: none

remove commented dependencies
  pyproject.toml
Due: none

use new simpeg package name
  pyproject.toml
Due: none
