Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

Set conda_environment to geoapps in trigger_click
  geoapps/contours/application.py
Due: pylint, check-copyright

update conda_environment to geoapps in param_dict on trigger_click
  geoapps/edge_detection/application.py
Due: pylint, check-copyright

same for iso-surfaces
  geoapps/iso_surfaces/application.py
Due: pylint, check-copyright

update lock files for pr
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Update test for the new curve-apps contour using scikit-image
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

Reset external_sheets to None
  geoapps/base/dash_application.py
  geoapps/block_model_creation/application.py
  geoapps/clustering/application.py
  geoapps/inversion/base_inversion_application.py
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

in dependencies: no more #sha256= and use tar.gz
  pyproject.toml
Due: none

update comments about deps with URLs or git revisions
  pyproject.toml
Due: none

for version of tbb to align pypi and conda
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Fix intel-openmp
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Use pip for numpy?
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Fixes for pytest
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  geoapps/clustering/application.py
  py-3.10.conda-lock.yml
  tests/run_tests/apps_run_test.py
  tests/version_test.py
Due: pylint, check-copyright

Bump version for jupyter
  Start_applications.bat
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Change mkl dependency
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Update lock
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

Fix reference to notebookapp
  Start_applications.bat
  geoapps/inversion/base_inversion_application.py
  geoapps/scripts/start_notebook.py
Due: pylint, check-copyright

Try dependency through conda-lock
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Update reqs
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Remove print
  geoapps/inversion/base_inversion_application.py
Due: pylint, check-copyright

GEOPY-1636: point to peak-finder develop branch
  pyproject.toml
Due: none

GEOPY-1636: move indirect dependencies under conda-lock section
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

GEOPY-1636: use released simpeg-archive
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Revert "GEOPY-1636: use released simpeg-archive"
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

relock on latests development branches
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

create a new "das-application" file and poitn to it
  geoapps/peak_finder/application.py
Due: pylint, check-copyright

update pyproject to point on 1681
  geoapps/base/dash_application.py
  geoapps/peak_finder/application.py
  pyproject.toml
Due: pylint, check-copyright

Re-lock
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

[DEVOPS-452] Use MiraGeoscience/pre-commit-hooks hook + Update hooks version
  .pre-commit-config.yaml
Due: none

[DEVOPS-452] Use reusable github workflows: JIRA
  .github/workflows/issue_to_jira.yml
  .github/workflows/pr_add_jira_summary.yml
Due: none

[DEVOPS-452] Ruff + Pycln + trim trailing whitespace fixes
  geoapps/base/application.py
  geoapps/base/dash_application.py
  geoapps/calculator/application.py
  geoapps/contours/application.py
  geoapps/edge_detection/application.py
  geoapps/interpolation/driver.py
  geoapps/inversion/base_inversion_application.py
  geoapps/iso_surfaces/application.py
  geoapps/peak_finder/application.py
  geoapps/scatter_plot/application.py
  geoapps/utils/models.py
  tests/utils_test.py
Due: pylint, check-copyright

Re-build locks
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

Fix loxk for latest peak-finder
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

[DEVOPS-452] Update github workflows
  .github/workflows/pytest-unix-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/python_analysis.yml
  .github/workflows/static-analysis.yml
Due: none

[DEVOPS-452] Update .pre-commit-config with newer version
  .pre-commit-config.yaml
Due: none

[DEVOPS-452] Modify python_analysis
  .github/workflows/python_analysis.yml
Due: none

[DEVOPS-452] Update package_manager
  .github/workflows/python_analysis.yml
Due: none

[DEVOOPS-452] Correct pyproject.toml given .pre-commit-hooks
  pyproject.toml
Due: none

[DEVOPS-452] Delete useless devtools scripts
  devtools/check-copyright.py
  devtools/git_message_hook.py
Due: check-copyright

GEOPY-1651: use updated simpeg-drivers and param-sweeps
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

relock Conda env files
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

Path conditions:
  pylint: any of: \.py$ and not (^(devtools|docs)/) and not ((^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/))
  check-copyright: any of: (^LICENSE|^README(|-dev).rst|\.py|\.pyi)$ and not ((^\.|^docs/)) and not ((^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/))
