Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/)
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]
    autoupdate_branch: develop
    autoupdate_schedule: monthly

repos:
-   repo: https://github.com/psf/black
    rev: 23.10.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        additional_dependencies: [tomli] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://github.com/PyCQA/flake8
#    rev: 6.1.0
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
    -   id: pyupgrade
        args: [--py39-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v1.6.1
#    hooks:
#    -   id: mypy
#        additional_dependencies: [
#            types-toml,
#            types-PyYAML,
#            tomli # to read config from pyproject.toml
#        ]
-   repo: https://github.com/codingjoe/relint
    rev: 3.1.0
    hooks:
    -   id: relint
        args: [-W]  # to fail on warnings
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: ^(devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [text]
        files: (^LICENSE|^README(|-dev).rst|\.py|\.pyi)$
        exclude: (^\.|^docs/)
    -   id: prepare-commit-msg
        stages: [prepare-commit-msg]
        name: Prepare commit message
        entry: python devtools/git_message_hook.py --prepare
        language: python
    -   id: check-commit-msg
        stages: [commit-msg]
        name: Check commit message
        entry: python devtools/git_message_hook.py --check
        language: python
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        exclude: (-lock\.ya?ml|\benvironments/.*\.ya?ml|\.ipynb|^THIRD_PARTY_SOFTWARE\.rst)$
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        exclude: ^THIRD_PARTY_SOFTWARE.rst$
        additional_dependencies: [sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: rst-backticks
        exclude: ^THIRD_PARTY_SOFTWARE.rst$

Update geoapps/clustering/driver.py
  geoapps/clustering/driver.py
Due: pylint, check-copyright

GEOPY-1463 regen lockfiles and set version to 0.11.1-post.1
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  docs/conf.py
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

GEOPY-1445: update environment lock files
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

GEOPY-1445: get pydantic from conda, not pip
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

GEOPY-1445: get lasio from conda, not pip
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

GEOPY-1445: add missing from future
  geoapps/utils/surveys.py
Due: pylint, check-copyright

GEOPY-1445: apply pyupgrade for Python 3.10
  .pre-commit-config.yaml
  geoapps/utils/surveys.py
Due: pylint, check-copyright

GEOPY-1445: force libmamba solver
  Install_or_Update.bat
  README.rst
  devtools/setup-dev.bat
Due: check-copyright

Fix beta start
  tests/run_tests/driver_ground_tem_test.py
Due: pylint, check-copyright

Update requirements. Add print for testing
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  geoapps/utils/testing.py
  py-3.10.conda-lock.yml
  pyproject.toml
Due: pylint, check-copyright

Set seed in directive args
  geoapps/inversion/components/factories/directives_factory.py
Due: pylint, check-copyright

Remove autoflake
  .pre-commit-config.yaml
Due: none

Remove random seed
  geoapps/inversion/utils.py
  tests/run_tests/driver_airborne_tem_test.py
  tests/run_tests/driver_dc_2d_test.py
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_fem_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ground_tem_test.py
  tests/run_tests/driver_ip_2d_test.py
  tests/run_tests/driver_ip_p3d_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_joint_cross_gradient_test.py
  tests/run_tests/driver_joint_surveys_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_mvi_test.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

Update tests
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_ip_p3d_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_joint_cross_gradient_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_mvi_test.py
Due: pylint, check-copyright

Point to dev8
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Fix tests
  tests/iso_surfaces_test.py
  tests/run_tests/driver_ip_2d_test.py
  tests/run_tests/driver_ip_p3d_test.py
  tests/run_tests/driver_joint_cross_gradient_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mvi_test.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

Fic ip test
  tests/run_tests/driver_ip_2d_test.py
Due: pylint, check-copyright

Move update of limits to object selection
  geoapps/inversion/base_inversion_application.py
Due: pylint, check-copyright

Add target to print. clean up
  geoapps/utils/testing.py
Due: pylint, check-copyright

Change geoapps.inversion import to simpeg_drivers (except em1d and application stuff)
  geoapps/inversion/__init__.py
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/driver.py
  geoapps/inversion/joint/constants.py
  geoapps/inversion/joint/driver.py
  geoapps/inversion/joint/params.py
  geoapps/inversion/potential_fields/gravity/application.py
  geoapps/utils/surveys.py
  geoapps/utils/write_default_uijson.py
  tests/constants_test.py
  tests/data_test.py
  tests/locations_test.py
  tests/meshes_test.py
  tests/models_test.py
  tests/params_test.py
  tests/run_tests/apps_inversion_test.py
  tests/run_tests/driver_airborne_tem_test.py
  tests/run_tests/driver_dc_2d_test.py
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_fem_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ground_tem_test.py
  tests/run_tests/driver_ip_2d_test.py
  tests/run_tests/driver_ip_p3d_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_joint_cross_gradient_test.py
  tests/run_tests/driver_joint_surveys_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_mvi_test.py
  tests/run_tests/driver_tipper_test.py
  tests/topography_test.py
  tests/utils_test.py
  tests/write_default_uijson_test.py
Due: pylint, check-copyright

run_commands -> simpeg_drivers.driver
  geoapps/inversion/constants.py
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/electromagnetics/frequency_domain/constants.py
  geoapps/inversion/electromagnetics/time_domain/constants.py
  geoapps/inversion/joint/joint_cross_gradient/constants.py
  geoapps/inversion/joint/joint_surveys/constants.py
  geoapps/inversion/natural_sources/magnetotellurics/constants.py
  geoapps/inversion/natural_sources/tipper/constants.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
Due: pylint, check-copyright

BaseDriver and BaseParams should come from geoapps-utils
  geoapps/base/application.py
  geoapps/base/dash_application.py
  geoapps/block_model_creation/driver.py
  geoapps/block_model_creation/params.py
  geoapps/clustering/driver.py
  geoapps/contours/driver.py
  geoapps/contours/params.py
  geoapps/driver_base/driver.py
  geoapps/edge_detection/driver.py
  geoapps/edge_detection/params.py
  geoapps/interpolation/driver.py
  geoapps/interpolation/params.py
  geoapps/inversion/components/factories/misfit_factory.py
  geoapps/inversion/components/factories/receiver_factory.py
  geoapps/inversion/components/factories/simpeg_factory.py
  geoapps/inversion/components/factories/simulation_factory.py
  geoapps/inversion/components/factories/source_factory.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/inversion/components/models.py
  geoapps/inversion/components/topography.py
  geoapps/inversion/driver.py
  geoapps/inversion/params.py
  geoapps/iso_surfaces/driver.py
  geoapps/iso_surfaces/params.py
  geoapps/octree_creation/driver.py
  geoapps/octree_creation/params.py
  geoapps/peak_finder/driver.py
  geoapps/peak_finder/params.py
  geoapps/scatter_plot/driver.py
  geoapps/scatter_plot/params.py
Due: pylint, check-copyright

Cull out overlapping tests
  tests/__init__.py
  tests/data_test.py
  tests/locations_test.py
  tests/meshes_test.py
  tests/models_test.py
  tests/run_tests/__init__.py
  tests/run_tests/apps_inversion_test.py
  tests/run_tests/apps_run_test.py
  tests/run_tests/driver_airborne_tem_test.py
  tests/run_tests/driver_dc_2d_test.py
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_fem_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ground_tem_test.py
  tests/run_tests/driver_ip_2d_test.py
  tests/run_tests/driver_ip_p3d_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_joint_cross_gradient_test.py
  tests/run_tests/driver_joint_surveys_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_mvi_test.py
  tests/run_tests/driver_tipper_test.py
  tests/run_tests/octree_creation_test.py
  tests/run_tests/peak_finder_test.py
  tests/topography_test.py
Due: pylint, check-copyright

remove unnecessary import
  tests/__init__.py
Due: pylint, check-copyright

point octree application to octree-creation-app driver/params
  geoapps/octree_creation/application.py
Due: pylint, check-copyright

change imports
  geoapps/inversion/components/meshes.py
  geoapps/octree_creation/__init__.py
  geoapps/octree_creation/application.py
  geoapps/octree_creation/driver.py
  geoapps/octree_creation/notebook.ipynb
  geoapps/octree_creation/params.py
  geoapps/utils/testing.py
  geoapps/utils/write_default_uijson.py
  tests/params_test.py
  tests/utils_test.py
Due: pylint, check-copyright

update run_command
  geoapps/octree_creation/constants.py
Due: pylint, check-copyright

update refinement widgets for new format
  geoapps/octree_creation/application.py
Due: pylint, check-copyright

Update lock files
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

pylint fixes
  geoapps/edge_detection/driver.py
  geoapps/inversion/driver.py
  geoapps/octree_creation/notebook.ipynb
  geoapps/scatter_plot/params.py
Due: pylint, check-copyright

pylint
  geoapps/inversion/driver.py
Due: pylint, check-copyright

pylint
  pylintrc
Due: none

update lock files
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

update mesh and data object in flinflon.geoh5
  geoapps-assets/FlinFlon.geoh5
Due: none

cull constants so that only app_initializers left
  geoapps-assets/FlinFlon_dcip.geoh5
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/electromagnetics/frequency_domain/constants.py
  geoapps/inversion/electromagnetics/time_domain/constants.py
  geoapps/inversion/joint/constants.py
  geoapps/inversion/joint/joint_cross_gradient/constants.py
  geoapps/inversion/joint/joint_surveys/constants.py
  geoapps/inversion/natural_sources/magnetotellurics/constants.py
  geoapps/inversion/natural_sources/tipper/constants.py
  geoapps/inversion/potential_fields/gravity/application.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  tests/params_test.py
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

update inversion test with new dc mesh uid
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

GEOPY-1472: take changes from template repo (for run_conda_lock)
  .pre-commit-config.yaml
  README-dev.rst
  devtools/run_conda_lock.py
  pyproject.toml
Due: check-copyright

GEOPY-1472: update comment on libblas in pyproject.toml
  pyproject.toml
Due: none
