Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

fix typo on env file name
  Install_or_Update.bat
Due: none

Bump version to 0.11.0-alpha.1
  docs/conf.py
  geoapps/__init__.py
Due: pylint, check-copyright

Append input_file json to options on creation
  geoapps/inversion/params.py
  tests/run_tests/driver_mag_test.py
Due: pylint, check-copyright

Bump version in toml file
  pyproject.toml
Due: none

Re-instate assets_path
  geoapps/__init__.py
Due: pylint, check-copyright

Convert workspace_geoh5 to string
  geoapps/inversion/params.py
Due: pylint, check-copyright

update version to rc.1
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

GEOPY-895: ignore all pip depencies when installing
  Install_or_Update.bat
  devtools/setup-dev.bat
Due: none

set PYTHONUTF8=1 for dev env install script
  devtools/setup-dev.bat
Due: none

specify the extras for geoapps for in the locked env files
  devtools/create_application_env_files.py
Due: check-copyright

remove duplicated link reference declaration in README
  README.rst
Due: rstcheck

remove raw html from README
  README.rst
Due: rstcheck

Change ference to private _demote method. Update input_file.data on params.update
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  geoapps/base/dash_application.py
  geoapps/driver_base/params.py
  geoapps/inversion/params.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  pyproject.toml
  tests/run_tests/driver_mag_test.py
Due: pylint, check-copyright

Add properties for components
  geoapps/driver_base/params.py
  geoapps/inversion/components/windows.py
  geoapps/inversion/driver.py
Due: pylint, check-copyright

GEOPY-896 fix image reference in README.rst
  README.rst
Due: rstcheck

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
