Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

initial commit, use driver in application
  geoapps/edge_detection/application.py
  geoapps/edge_detection/constants.py
  geoapps/edge_detection/driver.py
  geoapps/edge_detection/params.py
Due: pylint, check-copyright

fix missing numpy import
  geoapps/calculator/application.py
Due: pylint, check-copyright

application working using driver
  geoapps/edge_detection/application.py
  geoapps/edge_detection/constants.py
  geoapps/edge_detection/driver.py
Due: pylint, check-copyright

restructure driver
  geoapps/edge_detection/application.py
  geoapps/edge_detection/driver.py
Due: pylint, check-copyright

update imports
  geoapps/edge_detection/__init__.py
  geoapps/edge_detection/notebook.ipynb
Due: pylint, check-copyright

use mamba for faster update of the dev environment
  devtools/setup-dev.bat
Due: none

helper script to setup the conda base environment
  devtools/setup-conda-base.bat
Due: none

some comments about dev scripts purpose and usage
  devtools/pack_simpeg_env.py
  devtools/run_conda_lock.py
  devtools/setup-conda-base.bat
  devtools/setup-dev.bat
Due: check-copyright

update lock environments after utm added in simpeg
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64-simpeg.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

pack also geoapps in full
  .github/workflows/build_bundle.yml
Due: none

cache base environment
  .github/workflows/build_bundle.yml
Due: none

do not release build nor release full conda pack upon version tag
  .github/workflows/build_bundle.yml
Due: none

remove cells
  geoapps/edge_detection/notebook.ipynb
Due: none

commenting, restructuring
  geoapps/edge_detection/application.py
  geoapps/edge_detection/driver.py
  geoapps/edge_detection/params.py
Due: pylint, check-copyright

update import
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

fix live link and export
  geoapps/edge_detection/application.py
  geoapps/edge_detection/driver.py
Due: pylint, check-copyright

fix edge detection test workspace
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

remove monitoring directory
  geoapps/edge_detection/constants.py
Due: pylint, check-copyright

add plot_result variable
  geoapps/edge_detection/constants.py
Due: pylint, check-copyright

initial commit for dash version of scatter plots
  environment.yml
  geoapps/scatter_plot/dash_application.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
