Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

fix reference to geoh5py
  environment-dev.yml
  environment.yml
  pyproject.toml
Due: none

Change requirements back to release branches
  environment.yml
Due: none

Typo
  environment.yml
Due: none

make sure there are points within min/max
  geoapps/scatter_plot/driver.py
Due: pylint, check-copyright

update data selection when switching objects
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

fix install_or_update to rely on packages from the environment only
  Install_or_Update.bat
Due: none

commenting, imports
  geoapps/scatter_plot/application.py
  geoapps/scatter_plot/constants.py
  geoapps/scatter_plot/driver.py
  geoapps/scatter_plot/params.py
Due: pylint, check-copyright

change release
  environment.yml
Due: none

Typo again
  environment.yml
Due: none

Fix for change on prop groups
  geoapps/base/selection.py
Due: pylint, check-copyright

pre-commit hooks
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

update import
  geoapps/clustering/application.py
Due: pylint, check-copyright

use old scatter_plot application with clustering
  geoapps/clustering/application.py
  geoapps/clustering/scatter_application.py
Due: pylint, check-copyright

dask is not a soft dependency
  pyproject.toml
Due: none

add pip in conda environment
  env-python-3.7.yml
  env-python-3.8.yml
  env-python-3.9.yml
Due: none

initial edge_detection uijson
  assets/uijson/edge_detection.ui.json
  geoapps/utils/write_default_uijson.py
Due: pylint, check-copyright

use the geoh5py release branch
  pyproject.toml
Due: none

initial commit edge_detection constants, params
  geoapps/edge_detection/constants.py
  geoapps/edge_detection/params.py
Due: pylint, check-copyright

fix conda channels: defaults instead of main
  pyproject.toml
Due: none

script to generate conda lock and env files
  devtools/run_conda_lock.py
Due: check-copyright
