Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

Fix reference to SimPEG -> simpeg
  geoapps/inversion/__init__.py
  geoapps/inversion/utils.py
  geoapps/utils/surveys.py
  geoapps/utils/testing.py
Due: pylint, check-copyright

Fix clustering app failure on array length
  geoapps/clustering/application.py
Due: pylint, check-copyright

Switch matplotlib to conda
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Bulk updates
  geoapps/base/selection.py
  geoapps/block_model_creation/driver.py
  geoapps/interpolation/driver.py
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/components/preprocessing.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/electromagnetics/application.py
  geoapps/inversion/electromagnetics/driver.py
  geoapps/shared_utils/utils.py
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

Remove obsolete test
  tests/utils_test.py
Due: pylint, check-copyright

Remove extra masking for dc ip
  geoapps/inversion/components/preprocessing.py
Due: pylint, check-copyright

Fix issue with new definition of centroids
  geoapps/interpolation/driver.py
  geoapps/inversion/electromagnetics/driver.py
  geoapps/triangulated_surfaces/application.py
Due: pylint, check-copyright

Fix type for gdal
  geoapps/coordinate_transformation/application.py
  geoapps/utils/io.py
Due: pylint, check-copyright

Disable protected access
  tests/utils_test.py
Due: pylint, check-copyright

Re-build locks
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

fix variable name (codespell)
  geoapps/triangulated_surfaces/application.py
Due: pylint, check-copyright

Refresh README
  README.rst
Due: check-copyright

Bump python version for docs
  docs/environment.yml
Due: none

Remove beta from version
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

Update release notes.
  docs/content/release_notes.rst
Due: none

Add _param_class as class attribute to base
  geoapps/base/application.py
Due: pylint, check-copyright

Disable protected access
  geoapps/driver_base/utils.py
Due: pylint, check-copyright

UNpin version for docs
  docs/environment.yml
Due: none

Fix language warning to "en"
  docs/conf.py
Due: none

Remove numbering on getting started
  docs/content/installation.rst
Due: none

go easy on pylint max-args as long as not too-many-positional-arguments
  pylintrc
Due: none

Add poetry-check hook and update pyproject.toml structure
  .pre-commit-config.yaml
  pyproject.toml
Due: none

call reusable workflows
  .github/workflows/pr_add_jira_summary.yml
Due: none

Refactor workflows to reuse components for JIRA issue creation and static analysis
  .github/workflows/pr_add_jira_summary.yml
  .github/workflows/python_analysis.yml
Due: none

Refactor JIRA issue creation workflow permissions and remove obsolete pytest workflows for Unix and Windows
  .github/workflows/issue_to_jira.yml
Due: none

add workflow to run zizmor
  .github/workflows/zizmor-security.yml
Due: none

address zizmor warnings
  .github/workflows/issue_to_jira.yml
  .github/workflows/pr_add_jira_summary.yml
Due: none

do not repopulate PR title upon changes
  .github/workflows/pr_add_jira_summary.yml
Due: none

do not run Jira related workflows on forks
  .github/workflows/issue_to_jira.yml
  .github/workflows/pr_add_jira_summary.yml
Due: none

fix secrets for Jira workflow
  .github/workflows/issue_to_jira.yml
Due: none

fix condition for issue_to_jira workflow
  .github/workflows/issue_to_jira.yml
Due: none

improve conditions and comments
  .github/workflows/issue_to_jira.yml
  .github/workflows/pr_add_jira_summary.yml
Due: none

fix declarations of dependencies and relock conda env
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  geoapps/driver_base/driver.py
  py-3.10.conda-lock.yml
  pyproject.toml
Due: pylint, check-copyright

support also Python 3.11 and 3.12
  .github/workflows/python_analysis.yml
  deps-lock-config.yaml
  environments/env-python-3.11.yml
  environments/env-python-3.12.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  environments/py-3.11-linux-64-dev.conda.lock.yml
  environments/py-3.11-linux-64.conda.lock.yml
  environments/py-3.11-win-64-dev.conda.lock.yml
  environments/py-3.11-win-64.conda.lock.yml
  environments/py-3.12-linux-64-dev.conda.lock.yml
  environments/py-3.12-linux-64.conda.lock.yml
  environments/py-3.12-win-64-dev.conda.lock.yml
  environments/py-3.12-win-64.conda.lock.yml
  py-3.11.conda-lock.yml
  py-3.12.conda-lock.yml
  pyproject.toml
Due: none

Fix imports
  geoapps/base/application.py
  geoapps/inversion/__init__.py
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
  geoapps/inversion/potential_fields/gravity/application.py
  geoapps/inversion/potential_fields/magnetic_vector/application.py
  geoapps/utils/write_default_uijson.py
  tests/run_tests/apps_inversion_test.py
  tests/write_default_uijson_test.py
Due: pylint, check-copyright

Continue fiixing imports
  geoapps/base/dash_application.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/gravity/application.py
  geoapps/inversion/potential_fields/magnetic_scalar/application.py
  geoapps/inversion/potential_fields/magnetic_vector/application.py
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

Multi fixes for inversion apps
  geoapps/base/application.py
  geoapps/base/dash_application.py
  geoapps/contours/application.py
  geoapps/edge_detection/application.py
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/components/preprocessing.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/electromagnetics/application.py
  geoapps/inversion/electromagnetics/driver.py
  geoapps/inversion/electromagnetics/notebook.ipynb
  geoapps/inversion/potential_fields/__init__.py
  geoapps/inversion/potential_fields/application.py
  geoapps/inversion/potential_fields/gravity/application.py
  geoapps/inversion/potential_fields/gravity/notebook.ipynb
  geoapps/inversion/potential_fields/magnetic_scalar/application.py
  geoapps/inversion/potential_fields/magnetic_vector/application.py
  geoapps/iso_surfaces/application.py
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

Remove internal block_model app. FIx test
  geoapps/base/dash_application.py
  geoapps/block_model_creation/application.py
  geoapps/block_model_creation/constants.py
  geoapps/block_model_creation/driver.py
  geoapps/block_model_creation/params.py
  tests/data_transfer_test.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

Bump versions according to GEOPY-2403
  pyproject.toml
Due: none

Use name of test for geoh5
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not (^(devtools|docs)/) and not ((^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/))
  check-copyright: any of: (^LICENSE|^README(|-dev).rst|\.py|\.pyi)$ and not ((^\.|^docs/)) and not ((^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/))
