Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

relock with micromamba
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  devtools/run_conda_lock.py
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
Due: check-copyright

forbid usage of mamba by conda-lock
  devtools/run_conda_lock.py
Due: check-copyright

switching branches
  geoapps/inversion/airborne_electromagnetics/time_domain/constants.py
  geoapps/inversion/airborne_electromagnetics/time_domain/params.py
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/entity_factory.py
  geoapps/inversion/components/factories/misfit_factory.py
  geoapps/inversion/components/factories/receiver_factory.py
  geoapps/inversion/components/factories/simpeg_factory.py
  geoapps/inversion/components/factories/source_factory.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/inversion/driver.py
Due: pylint, check-copyright

add self.ordering to survey_factory
  geoapps/inversion/components/factories/survey_factory.py
Due: pylint, check-copyright

pylint
  geoapps/inversion/components/factories/survey_factory.py
Due: pylint, check-copyright

update copyright date in license file
  .pre-commit-config.yaml
  LICENSE
Due: none

update README
  README.md
  README.rst
Due: rstcheck

check copyright date in license and readme file
  .pre-commit-config.yaml
  devtools/check-copyright.py
Due: check-copyright

replace absolute paths in generated lock files
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  devtools/run_conda_lock.py
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: check-copyright

use raw html for image alignment
  README.rst
Due: rstcheck

remove redundant assertion
  devtools/run_conda_lock.py
Due: check-copyright

switching branches
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/directives_factory.py
  geoapps/inversion/components/factories/misfit_factory.py
  geoapps/inversion/components/factories/simulation_factory.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/inversion/driver.py
Due: pylint, check-copyright

update flinflon with test atem data
  assets/FlinFlon.geoh5
Due: none

fix link to Vale Canada website
  README.rst
Due: rstcheck

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
