Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

Fix store_sensitivities in constant
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
Due: pylint, check-copyright

cleanup
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/driver.py
Due: pylint, check-copyright

fix broken test import
  tests/pseudo_three_dimensions_driver_test.py
Due: pylint, check-copyright

Update SweepParams construction to use new dataclass constructor
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

initial framework
  geoapps/inversion/driver.py
  geoapps/inversion/electricals/__init__.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/electricals/direct_current/two_dimensions/__init__.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/__init__.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/params.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/__init__.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/params.py
  geoapps/utils/write_default_uijson.py
  tests/constants_test.py
  tests/params_test.py
Due: pylint, check-copyright

fix import of generate
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

Update factories to support induced polarization 2d type
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/directives_factory.py
  geoapps/inversion/components/factories/entity_factory.py
  geoapps/inversion/components/factories/misfit_factory.py
  geoapps/inversion/components/factories/receiver_factory.py
  geoapps/inversion/components/factories/simpeg_factory.py
  geoapps/inversion/components/factories/simulation_factory.py
  geoapps/inversion/components/factories/source_factory.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/inversion/driver.py
  geoapps/inversion/electricals/application.py
Due: pylint, check-copyright

conductivity model object meshtype needs to get restricted to drapemodel
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
Due: pylint, check-copyright

Fix ip test imports
  tests/params_test.py
  tests/run_tests/apps_inversion_test.py
  tests/run_tests/driver_ip_test.py
Due: pylint, check-copyright

Add a run test for ip 2d
  tests/run_tests/driver_ip_2d_test.py
  tests/run_tests/driver_ip_test.py
Due: pylint, check-copyright

update pyproject.toml with param-sweeps
  pyproject.toml
Due: none

fix helper script to patch with sha
  devtools/add_url_tag_sha256.py
Due: check-copyright

try with param-sweeps from develop branch
  pyproject.toml
Due: none

regenerate locked env files
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

update name of param sweeps module
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

setup local dev env with local param-sweeps checkout
  devtools/setup-dev.bat
Due: none

update env lock files
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

pylint
  geoapps/inversion/electricals/induced_polarization/three_dimensions/params.py
Due: pylint, check-copyright

Build surveys from scratch to test survey_lines and extract_dcip_survey
  geoapps/utils/surveys.py
  tests/utils_test.py
Due: pylint, check-copyright

do the same for split_dcip_survey
  tests/utils_test.py
Due: pylint, check-copyright
