Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

Bump version, fix gdal
  docs/conf.py
  pyproject.toml
Due: none

Fix gdal to 3.4.3
  pyproject.toml
Due: none

Fixing locks
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

Try gdal 3.4.3
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environment-dev.yml
  environment.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

initial commit for grid creation
  geoapps/base/dash_application.py
  geoapps/grid_creation/application.py
  geoapps/grid_creation/constants.py
  geoapps/grid_creation/driver.py
  geoapps/grid_creation/params.py
Due: pylint, check-copyright

One more try
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

One more attempt
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

move helper python env files under environments folder
  devtools/run_conda_lock.py
  environments/env-python-3.7.yml
  environments/env-python-3.8.yml
  environments/env-python-3.9.yml
Due: check-copyright

add helper bat file to run conda lock
  devtools/run_conda_lock.bat
Due: none

add return type hint in helper script
  devtools/run_conda_lock.py
Due: check-copyright

first draft read/write uijson
  geoapps/base/dash_application.py
  geoapps/grid_creation/application.py
  geoapps/grid_creation/constants.py
  geoapps/grid_creation/driver.py
  geoapps/grid_creation/params.py
Due: pylint, check-copyright

fix possible generated md5=None causing issue to pip
  devtools/run_conda_lock.py
Due: check-copyright

update pylint version and its configuration
  pylintrc
  pyproject.toml
Due: none

make sure to capture pylint return code
  devtools/conda_env_pylint.bat
Due: none

write input file; remove type check on xy_extent
  geoapps/interpolation/application.py
  geoapps/interpolation/driver.py
Due: pylint, check-copyright

update lock files
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

fix a github workflow after files have moved
  .github/workflows/create_env_file.yml
Due: none

limit env files creation to label and release events
  .github/workflows/create_env_file.yml
Due: none

pytest and pytest-cove already installed in env
  .github/workflows/pytest-unix-os.yaml
Due: none

Remove unused parameters reported as pylint Error
  geoapps/inversion/potential_fields/application.py
Due: pylint, check-copyright

disable expected pylint errors in tests
  tests/utils_test.py
Due: pylint, check-copyright
