Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.6.4
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
#-   repo: https://github.com/pre-commit/mirrors-pylint
#    rev: v2.6.0
#    hooks:
#    -   id: pylint
#        exclude: (devtools|docs)/
-   repo: local
    hooks:
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v1.17.1
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.0
    hooks:
    -   id: rst-backticks

Make live_link_output staticmethod
  geoapps/base.py
  geoapps/create/contours.py
  geoapps/create/isosurface.py
  geoapps/create/octree_mesh.py
  geoapps/create/surface_2d.py
  geoapps/processing/calculator.py
  geoapps/processing/clustering.py
  geoapps/processing/coordinate_transformation.py
  geoapps/processing/data_interpolation.py
  geoapps/processing/edge_detection.py
  geoapps/processing/peak_finder.py
Due: check-copyright

Add test for octree creation apps
  tests/octree_creation_test.py
Due: check-copyright

Bring back Ben's tests
  tests/input_file_test.py
  tests/params_test.py
Due: check-copyright

Fixed up params and inputfile test suite for new format
  geoapps/io/constants.py
  geoapps/io/driver.py
  geoapps/io/validators.py
  tests/input_validator_test.py
  tests/params_test.py
  tests/write_ui_json_test.py
Due: check-copyright

Documented and typed
  geoapps/io/driver.py
  tests/params_test.py
Due: check-copyright

Download FlinFlon.geoh5 in init.py
  tests/__init__.py
  tests/params_test.py
  tests/run_test.py
Due: check-copyright

Created inheritance pattern for Params class. Now there's an Params parent with MVIParams child that drives the mvi_inversion.py. Also updated simpeg to start removal of simpeg_pf.
  geoapps/io/MVI/__init__.py
  geoapps/io/MVI/constants.py
  geoapps/io/MVI/params.py
  geoapps/io/input_file.py
  geoapps/io/params.py
  geoapps/io/validators.py
  geoapps/mvi_inversion.py
  geoapps/simpegPF/Maps.py
  geoapps/simpegPF/Optimization.py
  geoapps/simpegPF/PF/GravAnalytics.py
  geoapps/simpegPF/PF/MagAnalytics.py
  geoapps/simpegPF/PF/MagneticsDriver.py
  geoapps/simpegPF/Tests.py
  geoapps/simpegPF/Utils/PlotUtils.py
  geoapps/utils/__init__.py
  geoapps/utils/utils.py
  tests/input_file_test.py
  tests/params_test.py
Due: check-copyright

Fixed up input_validator_test for refactor
  tests/input_validator_test.py
Due: check-copyright

Moved simpeg back to 0.13
  environment.yml
  geoapps/simpegPF/Maps.py
  geoapps/simpegPF/PF/GravAnalytics.py
  geoapps/simpegPF/PF/MagneticsDriver.py
  geoapps/simpegPF/Tests.py
  geoapps/simpegPF/Utils/PlotUtils.py
Due: none

bypass osgeo and fiona imports
  geoapps/export.py
  geoapps/processing/coordinate_transformation.py
Due: check-copyright

Change Intall_Update.bat for full wipe of geoapps
  Install_or_Update.bat
Due: none

Remove try import
  geoapps/processing/coordinate_transformation.py
  geoapps/utils/utils.py
Due: check-copyright

Attempt to fix fiona=1.8.18
  environment.yml
Due: none

Remove additional try on import
  geoapps/export.py
Due: check-copyright

Bring back h5py to conda. Add path to env/Library/bin for dll's
  Start_applications.bat
  environment.yml
Due: none

REfresh clustering docs
  docs/content/applications/clustering.ipynb
Due: none

Update howto.rst
  docs/content/howto.rst
Due: rstcheck

Refresh coordinate_transformation app and objects.options from uuid
  docs/content/applications/coordinate_transformation.ipynb
  geoapps/base.py
  geoapps/processing/coordinate_transformation.py
Due: check-copyright

Update contouring and isosurface docs
  docs/content/applications/contouring.ipynb
  docs/content/applications/create_isosurface.ipynb
Due: none

Update index.rst
  docs/index.rst
Due: rstcheck
