Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

more robust dev, install and run scripts
  Install_or_Update.bat
  Start_applications.bat
  devtools/conda_env_pylint.bat
  devtools/run_conda_lock.bat
  devtools/setup-conda-base.bat
  devtools/setup-dev.bat
  devtools/start-app.bat
Due: none

GA-4795: make package optional for a minimal environment
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  devtools/create_application_env_files.py
  devtools/run_conda_lock.py
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: check-copyright

reorder dependency and update comments
  pyproject.toml
Due: none

fix wrong block indentation in dev script
  devtools/create_application_env_files.py
Due: check-copyright

try with empty sha= instead of sha=None
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Remove where to use bool array instad of index
  geoapps/inversion/components/factories/entity_factory.py
Due: pylint, check-copyright

temporary dependencie URLs for prerelease build
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

ui.json not necessary at runtime for geoapps
  pyproject.toml
Due: none

geoh5 files too heavy for packaging
  pyproject.toml
Due: none

script to start notebook from installed geoapps
  Start_applications.bat
  geoapps/scripts/__init__.py
  geoapps/scripts/start_notebook.py
  pyproject.toml
Due: pylint, check-copyright

custom location for geoapps assets dir
  geoapps/__init__.py
  tests/assets_path_test.py
Due: pylint, check-copyright

packaging extra "apps" includes "core"
  devtools/create_application_env_files.py
  pyproject.toml
  tests/conftest.py
  tests/pyproject_test.py
Due: pylint, check-copyright

shorter code for test of version
  tests/version_test.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
