Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Bump version to 0.9.0
  devtools/pyproject-sha.toml
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

Update lock files for new simpeg update
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

Point test to release/0.9
  tests/__init__.py
Due: pylint, check-copyright

Last minute ui.json updates
  assets/uijson/direct_current_forward.ui.json
  assets/uijson/induced_polarization_forward.ui.json
  assets/uijson/octree_mesh.ui.json
  assets/uijson/peak_finder.ui.json
  geoapps/inversion/constants.py
  geoapps/inversion/electricals/direct_current/three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/natural_sources/magnetotellurics/constants.py
  geoapps/inversion/natural_sources/tipper/constants.py
  geoapps/octree_creation/constants.py
  geoapps/peak_finder/constants.py
  geoapps/peak_finder/notebook.ipynb
Due: pylint, check-copyright

change data groups
  geoapps/contours/notebook.ipynb
  geoapps/inversion/constants.py
  geoapps/inversion/electricals/direct_current/three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/natural_sources/magnetotellurics/constants.py
  geoapps/inversion/natural_sources/tipper/constants.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  geoapps/octree_creation/notebook.ipynb
Due: pylint, check-copyright

Add ui.jsons to the assets folder
  assets/uijson/direct_current_forward_2d.ui.json
  assets/uijson/direct_current_forward_3d.ui.json
  assets/uijson/direct_current_inversion_2d.ui.json
  assets/uijson/direct_current_inversion_3d.ui.json
  assets/uijson/gravity_forward.ui.json
  assets/uijson/gravity_inversion.ui.json
  assets/uijson/induced_polarization_forward_2d.ui.json
  assets/uijson/induced_polarization_forward_3d.ui.json
  assets/uijson/induced_polarization_inversion_2d.ui.json
  assets/uijson/induced_polarization_inversion_3d.ui.json
  assets/uijson/magnetic_scalar_forward.ui.json
  assets/uijson/magnetic_scalar_inversion.ui.json
  assets/uijson/magnetic_vector_forward.ui.json
  assets/uijson/magnetic_vector_inversion.ui.json
  assets/uijson/magnetotellurics_forward.ui.json
  assets/uijson/magnetotellurics_inversion.ui.json
  assets/uijson/tipper_forward.ui.json
  assets/uijson/tipper_inversion.ui.json
Due: none

Point to simpeg-archive release on pypi
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Change Siemens/m to S/m
  assets/uijson/direct_current_forward_2d.ui.json
  assets/uijson/direct_current_forward_3d.ui.json
  assets/uijson/direct_current_inversion_2d.ui.json
  assets/uijson/direct_current_inversion_3d.ui.json
  assets/uijson/induced_polarization_forward_2d.ui.json
  assets/uijson/induced_polarization_forward_3d.ui.json
  assets/uijson/induced_polarization_inversion_2d.ui.json
  assets/uijson/induced_polarization_inversion_3d.ui.json
  assets/uijson/magnetotellurics_forward.ui.json
  assets/uijson/magnetotellurics_inversion.ui.json
  assets/uijson/tipper_forward.ui.json
  assets/uijson/tipper_inversion.ui.json
  geoapps/inversion/electricals/direct_current/three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/natural_sources/magnetotellurics/constants.py
  geoapps/inversion/natural_sources/tipper/constants.py
Due: pylint, check-copyright

Change Siemens/m to S/m
  geoapps/inversion/electricals/direct_current/three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/natural_sources/magnetotellurics/constants.py
  geoapps/inversion/natural_sources/tipper/constants.py
Due: pylint, check-copyright

Base class the driver and add a drive or sweep method to distinguish running a driver vs generating a sweep file.
  geoapps/driver_base/driver.py
  geoapps/edge_detection/driver.py
Due: pylint, check-copyright

fix access to global env from job environment
  .github/workflows/create_env_file.yml
Due: none

fix devtools file name
  devtools/create_application_env_files.py
Due: check-copyright

just hard-code app name here instead of env variable
  .github/workflows/create_env_file.yml
Due: none

Hook up generate_sweep parameter in ui.json to base driver drive_or_sweep method.
  geoapps/driver_base/driver.py
  geoapps/edge_detection/constants.py
  geoapps/edge_detection/driver.py
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
Due: pylint, check-copyright

fix script to generate app env file
  devtools/create_application_env_files.py
Due: check-copyright

convert line start/end to int before calling linesweeper
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

Update titles in ui.jsons so they make sense in GAs Python folder
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
Due: pylint, check-copyright

Re-building lock files
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

Pin dask back to 2022.10.0
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

fix path issue with tmp file on github
  devtools/run_conda_lock.py
Due: check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
