Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

fix script to generate env for simpeg
  devtools/install_simpeg_env.py
  devtools/run_conda_lock.py
Due: check-copyright

needs PYTHONUTF8=1 for simpeg
  .github/workflows/build_bundle.yml
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
  .github/workflows/static-analysis.yml
  Install_or_Update.bat
  devtools/install_simpeg_env.py
  devtools/run_conda_lock.py
Due: check-copyright

regenerate env files with 'distributed'
  conda-py-3.7-linux-64-dev.lock.yml
  conda-py-3.7-linux-64.lock.yml
  conda-py-3.7-lock.yml
  conda-py-3.7-osx-64-dev.lock.yml
  conda-py-3.7-osx-64.lock.yml
  conda-py-3.7-win-64-dev.lock.yml
  conda-py-3.7-win-64.lock.yml
  conda-py-3.8-linux-64-dev.lock.yml
  conda-py-3.8-linux-64.lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.8-osx-64-dev.lock.yml
  conda-py-3.8-osx-64.lock.yml
  conda-py-3.8-win-64-dev.lock.yml
  conda-py-3.8-win-64.lock.yml
  conda-py-3.9-linux-64-dev.lock.yml
  conda-py-3.9-linux-64.lock.yml
  conda-py-3.9-lock.yml
  conda-py-3.9-osx-64-dev.lock.yml
  conda-py-3.9-osx-64.lock.yml
  conda-py-3.9-win-64-dev.lock.yml
  conda-py-3.9-win-64.lock.yml
  environment-dev.yml
  environment.yml
Due: none

no more powershell in build bundle pipeline
  .github/workflows/build_bundle.yml
Due: none

fix call to conda-pack in github pipeline
  .github/workflows/build_bundle.yml
Due: none

fix and adjust github pipeline for packaging simpeg
  .github/workflows/build_bundle.yml
Due: none

run static analysis on windows for python 3.9
  .github/workflows/static-analysis.yml
Due: none

fix upload of artifact
  .github/workflows/build_bundle.yml
Due: none

increase default marker size
  assets/uijson/scatter.ui.json
  geoapps/scatter_plot/constants.py
Due: pylint, check-copyright

Fix up inversion logging.
  assets/FlinFlon.geoh5
  assets/FlinFlon_dcip.geoh5
  assets/FlinFlon_natural_sources.geoh5
  geoapps/inversion/driver.py
Due: pylint, check-copyright

upgrade versions on pymatsolver and properties
  conda-py-3.8-linux-64-dev.lock.yml
  conda-py-3.8-linux-64.lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.8-osx-64-dev.lock.yml
  conda-py-3.8-osx-64.lock.yml
  conda-py-3.8-win-64-dev.lock.yml
  conda-py-3.8-win-64.lock.yml
  conda-py-3.9-linux-64-dev.lock.yml
  conda-py-3.9-linux-64.lock.yml
  conda-py-3.9-lock.yml
  conda-py-3.9-osx-64-dev.lock.yml
  conda-py-3.9-osx-64.lock.yml
  conda-py-3.9-win-64-dev.lock.yml
  conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

fixup! conda_lock helper script
  devtools/run_conda_lock.py
Due: check-copyright

didn't play nicely with pytest. Reconfigure to log only from os calls.
  geoapps/inversion/driver.py
Due: pylint, check-copyright

driver not in os callback, moved to start_inversion
  geoapps/inversion/driver.py
Due: pylint, check-copyright

driver -> self.driver
  geoapps/inversion/driver.py
Due: pylint, check-copyright

separate close and the finished inversion method so that I don't need to call close on sys.stdout, then move the logging back into the body of the driver so that it will get run for os and cli calls.
  geoapps/inversion/driver.py
Due: pylint, check-copyright

add export function
  geoapps/edge_detection/constants.py
  geoapps/edge_detection/driver.py
  geoapps/edge_detection/params.py
Due: pylint, check-copyright

update uijson
  assets/uijson/edge_detection.ui.json
Due: none

lock geoana on >= 0.0.6, < 0.1.0
  conda-py-3.7-linux-64-dev.lock.yml
  conda-py-3.7-linux-64.lock.yml
  conda-py-3.7-lock.yml
  conda-py-3.7-osx-64-dev.lock.yml
  conda-py-3.7-osx-64.lock.yml
  conda-py-3.7-win-64-dev.lock.yml
  conda-py-3.7-win-64.lock.yml
  conda-py-3.8-linux-64-dev.lock.yml
  conda-py-3.8-linux-64.lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.8-osx-64-dev.lock.yml
  conda-py-3.8-osx-64.lock.yml
  conda-py-3.8-win-64-dev.lock.yml
  conda-py-3.8-win-64.lock.yml
  conda-py-3.9-linux-64-dev.lock.yml
  conda-py-3.9-linux-64.lock.yml
  conda-py-3.9-lock.yml
  conda-py-3.9-osx-64-dev.lock.yml
  conda-py-3.9-osx-64.lock.yml
  conda-py-3.9-win-64-dev.lock.yml
  conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

add platform as option in helper script
  devtools/run_conda_lock.py
Due: check-copyright
