Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

pylint fix
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

GEOPY-823: test use projects in assets
  pyproject.toml
  tests/__init__.py
  tests/data_test.py
  tests/data_transfer_test.py
  tests/em1d_run_test.py
  tests/locations_test.py
  tests/meshes_test.py
  tests/models_test.py
  tests/params_test.py
  tests/run_tests/apps_inversion_test.py
  tests/run_tests/apps_run_test.py
  tests/run_tests/peak_finder_test.py
  tests/topography_test.py
  tests/utils_test.py
  tests/window_test.py
Due: pylint, check-copyright

update env lock files
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

Re-build yml files for testing
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

GEOPY-927: param-sweeps dependency cannot be locked with a hash
  devtools/create_application_env_files.py
Due: check-copyright

Fix test download
  tests/__init__.py
Due: pylint, check-copyright

GEOPY-827: param-sweeps dependency cannot be locked with a hash
  devtools/create_application_env_files.py
Due: check-copyright

Bump version numbers
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

GEOPY-828: add new default location for conda
  get_conda_exec.bat
Due: none

Temp remove of figure with bad extension
  docs/content/applications/images/dash_upload.PNG
Due: none

re-insert with lower case extension
  docs/content/applications/images/dash_upload.png
Due: none

More extensions
  docs/content/applications/images/block_model/block_model_application.PNG
  docs/content/applications/images/block_model/block_model_dropdown.PNG
  docs/content/applications/images/block_model/block_model_export.PNG
  docs/content/applications/images/block_model/block_model_upload.PNG
  docs/content/applications/images/cluster/cluster_app.PNG
  docs/content/applications/images/cluster/cluster_colorselect.PNG
  docs/content/applications/images/cluster/cluster_nclusters.PNG
  docs/content/applications/images/cluster/cluster_output.PNG
  docs/content/applications/images/cluster/cluster_stats.PNG
  docs/content/applications/images/scatter/scatter_app.PNG
  docs/content/applications/images/scatter/scatter_downsampling.PNG
  docs/content/applications/images/scatter/scatter_export.PNG
  docs/content/applications/images/scatter/scatter_size.PNG
  docs/content/applications/images/scatter/scatter_xpanel.PNG
Due: none

bring back figures
  docs/content/applications/images/block_model/block_model_application.png
  docs/content/applications/images/block_model/block_model_dropdown.png
  docs/content/applications/images/block_model/block_model_export.png
  docs/content/applications/images/block_model/block_model_upload.png
  docs/content/applications/images/cluster/cluster_app.png
  docs/content/applications/images/cluster/cluster_colorselect.png
  docs/content/applications/images/cluster/cluster_nclusters.png
  docs/content/applications/images/cluster/cluster_output.png
  docs/content/applications/images/cluster/cluster_stats.png
  docs/content/applications/images/scatter/scatter_app.png
  docs/content/applications/images/scatter/scatter_downsampling.png
  docs/content/applications/images/scatter/scatter_export.png
  docs/content/applications/images/scatter/scatter_size.png
  docs/content/applications/images/scatter/scatter_xpanel.png
Due: none

Remove name label for gif
  docs/content/applications/create_octree.ipynb
Due: none

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
