Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/)
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]
    autoupdate_branch: develop
    autoupdate_schedule: monthly

repos:
-   repo: https://github.com/psf/black
    rev: 23.10.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        additional_dependencies: [tomli] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://github.com/PyCQA/flake8
#    rev: 6.1.0
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
    -   id: pyupgrade
        args: [--py39-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v1.6.1
#    hooks:
#    -   id: mypy
#        additional_dependencies: [
#            types-toml,
#            types-PyYAML,
#            tomli # to read config from pyproject.toml
#        ]
-   repo: https://github.com/codingjoe/relint
    rev: 3.1.0
    hooks:
    -   id: relint
        args: [-W]  # to fail on warnings
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: ^(devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [text]
        files: (^LICENSE|^README(|-dev).rst|\.py|\.pyi)$
        exclude: (^\.|^docs/)
    -   id: prepare-commit-msg
        stages: [prepare-commit-msg]
        name: Prepare commit message
        entry: python devtools/git_message_hook.py --prepare
        language: python
    -   id: check-commit-msg
        stages: [commit-msg]
        name: Check commit message
        entry: python devtools/git_message_hook.py --check
        language: python
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        exclude: (-lock\.ya?ml|\benvironments/.*\.ya?ml|\.ipynb|^THIRD_PARTY_SOFTWARE\.rst)$
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        exclude: ^THIRD_PARTY_SOFTWARE.rst$
        additional_dependencies: [sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: rst-backticks
        exclude: ^THIRD_PARTY_SOFTWARE.rst$

GEOPY-1233: no need for test.pypi
  devtools/setup-dev.bat
Due: none

GEOPY-1472: include license files in distrib
  pyproject.toml
Due: none

GEOPY-1472: add pre-commit pycln to remove unused import
  .pre-commit-config.yaml
  pyproject.toml
Due: none

update toml
  pyproject.toml
Due: none

Remove osx from supported systems. Regenerate locks
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
  devtools/run_conda_lock.py
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: check-copyright

Fix copyright
  devtools/run_conda_lock.py
Due: check-copyright

initial pass
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  geoapps-assets/uijson/edge_detection.ui.json
  geoapps/edge_detection/__init__.py
  geoapps/edge_detection/application.py
  geoapps/edge_detection/constants.py
  geoapps/edge_detection/driver.py
  geoapps/edge_detection/params.py
  geoapps/utils/write_default_uijson.py
  py-3.10.conda-lock.yml
  pyproject.toml
Due: pylint, check-copyright

GEOPY-1472: update pre-commit hook from repo template
  .pre-commit-config.yaml
Due: none

GEOPY-1472: fix linter error on dev scripts
  devtools/check-copyright.py
  devtools/git_message_hook.py
  devtools/run_conda_lock.py
Due: check-copyright

GEOPY-1472: add JIRA keys DEVOPS and QA to message hook
  devtools/git_message_hook.py
Due: check-copyright

GEOPY-1472: add shebang on executable scripts
  devtools/check-copyright.py
  devtools/git_message_hook.py
Due: check-copyright

GEOPY-1472: fixup generation of locked env file: no setuptools-scm
  devtools/run_conda_lock.py
Due: check-copyright

GEOPY-1472: fix deletion of multi platform lock
  devtools/run_conda_lock.py
Due: check-copyright

GEOPY-1472: do not run json formatter on notebooks
  .pre-commit-config.yaml
Due: none

GEOPY-1472: do not run json formatter on doc plot images
  .pre-commit-config.yaml
Due: none

GEOPY-1472: auto-reformatting of dev script
  devtools/git_message_hook.py
Due: check-copyright

GEOPY-1472: no more extra package nor I/O and point to latest published packages
  devtools/run_conda_lock.py
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: check-copyright

GEOPY-1472: numpy 1.26 for mypy in pre-commit CI
  .pre-commit-config.yaml
  pyproject.toml
Due: none

GEOPY-1472: for now disable flake8 report on complexity
  .flake8
Due: none

GEOPY-1223: do not try to validate Jupyter notebook as json
  .pre-commit-config.yaml
Due: none

GEOPY-1223: do not run github workflow on draft PR
  .github/workflows/pr_add_jira_summary.yml
  .github/workflows/pytest-unix-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

GEOPY-1472: do not try to validate Jupyter notebook as json
  .pre-commit-config.yaml
Due: none

GEOPY-1472: do not run github workflow on draft PR
  .github/workflows/pr_add_jira_summary.yml
  .github/workflows/pytest-unix-os.yml
  .github/workflows/pytest-windows.yml
  .github/workflows/static-analysis.yml
Due: none

GEOPY-1472: add back scikit-image (a direct dependency)
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

GEOPY-1472: fix remaining flake8 reports
  geoapps/base/dash_application.py
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/driver.py
  geoapps/inversion/electromagnetics/driver.py
  geoapps/iso_surfaces/driver.py
  geoapps/shared_utils/utils.py
  geoapps/triangulated_surfaces/application.py
  geoapps/utils/plotting.py
Due: pylint, check-copyright

GEOPY-1472: pin down scipy to a version available in pip too
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

GEOPY-1223: fix environment
  devtools/run_conda_lock.py
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: check-copyright

GEOPY-1472: fix flake8
  geoapps/peak_finder/application.py
Due: pylint, check-copyright

GEOPY-1472: fix flake8
  geoapps/inversion/components/models.py
  geoapps/inversion/driver.py
  geoapps/peak_finder/application.py
Due: pylint, check-copyright

Delete geoapps-assets/uijson/joint_single.ui.json
  geoapps-assets/uijson/joint_single.ui.json
Due: none

Delete geoapps/inversion/components/__init__.py
  geoapps/inversion/components/__init__.py
Due: pylint, check-copyright

Delete geoapps/inversion/components/data.py
  geoapps/inversion/components/data.py
Due: pylint, check-copyright

Delete geoapps/inversion/components/factories/__init__.py
  geoapps/inversion/components/factories/__init__.py
Due: pylint, check-copyright

Delete geoapps/inversion/components/factories/source_factory.py
  geoapps/inversion/components/factories/source_factory.py
Due: pylint, check-copyright

GEOPY-1472: fix environment
  devtools/run_conda_lock.py
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-osx-64-dev.conda.lock.yml
  environments/py-3.10-osx-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: check-copyright

GEOPY-1472: address pylint errors
  geoapps/base/dash_application.py
  geoapps/utils/plotting.py
Due: pylint, check-copyright

GEOPY-1472: address pylint error on NoneType
  geoapps/utils/plotting.py
Due: pylint, check-copyright

GEOPY-1490: attempt to fixup dependencies to build env
  pyproject.toml
Due: none

GEOPY-1490: try to get it work on Windows first
  pyproject.toml
Due: none
