Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

replace usage of os.path by pathlib.Path
  geoapps/base/dash_application.py
  geoapps/block_model_creation/application.py
  geoapps/block_model_creation/driver.py
  geoapps/utils/testing.py
Due: pylint, check-copyright

Merge pull request #548 from sebhmg/GEOPY-936
  .pre-commit-config.yaml
Due: none

Change out_group to dropdown selection
  geoapps/inversion/airborne_electromagnetics/time_domain/constants.py
  geoapps/inversion/components/factories/entity_factory.py
  geoapps/inversion/components/locations.py
  geoapps/inversion/components/meshes.py
  geoapps/inversion/constants.py
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/driver.py
  geoapps/inversion/electricals/direct_current/three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/driver.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
  geoapps/inversion/line_sweep/driver.py
  geoapps/inversion/natural_sources/magnetotellurics/constants.py
  geoapps/inversion/natural_sources/tipper/constants.py
  geoapps/inversion/params.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  tests/run_tests/driver_airborne_tem_test.py
  tests/run_tests/driver_dc_2d_test.py
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ip_2d_test.py
  tests/run_tests/driver_ip_p3d_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_mvi_test.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

Fix jupyter applications
  geoapps/driver_base/params.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
Due: pylint, check-copyright

Update depencencies for geoh5py-0.7rc6
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Add sorting to local data
  geoapps/inversion/components/factories/directives_factory.py
Due: pylint, check-copyright

Add setters for missing parameters in pseudo3d
  geoapps/driver_base/params.py
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/params.py
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/params.py
  geoapps/inversion/params.py
  tests/data_test.py
  tests/meshes_test.py
  tests/models_test.py
Due: pylint, check-copyright

GEOPY-947: use Path.resolve() instead of absolute()
  geoapps/base/application.py
  geoapps/base/dash_application.py
  geoapps/block_model_creation/application.py
  geoapps/block_model_creation/constants.py
  geoapps/block_model_creation/driver.py
  geoapps/clustering/application.py
  geoapps/clustering/constants.py
  geoapps/clustering/driver.py
  geoapps/driver_base/driver.py
  geoapps/driver_base/params.py
  geoapps/inversion/airborne_electromagnetics/application.py
  geoapps/inversion/driver.py
  geoapps/inversion/line_sweep/driver.py
  geoapps/scatter_plot/application.py
  geoapps/scatter_plot/constants.py
  geoapps/scripts/start_notebook.py
Due: pylint, check-copyright

Update param test
  tests/params_test.py
Due: pylint, check-copyright

fix typo
  geoapps/base/application.py
  geoapps/base/selection.py
  geoapps/interpolation/application.py
  geoapps/inversion/airborne_electromagnetics/application.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
  geoapps/octree_creation/application.py
  geoapps/peak_finder/application.py
  geoapps/triangulated_surfaces/application.py
Due: pylint, check-copyright

fix some iterations on directory content
  geoapps/inversion/line_sweep/driver.py
  geoapps/utils/testing.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

fix some iterations on directory content
  geoapps/utils/testing.py
  tests/run_tests/apps_run_test.py
  tests/run_tests/octree_creation_test.py
  tests/run_tests/peak_finder_test.py
Due: pylint, check-copyright

some more fixes around Path
  geoapps/base/application.py
  geoapps/interpolation/application.py
  geoapps/inversion/line_sweep/driver.py
  geoapps/utils/testing.py
Due: pylint, check-copyright

Add setters for documentation and icon
  geoapps/driver_base/params.py
  geoapps/inversion/params.py
Due: pylint, check-copyright

Update reference to plot_result
  geoapps/base/plot.py
  geoapps/contours/application.py
  geoapps/contours/constants.py
  geoapps/edge_detection/application.py
  geoapps/edge_detection/constants.py
Due: pylint, check-copyright

Refer to background_conductivity instead of conductivity model
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

Update tipper test
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

Change mechanics for ploting option in inversion apps
  geoapps/inversion/airborne_electromagnetics/application.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
Due: pylint, check-copyright

Update dependencies
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Revert "Update depencencies for geoh5py-0.7rc6"
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

minimal update of conda-lock for new geoh5py RC
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

run pylint on devtools script as well
  .pre-commit-config.yaml
Due: none

apply fixes recommended by pylint to dev scripts
  devtools/add_url_tag_sha256.py
  devtools/create_application_env_files.py
  devtools/run_conda_lock.py
Due: check-copyright

refactor run_conda_lock for it to be more modular
  devtools/run_conda_lock.py
Due: check-copyright

Re-do ymls
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Update dc2d test
  tests/run_tests/driver_dc_2d_test.py
Due: pylint, check-copyright

Add validate=False to missing octree and peak finder params
  geoapps/octree_creation/params.py
  geoapps/peak_finder/params.py
Due: pylint, check-copyright

Remove warmstart
  geoapps/inversion/airborne_electromagnetics/time_domain/driver.py
  geoapps/inversion/driver.py
  geoapps/inversion/electricals/direct_current/three_dimensions/driver.py
  geoapps/inversion/electricals/direct_current/two_dimensions/driver.py
  geoapps/inversion/electricals/induced_polarization/three_dimensions/driver.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/driver.py
  geoapps/inversion/joint/single_property/driver.py
  geoapps/inversion/natural_sources/magnetotellurics/driver.py
  geoapps/inversion/natural_sources/tipper/driver.py
  geoapps/inversion/potential_fields/gravity/driver.py
  geoapps/inversion/potential_fields/magnetic_scalar/driver.py
  geoapps/inversion/potential_fields/magnetic_vector/driver.py
  tests/data_test.py
  tests/run_tests/driver_airborne_tem_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

Add property and setters for params, workspace and inversion_type
  geoapps/driver_base/driver.py
  geoapps/inversion/driver.py
Due: pylint, check-copyright

Leave the .out and .log files of the last lines of the sweep and store all the models in their simpeggroup under the main simpeggroup of the pseuso3d run
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

Update reqs for param-sweeps develop
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

fix tests
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_ip_p3d_test.py
Due: pylint, check-copyright

add .out files to the local and pseudo3d simpeggroups
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

remove .out from pseudo3d simpeg group - crashing tests.
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

pylint
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

GEOPY-950 set version to 0.10.0-rc.5
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

GEOPY-879 set version to 0.10.0
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright
