Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

update object lines
  geoapps/edge_detection/driver.py
Due: pylint, check-copyright

fix missing import
  geoapps/iso_surfaces/application.py
Due: pylint, check-copyright

use a context manager instead of soft_import()
  geoapps/base/application.py
  geoapps/base/plot.py
  geoapps/base/selection.py
  geoapps/calculator/application.py
  geoapps/clustering/application.py
  geoapps/contours/application.py
  geoapps/coordinate_transformation/application.py
  geoapps/coordinate_transformation/utils.py
  geoapps/edge_detection/application.py
  geoapps/export/application.py
  geoapps/export/utils.py
  geoapps/interpolation/application.py
  geoapps/inversion/airborne_electromagnetics/application.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
  geoapps/iso_surfaces/application.py
  geoapps/octree_creation/application.py
  geoapps/peak_finder/application.py
  geoapps/scatter_plot/application.py
  geoapps/triangulated_surfaces/application.py
  geoapps/utils/__init__.py
  geoapps/utils/importing.py
  geoapps/utils/io.py
  geoapps/utils/plotting.py
  tests/utils_test.py
Due: pylint, check-copyright

use locked dev requirements for the dev environment
  devtools/setup-dev.bat
Due: none

auto-update conda
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
  .github/workflows/static-analysis.yml
Due: none

gitub pipeline: no need to patch with python version
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
  .github/workflows/static-analysis.yml
Due: none

update locked environments
  conda-lock-simpeg-win64.yml
  conda-py-3.7-linux-64-dev.lock.yml
  conda-py-3.7-linux-64.lock.yml
  conda-py-3.7-lock.yml
  conda-py-3.7-osx-64-dev.lock.yml
  conda-py-3.7-osx-64.lock.yml
  conda-py-3.7-win-64-dev.lock.yml
  conda-py-3.7-win-64.lock.yml
  conda-py-3.8-linux-64-dev.lock.yml
  conda-py-3.8-linux-64.lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.8-osx-64-dev.lock.yml
  conda-py-3.8-osx-64.lock.yml
  conda-py-3.8-win-64-dev.lock.yml
  conda-py-3.8-win-64.lock.yml
  conda-py-3.9-linux-64-dev.lock.yml
  conda-py-3.9-linux-64.lock.yml
  conda-py-3.9-lock.yml
  conda-py-3.9-osx-64-dev.lock.yml
  conda-py-3.9-osx-64.lock.yml
  conda-py-3.9-win-64-dev.lock.yml
  conda-py-3.9-win-64.lock.yml
  environment-dev.yml
  environment.yml
Due: none

remove unused lock environment
  conda-lock.yml
Due: none

generate locked environment for simpeg
  conda-py-3.9-win-64-simpeg.lock.yml
  devtools/run_conda_lock.py
Due: check-copyright

build simpeg env from prepared locked file
  .github/workflows/build_bundle.yml
  devtools/install_simpeg_env.py
Due: check-copyright

rename helper script to pack simpeg
  devtools/pack_simpeg_env.py
Due: check-copyright

use micromamba github action (faster than conda)
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
  .github/workflows/static-analysis.yml
Due: none

use micromamba github action for build bundle
  .github/workflows/build_bundle.yml
Due: none

use mamba for faster conda lock
  devtools/run_conda_lock.py
Due: check-copyright

make sure to run conda lock with strict channel priority
  devtools/run_conda_lock.py
Due: check-copyright

update locked environments
  conda-py-3.7-linux-64-dev.lock.yml
  conda-py-3.7-linux-64.lock.yml
  conda-py-3.7-lock.yml
  conda-py-3.7-osx-64-dev.lock.yml
  conda-py-3.7-osx-64.lock.yml
  conda-py-3.7-win-64-dev.lock.yml
  conda-py-3.7-win-64.lock.yml
  conda-py-3.8-linux-64-dev.lock.yml
  conda-py-3.8-linux-64.lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.8-osx-64-dev.lock.yml
  conda-py-3.8-osx-64.lock.yml
  conda-py-3.8-win-64-dev.lock.yml
  conda-py-3.8-win-64.lock.yml
  conda-py-3.9-linux-64-dev.lock.yml
  conda-py-3.9-linux-64.lock.yml
  conda-py-3.9-lock.yml
  conda-py-3.9-osx-64-dev.lock.yml
  conda-py-3.9-osx-64.lock.yml
  conda-py-3.9-win-64-dev.lock.yml
  conda-py-3.9-win-64-simpeg.lock.yml
  conda-py-3.9-win-64.lock.yml
Due: none

add variables section to generated locked env
  conda-py-3.7-linux-64-dev.lock.yml
  conda-py-3.7-linux-64.lock.yml
  conda-py-3.7-osx-64-dev.lock.yml
  conda-py-3.7-osx-64.lock.yml
  conda-py-3.7-win-64-dev.lock.yml
  conda-py-3.7-win-64.lock.yml
  conda-py-3.8-linux-64-dev.lock.yml
  conda-py-3.8-linux-64.lock.yml
  conda-py-3.8-osx-64-dev.lock.yml
  conda-py-3.8-osx-64.lock.yml
  conda-py-3.8-win-64-dev.lock.yml
  conda-py-3.8-win-64.lock.yml
  conda-py-3.9-linux-64-dev.lock.yml
  conda-py-3.9-linux-64.lock.yml
  conda-py-3.9-osx-64-dev.lock.yml
  conda-py-3.9-osx-64.lock.yml
  conda-py-3.9-win-64-dev.lock.yml
  conda-py-3.9-win-64-simpeg.lock.yml
  conda-py-3.9-win-64.lock.yml
  devtools/run_conda_lock.py
Due: check-copyright

remove unlocked environment files
  environment-dev.yml
  environment.yml
Due: none

move generated env files under environments folder
  .github/workflows/build_bundle.yml
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
  .github/workflows/static-analysis.yml
  Install_or_Update.bat
  devtools/run_conda_lock.py
  devtools/setup-dev.bat
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64-simpeg.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: check-copyright

driver working with uijson
  assets/uijson/edge_detection.ui.json
  geoapps/edge_detection/constants.py
  geoapps/edge_detection/driver.py
  geoapps/edge_detection/params.py
Due: pylint, check-copyright
