Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.2
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.21.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
#-   repo: https://github.com/pre-commit/mirrors-pylint
#    rev: v2.6.0
#    hooks:
#    -   id: pylint
#        exclude: (devtools|docs)/
-   repo: local
    hooks:
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

Check for geoh5, workspace none before pulling from params_dict in update
  geoapps/io/params.py
Due: check-copyright

Add comments to test
  tests/params_test.py
Due: check-copyright

nothing
  tests/params_test.py
Due: check-copyright

n
  tests/params_test.py
Due: check-copyright

default resolution set to None in all classes. Handled downstream by filter_xy to not downsample data.
  geoapps/io/Gravity/constants.py
  geoapps/io/MagneticScalar/constants.py
  geoapps/io/MagneticVector/constants.py
  geoapps/io/params.py
  tests/params_test.py
Due: check-copyright

Pin simpeg versions to tag and branch
  environment.yml
Due: none

Fix geoh5py to 0.1.5 release
  environment.yml
Due: none

Update release_notes.rst
  docs/content/release_notes.rst
Due: rstcheck

Remove inf from choice of values
  geoapps/io/DirectCurrent/constants.py
  geoapps/io/MagneticVector/constants.py
  geoapps/plotting/selection.py
Due: check-copyright

Update Index page status
  geoapps/applications/Index.ipynb
Due: none

Change key "corners" to "perimeter"
  geoapps/drivers/components/data.py
  geoapps/inversion/pf_inversion_app.py
  geoapps/io/Inversion/constants.py
  geoapps/utils/utils.py
  tests/params_test.py
  tests/utils_test.py
Due: check-copyright

Update docs
  docs/content/applications/grav_mag_inversion.ipynb
Due: none

Reset worspace on lower and upper groups
  geoapps/inversion/pf_inversion_app.py
Due: check-copyright

Add check in test
  tests/run_tests/apps_inversion_test.py
Due: check-copyright

refresh files in assets/uijson
  assets/uijson/induced_polarization_forward.ui.json
  assets/uijson/induced_polarization_inversion.ui.json
Due: none

Fixing up tests
  geoapps/io/input_file.py
  tests/input_file_test.py
  tests/params_test.py
Due: check-copyright

Add add_xyz optional argument. Remove XYZ for all inversions
  geoapps/inversion/dcip_inversion_app.py
  geoapps/inversion/pf_inversion_app.py
  geoapps/selection.py
Due: check-copyright

Remove XYZ from LineSelection
  geoapps/selection.py
Due: check-copyright
