Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

clearing data subset
  geoapps/clustering/application.py
Due: pylint, check-copyright

Cleanup
  environment.yml
  geoapps/inversion/constants.py
Due: pylint, check-copyright

fix re-downsampling problem
  geoapps/clustering/application.py
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

keep explicit reference to pip dependencies for geoapps
  devtools/create_geoapps_env_files.py
Due: check-copyright

fix minor typo in comment
  devtools/create_geoapps_env_files.py
Due: check-copyright

Confine the new_workspace to context and use the temp_geoh5 root to build name that gets passed to write_ui_json method.
  geoapps/octree_creation/application.py
  geoapps/peak_finder/application.py
Due: pylint, check-copyright

Augment inversion app test to ensure that write_trigger can be run twice without closed workspace error
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

fixes to reading and writing uijson
  geoapps/clustering/application.py
  geoapps/clustering/constants.py
  geoapps/clustering/params.py
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

function for updating clustering
  geoapps/clustering/application.py
Due: pylint, check-copyright

default kmeans as colormap for clusters
  geoapps/clustering/application.py
  geoapps/clustering/constants.py
  geoapps/clustering/params.py
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

create a new params, copy values, and then write.
  geoapps/inversion/potential_fields/application.py
Due: pylint, check-copyright

Do the same to the electrical methods application
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

commenting
  geoapps/clustering/application.py
  geoapps/clustering/constants.py
  geoapps/clustering/driver.py
Due: pylint, check-copyright

workspace within a context, timestamp the geoh5 and use the geo5h name to build the ui.json name that matches
  geoapps/iso_surfaces/application.py
Due: pylint, check-copyright

fix clustering test
  geoapps/clustering/application.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

add range to jupyter-dash, dash-daq
  environment.yml
Due: none

add jupyter-dash, dash-daq to env w/ poetry2conda
  environment-dev.yml
  environment.yml
Due: none

add jupyter-dash, dash-daq to pyproject.toml
  pyproject.toml
Due: none

update reference to simpeg and geoh5py
  pyproject.toml
Due: none

fix typo in helper script function name
  devtools/run_conda_lock.py
Due: check-copyright
