Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.2
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.21.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
#-   repo: https://github.com/pre-commit/mirrors-pylint
#    rev: v2.6.0
#    hooks:
#    -   id: pylint
#        exclude: (devtools|docs)/
-   repo: local
    hooks:
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

Worked out kinks with simulation, survey factories for both full and local_index runs, but something still funky as Jvec calc complaining.
  geoapps/drivers/base_inversion.py
  geoapps/drivers/components/data.py
  geoapps/drivers/components/factories.py
Due: check-copyright

changing branches
  geoapps/drivers/base_inversion.py
  geoapps/drivers/components/factories.py
Due: check-copyright

Fix tests
  geoapps/base.py
  geoapps/drivers/base_inversion.py
  geoapps/drivers/components/data.py
  geoapps/drivers/components/factories.py
  geoapps/drivers/components/models.py
  geoapps/drivers/pf_inversion.py
  geoapps/em1d_inversion_app.py
  geoapps/io/MagneticVector/constants.py
  geoapps/io/PeakFinder/constants.py
  geoapps/io/params.py
  geoapps/pf_inversion_app.py
  geoapps/processing/peak_finder.py
  tests/input_file_test.py
  tests/octree_creation_test.py
  tests/params_test.py
Due: check-copyright

First full run through MVI
  geoapps/pf_inversion_app.py
Due: check-copyright

Reset params class on inversion_type change.
  geoapps/io/params.py
  geoapps/pf_inversion_app.py
Due: check-copyright

Formatting. Add detrending ootion. Write output to new workspace
  geoapps/base.py
  geoapps/io/MagneticVector/constants.py
  geoapps/pf_inversion_app.py
Due: check-copyright

Placeholder for em1d_inversion_app
  geoapps/em1d_inversion_app.py
Due: check-copyright

Add get_out_group method. Remove copies of inversion mesh
  geoapps/drivers/base_inversion.py
  geoapps/drivers/components/locations.py
  geoapps/drivers/components/meshes.py
  geoapps/io/Inversion/params.py
  geoapps/pf_inversion_app.py
Due: check-copyright

Minor cleanup
  geoapps/__init__.py
  geoapps/applications/test.py
Due: check-copyright

Rename "magnetic scalar" option. Add window_azimuth back
  geoapps/drivers/components/factories.py
  geoapps/io/Gravity/constants.py
  geoapps/io/MagneticScalar/constants.py
  geoapps/io/MagneticScalar/params.py
  geoapps/pf_inversion_app.py
Due: check-copyright

Flatten receiver offsets
  geoapps/pf_inversion_app.py
Due: check-copyright

Set air cells to nan. Cosmetics
  geoapps/drivers/base_inversion.py
  geoapps/io/MagneticScalar/constants.py
  geoapps/io/MagneticVector/constants.py
  geoapps/pf_inversion_app.py
Due: check-copyright

Add release notes. Bump all versions.
  docs/conf.py
  docs/content/release_notes.rst
  environment.yml
  geoapps/__init__.py
  setup.py
Due: check-copyright, rstcheck

Update docs in pf inversion app
  geoapps/applications/Geophysical_Inversion_app.ipynb
Due: none

More edits
  geoapps/applications/Geophysical_Inversion_app.ipynb
Due: none

Fix test
  tests/octree_creation_test.py
Due: check-copyright

Running through with reasonable initial misfit (electrodes forced to top of active cells).
  .codespellignore
  geoapps/drivers/base_inversion.py
  geoapps/drivers/components/data.py
  geoapps/drivers/components/factories.py
  geoapps/drivers/components/models.py
Due: check-copyright

validating geoh5py==0.1.4rc1
  environment.yml
Due: none

Refactor the factories into a module with sub-modules for each factory. moved drape_electrodes_on_topography call into survey factory.
  geoapps/drivers/base_inversion.py
  geoapps/drivers/components/data.py
  geoapps/drivers/components/factories/__init__.py
  geoapps/drivers/components/factories/simpeg_factory.py
  geoapps/drivers/components/factories/simulation_factory.py
  geoapps/drivers/components/factories/survey_factory.py
Due: check-copyright

Implemented directives as a factory and sorted out the logic to include dc case. Also added a case to the save_data method in inversionData class to write to a dc object instead of points.
  geoapps/drivers/base_inversion.py
  geoapps/drivers/components/data.py
  geoapps/drivers/components/factories/__init__.py
  geoapps/drivers/components/factories/directives_factory.py
  geoapps/drivers/components/meshes.py
  geoapps/drivers/components/models.py
  geoapps/drivers/components/topography.py
  geoapps/io/DirectCurrent/constants.py
  geoapps/io/DirectCurrent/params.py
  geoapps/io/Gravity/constants.py
  geoapps/io/Inversion/constants.py
  geoapps/io/Inversion/params.py
  geoapps/io/MagneticScalar/constants.py
  geoapps/io/MagneticVector/constants.py
Due: check-copyright
