Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

remove main channel
  environment.yml
Due: none

fix numpy/scipy
  environment.yml
Due: none

xx
  environment.yml
Due: none

try flex
  .github/workflows/pytest-windows.yaml
Due: none

Reset geoh5 on validator
  geoapps/io/params.py
Due: pylint, check-copyright

Add missing copying of refinement objects
  geoapps/create/octree_mesh.py
Due: pylint, check-copyright

Update release notes
  docs/content/release_notes.rst
Due: rstcheck

Remove deprecated pf_inversion
  geoapps/drivers/pf_inversion.py
Due: pylint, check-copyright

Cleanup of pf_inversion_app
  geoapps/inversion/pf_inversion_app.py
Due: pylint, check-copyright

Chance reference to private property
  geoapps/inversion/pf_inversion_app.py
Due: pylint, check-copyright

Add unit test for model_group widgets
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

Bump python version for docs
  docs/environment.yml
Due: none

Consistent triangulation outward normals
  geoapps/utils/utils.py
Due: pylint, check-copyright

Bump version.
  docs/conf.py
  environment.yml
  geoapps/__init__.py
  setup.py
Due: pylint, check-copyright

Minor cleanup
  geoapps/__init__.py
Due: pylint, check-copyright

Update docstrings
  geoapps/utils/utils.py
Due: pylint, check-copyright

initial design of params/constants for mt forward/inversion
  geoapps/io/magnetotellurics/__init__.py
  geoapps/io/magnetotellurics/constants.py
  geoapps/io/magnetotellurics/params.py
Due: pylint, check-copyright

Update MT constants/params with component in the form component_part.
  geoapps/drivers/components/factories/survey_factory.py
  geoapps/drivers/magnetotellurics.py
  geoapps/io/magnetotellurics/constants.py
  geoapps/io/magnetotellurics/params.py
  geoapps/io/write_default_uijson.py
Due: pylint, check-copyright

remove frequencies and make uncertainties simple object dropdown
  geoapps/io/magnetotellurics/constants.py
  geoapps/io/magnetotellurics/params.py
  geoapps/io/write_default_uijson.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
