Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

update the tipper run test driver to initialize before running
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

rework get_inversion_output to read from the bytes in the object. handle nan strings appropriately.
  geoapps/shared_utils/utils.py
  geoapps/utils/general.py
Due: pylint, check-copyright

Fix geoana version
  environment.yml
Due: none

Change version to 0.7.1
  docs/conf.py
  docs/content/release_notes.rst
  geoapps/__init__.py
  setup.py
Due: pylint, check-copyright, rstcheck

Use the SimPEG.out instead of comments to reproduce the inversion output needed for tests
  geoapps/inversion/driver.py
  geoapps/shared_utils/utils.py
  geoapps/utils/general.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

fix plotting util
  geoapps/utils/plotting.py
Due: pylint, check-copyright

Split the minimal install into conda and pip through .bat file and move imports to remove soft_import warnings during inversion.
  environment-GA.yml
  geoapps/__init__.py
  geoapps/base/__init__.py
  geoapps/base/plot.py
  geoapps/base/selection.py
  geoapps/contours/application.py
  geoapps/edge_detection/application.py
  geoapps/inversion/airborne_electromagnetics/application.py
  geoapps/inversion/components/meshes.py
  geoapps/inversion/electricals/application.py
  geoapps/octree_creation/driver.py
  install_ga.bat
  pip_requirements.txt
  setup.py
Due: pylint, check-copyright

point to geoana on github mira account
  install_ga.bat
Due: none

rewrite of the mapping in survey_factory to handle single component. Now breaking at directives factory so not sure if this worked or not.
  geoapps/inversion/components/factories/survey_factory.py
Due: pylint, check-copyright

.bat cleanup
  install_ga.bat
Due: none

Point to issue branches to get tests to pass on GH
  environment.yml
Due: none

whoops geoana.get -> geoana.git
  environment.yml
Due: none

Update environment.yml
  environment.yml
Due: none

initial commit for ui.json for iso surfaces
  assets/uijson/iso_surfaces.ui.json
Due: none

Change to base application to always have output path
  geoapps/base/application.py
  geoapps/calculator/application.py
Due: pylint, check-copyright

Fix install locally with no pathed projects
  Install_or_Update.bat
  environment.yml
  pip_requirements.txt
Due: none

Fix bug
  geoapps/calculator/application.py
Due: pylint, check-copyright

Deprecate ga_group to avoid writing to input workspace
  geoapps/base/application.py
Due: pylint, check-copyright

Update output for contouring app
  geoapps/contours/application.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
