Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

fake change to test
  .github/workflows/pr_add_jira_summary.yml
Due: none

just simpler
  .github/workflows/pr_add_jira_summary.yml
Due: none

remove non-working atlassian actions
  .github/workflows/pr_add_jira_summary.yml
Due: none

working this time?
  .github/workflows/pr_add_jira_summary.yml
Due: none

GEOPY-407: escape string content for jq
  .github/workflows/pr_add_jira_summary.yml
Due: none

Pull out some common ingredients in the trigger_click function
  geoapps/drivers/components/locations.py
  geoapps/processing/data_interpolation.py
  geoapps/utils/__init__.py
  geoapps/utils/utils.py
  tests/data_transfer_test.py
  tests/utils_test.py
Due: check-copyright

Update geoapps/io/PeakFinder/params.py
  geoapps/io/PeakFinder/params.py
Due: check-copyright

Bump version. Added release notes.
  docs/conf.py
  docs/content/release_notes.rst
  geoapps/__init__.py
  setup.py
Due: check-copyright, rstcheck

switching branches
  geoapps/processing/data_interpolation.py
  tests/data_transfer_test.py
Due: check-copyright

Fix bad merge
  geoapps/io/PeakFinder/params.py
Due: check-copyright

Pin to geoh5py release/0.1.6 for testing
  environment.yml
Due: none

Clean PF inversion notebook
  geoapps/applications/Inversion_Grav_Mag_app.ipynb
Due: none

Path conditions:
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
