Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Update link to block_model uijson
  docs/content/applications/create_block_model.ipynb
Due: none

Re-save data_interp notebook
  docs/content/applications/data_interpolation.ipynb
Due: none

Re-generate lock files
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

Re-build lock files
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

fix workspace issues
  geoapps/base/dash_application.py
  geoapps/block_model_creation/application.py
Due: pylint, check-copyright

More pylint. Re-instate test.
  geoapps/driver_base/params.py
  geoapps/inversion/params.py
  geoapps/peak_finder/driver.py
  tests/params_test.py
  tests/utils_test.py
Due: pylint, check-copyright

Patch fix for defaults reseted
  tests/params_test.py
Due: pylint, check-copyright

Run pylint on tests
  geoapps/inversion/driver.py
  geoapps/peak_finder/driver.py
  tests/data_transfer_test.py
  tests/run_tests/driver_grav_test.py
Due: pylint, check-copyright

Fix for rstchecks
  docs/content/installation.rst
  docs/content/release_notes.rst
Due: rstcheck

loop to find available ports
  geoapps/base/dash_application.py
  geoapps/block_model_creation/notebook.ipynb
Due: pylint, check-copyright

initialize with self.params input file
  geoapps/base/dash_application.py
  geoapps/block_model_creation/application.py
Due: pylint, check-copyright

add general checklist to update_params; major refactoring
  geoapps/base/dash_application.py
  geoapps/block_model_creation/application.py
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

initialize with app_initializer values
  geoapps/base/dash_application.py
Due: pylint, check-copyright

update notebook port
  geoapps/block_model_creation/notebook.ipynb
Due: none

update docstrings
  geoapps/base/dash_application.py
  geoapps/block_model_creation/application.py
  geoapps/block_model_creation/constants.py
Due: pylint, check-copyright

scatter initializing correctly
  geoapps/base/dash_application.py
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

update scatter notebook with ports
  geoapps/scatter_plot/notebook.ipynb
Due: none

fix block model test
  geoapps/block_model_creation/application.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

rebuild lock files
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
