Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

lock on tagged simpeg
  conda-py-3.9-lock.yml
  environments/conda-py-3.9-win-64-simpeg.lock.yml
  pyproject.toml
Due: none

remove vertex data
  assets/uijson/edge_detection.ui.json
  geoapps/edge_detection/constants.py
Due: pylint, check-copyright

add get_param_dict function
  geoapps/base/application.py
Due: pylint, check-copyright

remove xy output from get_edges
  geoapps/edge_detection/driver.py
Due: pylint, check-copyright

update instead of making new params
  geoapps/edge_detection/application.py
Due: pylint, check-copyright

update lock files
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

Avoid double run of forward
  geoapps/inversion/driver.py
Due: pylint, check-copyright

move dash into class
  geoapps/scatter_plot/dash_application.py
  geoapps/scatter_plot/run_dash.py
Due: pylint, check-copyright

Re-trigger unittests
  geoapps/inversion/driver.py
Due: pylint, check-copyright

smaller compressed pack file as .tar.xz
  .github/workflows/build_bundle.yml
Due: none

Move forward in run()
  geoapps/inversion/driver.py
Due: pylint, check-copyright

Bring back looger.end()
  geoapps/inversion/driver.py
Due: pylint, check-copyright

object and data selection
  geoapps/scatter_plot/dash_application.py
  geoapps/scatter_plot/run_dash.py
Due: pylint, check-copyright

add function to downsample params for get_edges
  geoapps/edge_detection/application.py
  geoapps/edge_detection/params.py
Due: pylint, check-copyright

update docstrings
  geoapps/edge_detection/driver.py
Due: pylint, check-copyright

plotting working
  geoapps/scatter_plot/dash_application.py
Due: pylint, check-copyright

pack again as a zip file
  .github/workflows/build_bundle.yml
Due: none

fix lockfile path in helper script for packing simpeg
  devtools/pack_simpeg_env.py
Due: check-copyright

use mamba for faster creation of the simpeg env
  devtools/pack_simpeg_env.py
Due: check-copyright

updated version of simpeg
  pyproject.toml
Due: none
