Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

Update requirements
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  geoapps/edge_detection/notebook.ipynb
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Fix bugs
  geoapps/base/application.py
  geoapps/edge_detection/application.py
  geoapps/edge_detection/notebook.ipynb
Due: pylint, check-copyright

Update lock files
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

GEOPY-863: use new dev script to create lock files
  devtools/add_url_tag_sha256.py
  devtools/run_conda_lock.bat
  devtools/run_conda_lock.py
  devtools/setup-conda-base.bat
  devtools/setup-dev.bat
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: check-copyright

update application for latest curve-apps
  geoapps/base/application.py
  geoapps/edge_detection/application.py
Due: pylint, check-copyright

rename edge_detection -> edges
  geoapps/edge_detection/application.py
Due: pylint, check-copyright

Add peak-finder to list of requirements
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  install.bat
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Move functionality to base. Clean out old files
  geoapps/base/application.py
  geoapps/peak_finder/__init__.py
  geoapps/peak_finder/application.py
  geoapps/peak_finder/constants.py
  geoapps/peak_finder/driver.py
  geoapps/peak_finder/params.py
  geoapps/peak_finder/utils.py
  geoapps/utils/write_default_uijson.py
Due: pylint, check-copyright

Final fixes
  geoapps/base/selection.py
  geoapps/peak_finder/application.py
  geoapps/peak_finder/constants.py
  geoapps/peak_finder/notebook.ipynb
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

Remove peak finder test
  tests/params_test.py
Due: pylint, check-copyright

Use airborne_tem file instead
  geoapps/peak_finder/constants.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

lock on geoapps-utils 0.3.0rc4
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

Update contour application to take new curve-apps driver/params
  geoapps/contours/__init__.py
  geoapps/contours/application.py
  geoapps/contours/constants.py
  geoapps/contours/driver.py
  geoapps/contours/params.py
  geoapps/edge_detection/application.py
  geoapps/utils/write_default_uijson.py
Due: pylint, check-copyright

fix test
  geoapps/contours/application.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

update lock files
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

update lock files
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  geoapps/octree_creation/notebook.ipynb
  py-3.10.conda-lock.yml
Due: none

Fix construction with geoh5 and ui_json arguments and update tests
  geoapps/contours/application.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

cleanup
  geoapps/contours/application.py
Due: pylint, check-copyright

fix tests
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

update matplotlib
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

move initializer into class as class attribute and use it in is_computational instead of using the ui.json file.. and fix edge_detiction window
  geoapps/contours/application.py
  geoapps/edge_detection/application.py
  pyproject.toml
Due: pylint, check-copyright

add license files to both sdist and wheel
  pyproject.toml
Due: none

GEOPY-1565: pass token for CodeCov v4
  .github/workflows/pytest-windows.yaml
Due: none

GEOPY-1566: use newer Pillow, geoh5py and simpeg-drivers
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

GEOPY-1566: use newer pip packages
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

GEOPY-1566: maintain code coverage above 75%
  pyproject.toml
Due: none

GEOPY-1566: ensure usage of peak-finder rc.2
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

GEOPY-1566: lower required code coverage to 35% for now
  pyproject.toml
Due: none

simplify call to pytest in GitHub workflow
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
Due: none

rename yaml to yml for consistency
  .github/workflows/pytest-unix-os.yml
  .github/workflows/pytest-windows.yml
Due: none

edge detection uses window
  geoapps/contours/application.py
  geoapps/edge_detection/application.py
Due: pylint, check-copyright

point geoapps to surface-apps and make tests pass
  geoapps/iso_surfaces/application.py
  pyproject.toml
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

bump version to beta.1 - points to released packages (no more RC)
  docs/conf.py
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  geoapps/__init__.py
  py-3.10.conda-lock.yml
  pyproject.toml
Due: pylint, check-copyright

update pillow and scipy
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

rename SimPEG -> simpeg
  geoapps/inversion/__init__.py
  geoapps/inversion/base_inversion_application.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
  geoapps/inversion/potential_fields/gravity/application.py
  geoapps/inversion/potential_fields/magnetic_scalar/application.py
  geoapps/inversion/potential_fields/magnetic_vector/application.py
  geoapps/inversion/utils.py
  geoapps/shared_utils/utils.py
  geoapps/utils/surveys.py
  geoapps/utils/testing.py
Due: pylint, check-copyright

point to simpeg-archive with import SimPEG removed
  pyproject.toml
Due: none

update mkl and fix tbb versions
  pyproject.toml
Due: none

update locks
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

clean out iso-surfaces driver/params/constants
  geoapps/iso_surfaces/__init__.py
  geoapps/iso_surfaces/constants.py
  geoapps/iso_surfaces/driver.py
  geoapps/iso_surfaces/params.py
  geoapps/utils/write_default_uijson.py
  tests/iso_surfaces_test.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not (^(devtools|docs)/) and not ((^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/))
  check-copyright: any of: (^LICENSE|^README(|-dev).rst|\.py|\.pyi)$ and not ((^\.|^docs/)) and not ((^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/))
