Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

assertion in helper script about directoty existence
  devtools/run_conda_lock.py
Due: check-copyright

fix typo in helper script function name
  devtools/run_conda_lock.py
Due: check-copyright

update lock files
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

update non-locked environment.yml files
  environment-dev.yml
  environment.yml
Due: none

GEOPY-517 test geoh5py-0.3.0rc.1
  pyproject.toml
Due: none

commenting, fix error in asserts, test reference
  geoapps/utils/models.py
  tests/utils_test.py
Due: pylint, check-copyright

GEOPY-517 test geoh5py-0.3.0rc.1, update more dependency locations
  environment-dev.yml
  environment.yml
Due: none

Update import
  geoapps/base/application.py
  geoapps/driver_base/params.py
Due: pylint, check-copyright

Fix for geoh5py 0.3.0
  geoapps/base/selection.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
Due: pylint, check-copyright

convert rotate_xy to rotate_xyz, 3D rotation
  geoapps/base/plot.py
  geoapps/inversion/airborne_electromagnetics/driver.py
  geoapps/inversion/components/locations.py
  geoapps/inversion/components/models.py
  geoapps/iso_surfaces/driver.py
  geoapps/shared_utils/utils.py
  geoapps/utils/io.py
  geoapps/utils/models.py
  tests/models_test.py
  tests/utils_test.py
Due: pylint, check-copyright

Fix logic for 0.3.0 get_entity change
  geoapps/calculator/application.py
  geoapps/export/application.py
  geoapps/inversion/airborne_electromagnetics/application.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
  geoapps/peak_finder/application.py
  geoapps/triangulated_surfaces/application.py
Due: pylint, check-copyright

interpolation initial uijson
  assets/uijson/interpolation.ui.json
  geoapps/interpolation/constants.py
Due: pylint, check-copyright

initial commit for interpolation params
  geoapps/interpolation/params.py
Due: pylint, check-copyright

Fix em1d forward and inv. Bump unitest to actual run
  geoapps/inversion/airborne_electromagnetics/application.py
  geoapps/inversion/airborne_electromagnetics/driver.py
  tests/em1d_run_test.py
Due: pylint, check-copyright

initial commit interpolation driver
  geoapps/interpolation/driver.py
Due: pylint, check-copyright

update defaults
  geoapps/interpolation/constants.py
Due: pylint, check-copyright

accompanying changes for geoh5py issue updating optional_type logic
  environment.yml
  geoapps/inversion/constants.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  tests/params_test.py
Due: pylint, check-copyright

Add rotation direction to docstrings
  geoapps/shared_utils/utils.py
Due: pylint, check-copyright

Suppress warning by setting omp_numn_thread
  geoapps/base/application.py
  geoapps/clustering/application.py
  geoapps/driver_base/params.py
Due: pylint, check-copyright

Fix a couple geoh5py imports
  geoapps/driver_base/params.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
