Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

Push clean state for edge detection app
  geoapps/applications/Edge_Detection.ipynb
Due: none

Push clean state for contours app
  geoapps/applications/Create_contours.ipynb
Due: none

Refresh state of notebook docs
  docs/content/applications/contouring.ipynb
  docs/content/applications/create_octree.ipynb
  docs/content/applications/dcip_inversion.ipynb
  docs/content/applications/edge_detection.ipynb
  docs/content/applications/grav_mag_inversion.ipynb
  docs/content/applications/peak_finder.ipynb
Due: none

move write_default_uijson out of import in init to remove runtimewarning
  geoapps/io/__init__.py
  tests/write_default_uijson_test.py
Due: pylint, check-copyright

Pin geoh5py on official 0.1.6
  environment.yml
Due: none

Edit release notes
  docs/content/release_notes.rst
Due: rstcheck

Update release_notes.rst
  docs/content/release_notes.rst
Due: rstcheck

include octree and peakfinder in use_initializer option
  geoapps/io/write_default_uijson.py
Due: pylint, check-copyright

simplify logic around the use_initializer option
  geoapps/io/write_default_uijson.py
  tests/write_default_uijson_test.py
Due: pylint, check-copyright

Simpler logical for linter
  geoapps/io/write_default_uijson.py
Due: pylint, check-copyright

Remove linear method from options (too slow).
  geoapps/processing/data_interpolation.py
Due: pylint, check-copyright

get_locations checks for parent centroids/vertices if none found on input object.
  geoapps/utils/utils.py
Due: pylint, check-copyright

Avoid crash if wrong EM system
  geoapps/inversion/em1d_inversion_app.py
Due: pylint, check-copyright

switching branches
  geoapps/io/Octree/constants.py
  geoapps/io/Octree/params.py
  geoapps/io/PeakFinder/constants.py
  geoapps/io/PeakFinder/params.py
  geoapps/processing/peak_finder.py
Due: pylint, check-copyright

flatten dictionary to list of keys to pass test_sorted_children
  tests/utils_test.py
Due: pylint, check-copyright

Fix up peakfinder to be able to write app_initialized default_ui_json that reproduces the notebook app run.
  geoapps/io/PeakFinder/constants.py
  geoapps/io/PeakFinder/params.py
Due: pylint, check-copyright

fix octree test
  tests/run_tests/octree_creation_test.py
Due: pylint, check-copyright

Used regex to pull out integers in the names of object children. No longer checks for iteration in the name to make the function more generic.
  geoapps/utils/utils.py
Due: pylint, check-copyright
