Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/)
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]
    autoupdate_branch: develop
    autoupdate_schedule: monthly

repos:
-   repo: https://github.com/psf/black
    rev: 23.10.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        additional_dependencies: [tomli] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://github.com/PyCQA/flake8
#    rev: 6.1.0
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
    -   id: pyupgrade
        args: [--py39-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v1.6.1
#    hooks:
#    -   id: mypy
#        additional_dependencies: [
#            types-toml,
#            types-PyYAML,
#            tomli # to read config from pyproject.toml
#        ]
-   repo: https://github.com/codingjoe/relint
    rev: 3.1.0
    hooks:
    -   id: relint
        args: [-W]  # to fail on warnings
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: ^(devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [text]
        files: (^LICENSE|^README(|-dev).rst|\.py|\.pyi)$
        exclude: (^\.|^docs/)
    -   id: prepare-commit-msg
        stages: [prepare-commit-msg]
        name: Prepare commit message
        entry: python devtools/git_message_hook.py --prepare
        language: python
    -   id: check-commit-msg
        stages: [commit-msg]
        name: Check commit message
        entry: python devtools/git_message_hook.py --check
        language: python
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        exclude: (-lock\.ya?ml|\benvironments/.*\.ya?ml|\.ipynb|^THIRD_PARTY_SOFTWARE\.rst)$
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        exclude: ^THIRD_PARTY_SOFTWARE.rst$
        additional_dependencies: [sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: rst-backticks
        exclude: ^THIRD_PARTY_SOFTWARE.rst$

[DEVOPS-452] Update python_analysis with the new CI-tool release
  .github/workflows/python_analysis.yml
Due: none

[DEVOPS-452] Disable ruff rules
  pyproject.toml
Due: none

[DEVOPS-452] Disable RUF015
  pyproject.toml
Due: none

fix installation script for newer conda versions
  Install_or_Update.bat
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

relock conda envs (point to updated geoapps-utils)
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

pyproject: remove commented out git URL
  pyproject.toml
Due: none

GEOPY-1698: relock conda env on new geoapps-utils
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

GEOPY-1698: remove misleading comments
  pyproject.toml
Due: none

GEOPY-1698: add direct dependencies on github repos
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

[DEVOPS-452] Add debug print
  geoapps/__init__.py
Due: pylint, check-copyright

[DEVOPS-459] Check if the new CI-tool workflows works
  .github/workflows/python_analysis.yml
Due: none

[DEVOPS-452] Cleaning
  geoapps/__init__.py
Due: pylint, check-copyright

[DEVOPS-452] Enable lfs during the Unix pytest
  .github/workflows/python_analysis.yml
Due: none

[DEVOPS-452] Update reusable workflows
  .github/workflows/python_analysis.yml
Due: none

relock on latest develop branches
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

in tests, pylint: disable=protected-access
  tests/utils_test.py
Due: pylint, check-copyright

zip Strict=True
  geoapps/clustering/driver.py
  geoapps/driver_base/params.py
  geoapps/interpolation/driver.py
  geoapps/inversion/electromagnetics/driver.py
  geoapps/inversion/utils.py
  geoapps/shared_utils/utils.py
  geoapps/triangulated_surfaces/application.py
  geoapps/utils/plotting.py
  geoapps/utils/surveys.py
Due: pylint, check-copyright

restore strict=False as test were failing. Expected?
  geoapps/clustering/driver.py
Due: pylint, check-copyright

[DEVOPS-440] Use regular double quote in README.rst
  README.rst
Due: check-copyright

[DEVOPS-466] Update input variable in shared workflows
  .github/workflows/issue_to_jira.yml
  .github/workflows/python_analysis.yml
Due: none

[GEOPY-1712] Exclude RUF005 flag
  pyproject.toml
Due: none

[DEVOPS-471] Test the new version of reusable-python-pytest_unix and reusable-python-pytest_windows
  .github/workflows/python_analysis.yml
Due: none

[DEVOPS-471] Use the multi os pytest workflow
  .github/workflows/python_analysis.yml
Due: none

[DEVOPS-471] Check if codecov is executed only on windows-latest
  .github/workflows/python_analysis.yml
Due: none

[DEVOPS-471] Update reference
  .github/workflows/pr_add_jira_summary.yml
Due: none

[DEVOPS-466] Update reference
  .github/workflows/python_analysis.yml
Due: none

[DEVOPS-466] Update python_analysis
  .github/workflows/python_analysis.yml
Due: none

[DEVOPS-466] Update before merging
  .github/workflows/issue_to_jira.yml
  .github/workflows/python_analysis.yml
Due: none

point to branches geoh5py@release/0.10.0 and peak-finder-app@release/0.2.0
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Fixes for 1D inversion
  geoapps/base/selection.py
  geoapps/inversion/components/preprocessing.py
  geoapps/shared_utils/utils.py
Due: pylint, check-copyright

More fixes
  geoapps/triangulated_surfaces/application.py
  geoapps/utils/io.py
Due: pylint, check-copyright

Fix iso-surfaces
  geoapps/iso_surfaces/application.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

RE-lock
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
Due: none

Fix issue with points
  geoapps/inversion/components/preprocessing.py
Due: pylint, check-copyright

publish to codecov one platform only
  .github/workflows/python_analysis.yml
Due: none

enable pre-commit check-added-large-files
  .pre-commit-config.yaml
Due: none

Update installation.rst
  docs/content/installation.rst
Due: none

[GEOPY-1860] do not include top level files in wheels
  pyproject.toml
Due: none

update links to readthedocs
  README.rst
  docs/content/release_notes.rst
Due: check-copyright

add virtual package fro glibc and simpeg
  virtual-packages.yml
Due: none
