Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

GEOPY-896 fix image reference in README.rst
  README.rst
Due: rstcheck

GEOPY-896 set versoin to 0.10.0-rc.2
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

set uncertainties to infinity for nan data
  geoapps/inversion/components/data.py
  tests/data_test.py
Due: pylint, check-copyright

Patch conversion on receivers
  geoapps/inversion/components/factories/receiver_factory.py
Due: pylint, check-copyright

GEOPY-906: stricter conditions on some dependency versions
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

GEOPY-906: use new rc version for geoh5py
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

release version constraints on Mira packages: allow patch update and prereleases
  pyproject.toml
Due: none

use pip command to compute the package hash
  devtools/add_url_tag_sha256.py
Due: check-copyright

GEOPY-907: allow to get geoapps from pypi instead of github
  devtools/create_application_env_files.py
Due: check-copyright

GEOPY-907: keep pip hashes as appropriate
  devtools/create_application_env_files.py
Due: check-copyright

GEOPY-907: create app env file for various plaforms
  devtools/create_application_env_files.py
Due: check-copyright

GEOPY-912: do not assume start_notebook script is in path
  Start_applications.bat
Due: none

update workflow to create env files
  .github/workflows/create_env_file.yml
Due: none

add github workflow to run conda pack
  .github/workflows/packaging.yml
Due: none

install application in env
  .github/workflows/packaging.yml
Due: none

build for linux and windows
  .github/workflows/packaging.yml
Due: none

Add uijson, constant, driver and params for Joint Single prop inversion
  geoapps-assets/uijson/joint_single.ui.json
  geoapps/inversion/driver.py
  geoapps/inversion/joint/single_property/__init__.py
  geoapps/inversion/joint/single_property/constants.py
  geoapps/inversion/joint/single_property/driver.py
  geoapps/inversion/joint/single_property/params.py
Due: pylint, check-copyright

Revert to old behaviour. Setting the uncertainties earlier causes dpred to exclude the data with nan infinity. Better to show observed with no data but predicted with data.
  geoapps/inversion/components/data.py
Due: pylint, check-copyright

Fix test
  tests/data_test.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
