Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.6.4
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
#-   repo: https://github.com/pre-commit/mirrors-pylint
#    rev: v2.6.0
#    hooks:
#    -   id: pylint
#        exclude: (devtools|docs)/
-   repo: local
    hooks:
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v1.17.1
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.7.0
    hooks:
    -   id: rst-backticks

Fix for name change in geotiff_2_grid
  geoapps/processing/coordinate_transformation.py
Due: check-copyright

Abstracted validator class and reimplemented param validation on input file load and params attribute setters
  geoapps/io/__init__.py
  geoapps/io/constants.py
  geoapps/io/driver.py
  geoapps/io/validators.py
  geoapps/pf_inversion.py
  tests/input_file_test.py
  tests/input_validator_test.py
  tests/params_test.py
Due: check-copyright

Added resolution param and created from_path params constructor
  geoapps/io/constants.py
  geoapps/io/driver.py
  tests/params_test.py
Due: check-copyright

Updated the params class and pf_inversion driver up to new_uncert references
  geoapps/io/constants.py
  geoapps/io/driver.py
  geoapps/io/validators.py
  geoapps/pf_inversion.py
  tests/params_test.py
Due: check-copyright

Fix more dependencies
  .travis.yml
  conda-win-64.lock
  docs/environment.yml
  environment.yml
  requirements_dev.txt
Due: none

Add geoh5py back to docs
  docs/environment.yml
Due: none

Reset cache
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
Due: none

Add back plotly
  docs/environment.yml
Due: none

Try Python 3.8 again
  .github/workflows/pytest-windows.yaml
Due: none

Change synthax for python-version
  .github/workflows/pytest-windows.yaml
Due: none

Fix pytest for unix-os
  .github/workflows/pytest-unix-os.yaml
Due: none

Add release notes for 0.4.1
  docs/content/release_notes.rst
Due: rstcheck

Added up to pf_inversion parameters up to gradient_type into Params class with validations, defaults, and tests.
  geoapps/io/constants.py
  geoapps/io/driver.py
  geoapps/io/validators.py
  geoapps/pf_inversion.py
  tests/params_test.py
Due: check-copyright

Use standard deviation for min amplitude. Make Show residual optional
  geoapps/processing/peak_finder.py
Due: check-copyright

Finishes initial design of Params class and points pf_inversion back to Params instance.
  geoapps/io/constants.py
  geoapps/io/driver.py
  geoapps/io/validators.py
  geoapps/pf_inversion.py
  tests/params_test.py
Due: check-copyright

Add Octree Mesh Creation function and app
  geoapps/applications/Octree Mesh Creation.ipynb
  geoapps/processing/__init__.py
  geoapps/processing/create.py
  geoapps/utils/utils.py
  tests/Airborne_TMI.tif
Due: check-copyright

Added test for valid parameter input, and fixed a few bugs discovered.
  geoapps/io/constants.py
  geoapps/io/driver.py
  geoapps/io/validators.py
  geoapps/pf_inversion.py
  tests/params_test.py
Due: check-copyright

Initial UI from json for GA
  assets/options_tree.json
Due: none

Adds docstrings and depth_core param + validator
  geoapps/io/constants.py
  geoapps/io/driver.py
  geoapps/io/utils.py
  geoapps/io/validators.py
  geoapps/pf_inversion.py
  tests/params_test.py
Due: check-copyright

Added type hinting
  geoapps/io/driver.py
  geoapps/io/validators.py
  tests/params_test.py
Due: check-copyright
