Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

Docstring cleanup
  geoapps/utils/plotting.py
  geoapps/utils/statistics.py
Due: pylint, check-copyright

add back an import re
  geoapps/utils/plotting.py
Due: pylint, check-copyright

remove failed minimal install files
  environment-GA.yml
  install_ga.bat
Due: none

add comments
  geoapps/scatter_plot/params.py
Due: pylint, check-copyright

check if min/max/downsampling are None
  geoapps/scatter_plot/driver.py
Due: pylint, check-copyright

start restructuring application
  geoapps/scatter_plot/application.py
Due: pylint, check-copyright

add typing to signature for functions with updated docstrings
  geoapps/utils/plotting.py
  geoapps/utils/statistics.py
Due: pylint, check-copyright

clean out utils/utils.py. Was brought back in by merge of another issue. Need to move out added utils to thematic modules
  geoapps/iso_surfaces/utils.py
  geoapps/utils/utils.py
Due: pylint, check-copyright

Repoint iso_surfaces imports
  geoapps/iso_surfaces/application.py
  geoapps/iso_surfaces/driver.py
  geoapps/iso_surfaces/params.py
Due: pylint, check-copyright

Add unique id on output workspace
  geoapps/base/application.py
Due: pylint, check-copyright

Enforce order of param update to avoid error
  geoapps/iso_surfaces/application.py
  tests/run_tests/apps_run_test.py
Due: pylint, check-copyright

split environment between base and fixed python version
  env-python-3.7.yml
  env-python-3.8.yml
  env-python-3.9.yml
  environment.yml
Due: none

comment out dev dependencies as they cause trouble to conda-lock
  pyproject.toml
Due: none

update reference to geoh5py dependency
  pyproject.toml
Due: none

github workflow for packaging [WIP]
  .github/workflows/build_bundle.yml
Due: none

dependencies in pyproject.toml for conda-lock
  pyproject.toml
Due: none

add all runtime dependencies with version requirements
  pyproject.toml
Due: none

get geoana from Conda
  pyproject.toml
Due: none

GEOPY-205: helper script to generate lock files
  devtools/run_conda_lock.py
Due: check-copyright

enable discretize dependency for testing
  pyproject.toml
Due: none

adjust dependencies versions for compatibility
  pyproject.toml
Due: none
