Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

again fix path issue with tmp file on github
  devtools/run_conda_lock.py
Due: check-copyright

fix app name for app env file
  devtools/create_application_env_files.py
Due: check-copyright

use Python 3.10 for installation under Analyst
  .github/workflows/create_env_file.yml
  devtools/create_application_env_files.py
Due: check-copyright

use Python 3.10 for dev environment
  devtools/setup-dev.bat
Due: none

use Python 3.10 for geoapps installation
  Install_or_Update.bat
Due: none

use Python 3.10 as environment for github actions
  .github/workflows/pytest-windows.yaml
  .github/workflows/static-analysis.yml
Due: none

correct doc of a dev script
  devtools/run_conda_lock.py
Due: check-copyright

set version to 0.9.0-rc.2
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

bump version
  docs/conf.py
  pyproject.toml
Due: none

autoupdate pre-commit hooks on develop branch monthly
  .pre-commit-config.yaml
Due: none

remove temporary generated file
  .gitignore
  devtools/pyproject-sha.toml
Due: none

fix minor typo in comment
  pyproject.toml
Due: none

fix minor naming typo for local variable
  geoapps/driver_base/utils.py
Due: pylint, check-copyright

fix github action
  .github/workflows/create_env_file.yml
Due: none

again fix github action
  .github/workflows/create_env_file.yml
Due: none

fix pattern to capture pip dependencies
  devtools/create_application_env_files.py
Due: check-copyright

remove hash specification in generated file for pip dependencies
  devtools/create_application_env_files.py
Due: check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
