Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

rename github pipeline file
  .github/workflows/create_env_file.yml
Due: none

return type ipyfilechooser.FloatText as forward declaration
  geoapps/octree_creation/application.py
Due: pylint, check-copyright

add initialization
  geoapps/scatter_plot/constants.py
  geoapps/scatter_plot/dash_application.py
  geoapps/scatter_plot/driver.py
  geoapps/scatter_plot/run_dash.py
Due: pylint, check-copyright

specify children for markdown components
  geoapps/scatter_plot/dash_application.py
Due: pylint, check-copyright

put markdown in separate files
  geoapps/scatter_plot/dash_application.py
  geoapps/scatter_plot/footer.md
  geoapps/scatter_plot/header.md
Due: pylint, check-copyright

rst minor formatting
  docs/content/installation.rst
  docs/content/release_notes.rst
Due: rstcheck

revert markdown
  geoapps/scatter_plot/dash_application.py
  geoapps/scatter_plot/footer.md
  geoapps/scatter_plot/header.md
Due: pylint, check-copyright

remove unnecessary setup.py since pyproject.toml
  setup.py
Due: pylint

correct version to alpha.1
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

use Dominique's email address for support
  pyproject.toml
Due: none

change tag name to analyst-*
  .github/workflows/create_env_file.yml
Due: none

initial commit for changing contour parameter
  assets/uijson/iso_surfaces.ui.json
  geoapps/iso_surfaces/application.py
  geoapps/iso_surfaces/constants.py
  geoapps/iso_surfaces/driver.py
  geoapps/iso_surfaces/params.py
  geoapps/utils/utils.py
Due: pylint, check-copyright

update packages
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

for convenience, add back non-locked environment files
  environment-dev.yml
  environment.yml
Due: none

freeze rstcheck to 5.0 in pre-commit to avoid false positive
  .pre-commit-config.yaml
Due: none

restore tests in GitHub on macOS
  .github/workflows/pytest-unix-os.yaml
Due: none

remove environment files first to recreate and not update
  devtools/run_conda_lock.py
Due: check-copyright

tell numpy to use mkl instead of openblas
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environment-dev.yml
  environment.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

version as alpha.2
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
