Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

pyproject.toml updates
  pyproject.toml
Due: none

auto-update versions of github acrtions
  .github/dependabot.yml
Due: none

set dependabot to update versions in 'develop' branch
  .github/dependabot.yml
Due: none

write util to interpolate drape models into octree
  geoapps/utils/models.py
  tests/utils_test.py
Due: pylint, check-copyright

return octree from drape_to_octree and add assert to test
  geoapps/utils/models.py
  tests/utils_test.py
Due: pylint, check-copyright

GEOPY-834: kill running github actions the same PR
  .github/workflows/pytest-unix-os.yaml
  .github/workflows/pytest-windows.yaml
  .github/workflows/static-analysis.yml
Due: none

switching branches
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/constants.py
  geoapps/inversion/line_sweep/driver.py
  tests/run_tests/driver_dc_p3d_test.py
  tests/utils_test.py
Due: pylint, check-copyright

GEOPY-824: create the application env file for Python 3.10
  devtools/create_application_env_files.py
Due: check-copyright

Merge pull request #492 from MiraGeoscience/dependabot/github_actions/atlassian/gajira-login-3.0.1
  .github/workflows/issue_to_jira.yml
Due: none

Add a pseudo3d ip run test
  geoapps/inversion/__init__.py
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/entity_factory.py
  geoapps/inversion/components/factories/receiver_factory.py
  geoapps/inversion/components/factories/simpeg_factory.py
  geoapps/inversion/components/factories/simulation_factory.py
  geoapps/inversion/components/factories/source_factory.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/driver.py
  geoapps/inversion/line_sweep/driver.py
  geoapps/utils/models.py
  tests/run_tests/driver_ip_p3d_test.py
Due: pylint, check-copyright

Remove call to lookup method drape to octree interp and update run test targets
  geoapps/inversion/line_sweep/driver.py
  tests/run_tests/driver_ip_p3d_test.py
Due: pylint, check-copyright

Fix convergence curve path. Pull timestamped file path from self._run_params.geoh5.
  geoapps/inversion/electricals/notebook.ipynb
  geoapps/inversion/potential_fields/notebook.ipynb
Due: none

Fix convergence curve path
  geoapps/inversion/electricals/notebook.ipynb
  geoapps/inversion/potential_fields/notebook.ipynb
Due: none

Address Dom's review comments
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/driver.py
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/params.py
  geoapps/utils/models.py
Due: pylint, check-copyright

Need to copy over conductivity model in write_files of the ip pseudo 3d driver
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/driver.py
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/params.py
Due: pylint, check-copyright

Update pyproject.toml for new releases
  pyproject.toml
Due: none
