Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.2
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.21.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
#-   repo: https://github.com/pre-commit/mirrors-pylint
#    rev: v2.6.0
#    hooks:
#    -   id: pylint
#        exclude: (devtools|docs)/
-   repo: local
    hooks:
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

Add currents to save_data
  geoapps/drivers/components/data.py
Due: check-copyright

Changes for 0.15.1
  geoapps/applications/test.py
  geoapps/drivers/base_inversion.py
  geoapps/drivers/components/factories.py
Due: check-copyright

Change default vector output to dip/azimuth in degree
  geoapps/drivers/base_inversion.py
Due: check-copyright

Fix ignore value
  geoapps/drivers/components/data.py
  geoapps/pf_inversion_app.py
Due: check-copyright

More clean ups
  geoapps/drivers/base_inversion.py
  geoapps/io/Inversion/params.py
  geoapps/io/params.py
  geoapps/pf_inversion_app.py
Due: check-copyright

Remove promote_type in favor of inline type check
  geoapps/io/Octree/params.py
  geoapps/io/PeakFinder/params.py
  geoapps/io/params.py
Due: check-copyright

Change out_group setter behaviour
  geoapps/drivers/base_inversion.py
  geoapps/drivers/components/locations.py
  geoapps/io/Inversion/params.py
Due: check-copyright

Remove pf_inversion.py
  geoapps/drivers/pf_inversion.py
Due: check-copyright

Start split of mag/grav and EM1d app
  geoapps/applications/Index.ipynb
  geoapps/em1d_inversion_app.py
Due: check-copyright

Removing general app
  geoapps/applications/Geophysical_Inversion_app.ipynb
Due: none

Added apparent resistivity transformation to geoh5 output.
  geoapps/drivers/components/data.py
  geoapps/drivers/components/factories/directives_factory.py
  geoapps/drivers/direct_current_inversion.py
Due: check-copyright

RE-outfit em1d inversion as seperate app. Save output to external geoh5
  geoapps/applications/Index.ipynb
  geoapps/applications/Inversion_EM1D_app.ipynb
  geoapps/applications/Inversion_Grav_Mag_app.ipynb
  geoapps/em1d_inversion_app.py
  geoapps/plotting/plotting.py
Due: check-copyright

Update notebooks. Fix layout em1d app
  geoapps/applications/Index.ipynb
  geoapps/applications/Inversion_EM1D_app.ipynb
  geoapps/applications/Inversion_Grav_Mag_app.ipynb
  geoapps/applications/images/inversion_em1d_thumbnail.png
  geoapps/applications/images/inversion_grav_mag_thumbnail.png
  geoapps/em1d_inversion_app.py
Due: check-copyright

Split docs into em1d and grav_mag notebooks. Update Grav_Mag content
  docs/conf.py
  docs/content/applications.rst
  docs/content/applications/em1d_inversion.ipynb
  docs/content/applications/grav_mag_inversion.ipynb
  docs/content/applications/images/GA_pro_grav_mag_inversion.gif
  docs/content/applications/images/inversion_em1d_thumbnail.png
  docs/content/applications/images/inversion_grav_mag_thumbnail.png
  geoapps/applications/Inversion_Grav_Mag_app.ipynb
  geoapps/drivers/base_inversion.py
  geoapps/pf_inversion_app.py
Due: check-copyright, rstcheck

Move convergence curve to plotting and utils
  geoapps/plotting/__init__.py
  geoapps/plotting/plotting.py
  geoapps/utils/__init__.py
  geoapps/utils/utils.py
Due: check-copyright

Update em1d docs
  docs/content/applications.rst
  docs/content/applications/em1d_inversion.ipynb
  docs/content/applications/grav_mag_inversion.ipynb
  geoapps/applications/Index.ipynb
  geoapps/applications/Inversion_EM1D_app.ipynb
  geoapps/applications/Inversion_Grav_Mag_app.ipynb
Due: rstcheck

Bump docs geoh5py version
  docs/environment.yml
Due: none

Delete test.py
  geoapps/applications/test.py
Due: check-copyright

Fix transform for scalar inversions
  geoapps/drivers/base_inversion.py
Due: check-copyright

Change behavior on change of inversion_type
  geoapps/pf_inversion_app.py
Due: check-copyright
