Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Remove decimal in time stamp
  geoapps/iso_surfaces/application.py
Due: pylint, check-copyright

fix imports
  geoapps/base/application.py
  geoapps/driver_base/params.py
  geoapps/interpolation/application.py
  geoapps/interpolation/driver.py
Due: pylint, check-copyright

fix import in data_transfer_test
  tests/data_transfer_test.py
Due: pylint, check-copyright

plot kmeans
  geoapps/clustering/application.py
  geoapps/clustering/constants.py
  geoapps/clustering/params.py
  geoapps/clustering/plot_data.py
Due: pylint, check-copyright

read in and save kmean plotting
  geoapps/clustering/application.py
  geoapps/scatter_plot/application.py
  geoapps/scatter_plot/constants.py
Due: pylint, check-copyright

Add release notes
  docs/content/release_notes.rst
Due: rstcheck

Fix base_application docs
  docs/content/applications/base_application.ipynb
Due: none

Minor update to iso_surface applciation. Update docs
  docs/content/applications/create_isosurface.ipynb
  geoapps/iso_surfaces/application.py
Due: pylint, check-copyright

update conda-lock files
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

Update geoapps/interpolation/constants.py
  geoapps/interpolation/constants.py
Due: pylint, check-copyright

update np.random.seed
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

move block model functions to utils/models
  geoapps/interpolation/driver.py
  geoapps/utils/models.py
  tests/data_transfer_test.py
Due: pylint, check-copyright

Update docs
  docs/content/applications/DCInversion.ui.json
  docs/content/applications/Octree_Mesh.ui.json
  docs/content/applications/PeakFinder.ui.json
  docs/content/applications/VectorInversion.ui.json
  docs/content/applications/contouring.ipynb
  docs/content/applications/coordinate_transformation.ipynb
  docs/content/applications/create_octree.ipynb
  docs/content/applications/data_interpolation.ipynb
  docs/content/applications/dcip_inversion.ipynb
  docs/content/applications/edge_detection.ipynb
  docs/content/applications/em1d_inversion.ipynb
  docs/content/applications/export.ipynb
  docs/content/applications/grav_mag_inversion.ipynb
  docs/content/applications/object_data_selection.ipynb
  docs/content/applications/peak_finder.ipynb
  docs/content/applications/scatter.ipynb
  docs/content/applications/triangulated_surfaces.ipynb
  docs/content/applications/view_selection.ipynb
  docs/environment.yml
Due: none

Contouring doc
  docs/content/applications/contouring.ipynb
Due: none

re-run
  docs/content/applications/coordinate_transformation.ipynb
  docs/content/applications/scatter.ipynb
Due: none

Second try a lock files
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

Try fixing gdal to previous release
  conda-py-3.7-lock.yml
  conda-py-3.8-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.7-linux-64-dev.lock.yml
  environments/conda-py-3.7-linux-64.lock.yml
  environments/conda-py-3.7-osx-64-dev.lock.yml
  environments/conda-py-3.7-osx-64.lock.yml
  environments/conda-py-3.7-win-64-dev.lock.yml
  environments/conda-py-3.7-win-64.lock.yml
  environments/conda-py-3.8-linux-64-dev.lock.yml
  environments/conda-py-3.8-linux-64.lock.yml
  environments/conda-py-3.8-osx-64-dev.lock.yml
  environments/conda-py-3.8-osx-64.lock.yml
  environments/conda-py-3.8-win-64-dev.lock.yml
  environments/conda-py-3.8-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

add typing, docstrings
  geoapps/interpolation/driver.py
  geoapps/utils/models.py
  tests/data_transfer_test.py
Due: pylint, check-copyright

remove multi-select data from notebook
  geoapps/interpolation/application.py
  geoapps/interpolation/constants.py
  geoapps/interpolation/driver.py
Due: pylint, check-copyright

Bump version, fix gdal
  docs/conf.py
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
