Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/)
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]
    autoupdate_branch: develop
    autoupdate_schedule: monthly

repos:
-   repo: https://github.com/psf/black
    rev: 23.10.0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        additional_dependencies: [tomli] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://github.com/PyCQA/flake8
#    rev: 6.1.0
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
    -   id: pyupgrade
        args: [--py39-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v1.6.1
#    hooks:
#    -   id: mypy
#        additional_dependencies: [
#            types-toml,
#            types-PyYAML,
#            tomli # to read config from pyproject.toml
#        ]
-   repo: https://github.com/codingjoe/relint
    rev: 3.1.0
    hooks:
    -   id: relint
        args: [-W]  # to fail on warnings
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: ^(devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [text]
        files: (^LICENSE|^README(|-dev).rst|\.py|\.pyi)$
        exclude: (^\.|^docs/)
    -   id: prepare-commit-msg
        stages: [prepare-commit-msg]
        name: Prepare commit message
        entry: python devtools/git_message_hook.py --prepare
        language: python
    -   id: check-commit-msg
        stages: [commit-msg]
        name: Check commit message
        entry: python devtools/git_message_hook.py --check
        language: python
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        exclude: (-lock\.ya?ml|\benvironments/.*\.ya?ml|\.ipynb|^THIRD_PARTY_SOFTWARE\.rst)$
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        exclude: ^THIRD_PARTY_SOFTWARE.rst$
        additional_dependencies: [sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: rst-backticks
        exclude: ^THIRD_PARTY_SOFTWARE.rst$

One more fix
  docs/content/release_notes.rst
Due: none

Create copy of models
  geoapps/inversion/components/models.py
Due: pylint, check-copyright

Fix issue with lagging workspace_geoh5
  geoapps/inversion/joint/driver.py
Due: pylint, check-copyright

shorter way to declare license as MIT
  pyproject.toml
Due: none

Two more files
  devtools/check-copyright.py
  tests/version_test.py
Due: pylint, check-copyright

More clean ups
  devtools/add_url_tag_sha256.py
  devtools/check-copyright.py
  devtools/git_message_hook.py
  devtools/run_conda_lock.py
Due: check-copyright

Update years
  LICENSE
  README.rst
Due: check-copyright

Update more years
  LICENSE
  README.rst
Due: check-copyright

GEOPY-1285 set dependency versions in pyproject.toml
  pyproject.toml
Due: none

GEOPY-1285 update lockfiles
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

GEOPY-1285 set version to 0.11.0 in other places
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

Remove redundant copies
  geoapps/inversion/components/models.py
Due: pylint, check-copyright

Update dependency on simpeg
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Bump version to 0.11.1
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

bump version to 0.12.0-alpha
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

test invalid data
  geoapps/inversion/components/factories/survey_factory.py
  tests/run_tests/driver_airborne_tem_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_ip_test.py
Due: pylint, check-copyright

Merge branch 'release/0.11.0' into GEOPY-1265
  geoapps/inversion/components/models.py
  geoapps/inversion/joint/driver.py
Due: pylint, check-copyright

set version to v0.11.1-rc.1
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

fix some tests
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ground_tem_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_mvi_test.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

add nans to fem test
  tests/run_tests/driver_airborne_tem_test.py
  tests/run_tests/driver_fem_test.py
Due: pylint, check-copyright

Change implementation. Update fem test
  geoapps/inversion/components/factories/survey_factory.py
  pyproject.toml
  tests/run_tests/driver_fem_test.py
Due: pylint, check-copyright

update inversion run test values
  tests/run_tests/driver_airborne_tem_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_fem_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ground_tem_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_mvi_test.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

revert fem test
  tests/run_tests/driver_fem_test.py
Due: pylint, check-copyright

fix dc_p3d test
  tests/run_tests/driver_dc_p3d_test.py
Due: pylint, check-copyright

update dc test targets
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_dc_test.py
Due: pylint, check-copyright

update ground tem target values
  tests/run_tests/driver_ground_tem_test.py
Due: pylint, check-copyright

update ground_tem target values
  tests/run_tests/driver_ground_tem_test.py
Due: pylint, check-copyright

revert ground_tem change
  tests/run_tests/driver_ground_tem_test.py
Due: pylint, check-copyright

Update source parameters
  geoapps/inversion/components/factories/source_factory.py
Due: pylint, check-copyright

remove cod cov from toml file
  pyproject.toml
Due: none

Augment unitest to check field parameters
  tests/run_tests/driver_mag_test.py
Due: pylint, check-copyright

Update and fix assigned log values
  geoapps/inversion/components/models.py
  geoapps/inversion/joint/joint_surveys/driver.py
Due: pylint, check-copyright

Simplify logic
  geoapps/inversion/components/models.py
Due: pylint, check-copyright

Use dict comprehension
  geoapps/inversion/components/factories/source_factory.py
Due: pylint, check-copyright

Fix group name for joints
  geoapps/inversion/joint/joint_surveys/constants.py
Due: pylint, check-copyright

Force Cell association to data on dc constants
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
Due: pylint, check-copyright

Move transfer model to seperate method
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/driver.py
Due: pylint, check-copyright
