Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

address warning from pylint due to default None params
  devtools/add_url_tag_sha256.py
  devtools/run_conda_lock.py
  geoapps/base/dash_application.py
  geoapps/block_model_creation/application.py
  geoapps/clustering/application.py
  geoapps/coordinate_transformation/utils.py
  geoapps/driver_base/params.py
  geoapps/export/utils.py
  geoapps/inversion/components/data.py
  geoapps/inversion/potential_fields/application.py
  geoapps/peak_finder/utils.py
  geoapps/scatter_plot/application.py
  geoapps/shared_utils/utils.py
  geoapps/utils/io.py
  geoapps/utils/models.py
  geoapps/utils/workspace.py
Due: pylint, check-copyright

address warning from pylint due to config
  pylintrc
Due: none

stricter exclude for check-copyright
  .pre-commit-config.yaml
Due: none

change reference from readme.md to .rst
  pyproject.toml
Due: none

modernize syntax for Optional
  devtools/add_url_tag_sha256.py
  devtools/check-copyright.py
  geoapps/base/dash_application.py
Due: pylint, check-copyright

latest and greatest dev packages
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

seed-isort-config no longer needed as of isort>=5
  .pre-commit-config.yaml
  pyproject.toml
Due: none

make sure to have all pip hashes or none
  devtools/add_url_tag_sha256.py
  devtools/create_application_env_files.py
  devtools/run_conda_lock.py
Due: check-copyright

fixed rx_list = [] reset within loop
  geoapps/inversion/components/factories/directives_factory.py
  geoapps/inversion/components/factories/survey_factory.py
Due: pylint, check-copyright

save downsampled aoi in flinflon.geoh5 and add tem rx object uuid to octree mesh creation app default_ui_json fields and write a smaller mesh into flinflon.geoh5
  assets/FlinFlon.geoh5
  geoapps/octree_creation/constants.py
Due: pylint, check-copyright

Enforce importing SimPEG dask from inversion init
  geoapps/inversion/__init__.py
Due: pylint, check-copyright

Fix MVI test
  tests/run_tests/driver_mvi_test.py
Due: pylint, check-copyright

one tile per tx
  geoapps/inversion/components/factories/directives_factory.py
  geoapps/inversion/components/factories/survey_factory.py
  geoapps/inversion/driver.py
Due: pylint, check-copyright

Fixes and unitest
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/directives_factory.py
  geoapps/inversion/components/factories/entity_factory.py
  geoapps/inversion/components/factories/simulation_factory.py
  geoapps/inversion/driver.py
  geoapps/utils/testing.py
  tests/run_tests/driver_airborne_tem_test.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
