Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

remove mesh params from 2d .constants, add a drape model to the FlinFlon_dcip for line 5 and reference in the app_initializers
  assets/FlinFlon_dcip.geoh5
  geoapps/inversion/electricals/direct_current/two_dimensions/constants.py
  geoapps/inversion/electricals/induced_polarization/two_dimensions/constants.py
Due: pylint, check-copyright

Generalize the floating_active to 2D. Update unittest
  geoapps/utils/models.py
  tests/utils_test.py
Due: pylint, check-copyright

Fix for TensorMesh used in 2d inversion
  geoapps/utils/models.py
  tests/utils_test.py
Due: pylint, check-copyright

Avoid the full initialization of pseudo3d driver and create only what's needed (window -> data). Some cleanup of extra objects being created.
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/directives_factory.py
  geoapps/inversion/components/meshes.py
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/constants.py
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/driver.py
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

Open the workspace in "r+" on driver. Add unittest
  geoapps/driver_base/driver.py
Due: pylint, check-copyright

Add unittest on octree creation driver
  tests/run_tests/octree_creation_test.py
  tests/run_tests/peak_finder_test.py
Due: pylint, check-copyright

generalize cleanup of inversion group
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/driver.py
Due: pylint, check-copyright

apply cleanup from dev to the pseudo3d .constants and update the pyproject.toml so that tests pass online
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/constants.py
  pyproject.toml
Due: pylint, check-copyright

pylint fixes
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/driver.py
Due: pylint, check-copyright

another pylint fix
  geoapps/inversion/electricals/direct_current/pseudo_three_dimensions/driver.py
Due: pylint, check-copyright

pylint disable
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

cleanup
  geoapps/inversion/line_sweep/driver.py
Due: pylint, check-copyright

Point to simpeg 733 PR
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

GEOPY-734: fix install script
  Install_or_Update.bat
Due: none

GEOPY-734: no need for 'call' in bat file if not calling another bat file
  devtools/setup-conda-base.bat
  devtools/setup-dev.bat
Due: none

set flinflon dls to issue branch
  tests/__init__.py
  tests/constants_test.py
  tests/data_test.py
  tests/data_transfer_test.py
  tests/em1d_run_test.py
  tests/formatters_test.py
  tests/iso_surfaces_test.py
  tests/locations_test.py
  tests/meshes_test.py
  tests/models_test.py
  tests/params_test.py
  tests/run_tests/__init__.py
  tests/run_tests/apps_inversion_test.py
  tests/run_tests/apps_run_test.py
  tests/run_tests/driver_dc_2d_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ip_2d_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_mvi_test.py
  tests/run_tests/driver_tipper_test.py
  tests/run_tests/octree_creation_test.py
  tests/run_tests/peak_finder_test.py
  tests/topography_test.py
  tests/utils_test.py
  tests/version_test.py
  tests/window_test.py
  tests/write_default_uijson_test.py
Due: pylint, check-copyright

update copyright to 2023
  devtools/add_url_tag_sha256.py
  devtools/check-copyright.py
  devtools/create_application_env_files.py
  devtools/run_conda_lock.py
Due: check-copyright
