Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

update maintainers, homepage, doc url
  pyproject.toml
Due: none

point to newly released simpeg-archive
  pyproject.toml
Due: none

do not use ~0.x in version constraints
  pyproject.toml
Due: none

relock on latest published versions
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

move links in notebooks from readthedocs.io to readthedocs-hosted
  docs/content/applications/create_block_model.ipynb
  docs/content/applications/create_octree.ipynb
  docs/content/applications/dcip_inversion.ipynb
  docs/content/applications/em1d_inversion.ipynb
  docs/content/applications/grav_mag_inversion.ipynb
  docs/content/applications/object_data_selection.ipynb
  geoapps/block_model_creation/notebook.ipynb
  geoapps/calculator/notebook.ipynb
  geoapps/clustering/notebook.ipynb
  geoapps/contours/notebook.ipynb
  geoapps/coordinate_transformation/notebook.ipynb
  geoapps/edge_detection/notebook.ipynb
  geoapps/export/notebook.ipynb
  geoapps/index.ipynb
  geoapps/interpolation/notebook.ipynb
  geoapps/inversion/electricals/notebook.ipynb
  geoapps/inversion/electromagnetics/notebook.ipynb
  geoapps/inversion/potential_fields/gravity/notebook.ipynb
  geoapps/inversion/potential_fields/magnetic_scalar/notebook.ipynb
  geoapps/inversion/potential_fields/magnetic_vector/notebook.ipynb
  geoapps/iso_surfaces/notebook.ipynb
  geoapps/octree_creation/notebook.ipynb
  geoapps/peak_finder/notebook.ipynb
  geoapps/scatter_plot/notebook.ipynb
  geoapps/triangulated_surfaces/notebook.ipynb
Due: none

also check copyright date in package.rst
  .pre-commit-config.yaml
Due: none

point last rc versions of git dependencies
  pyproject.toml
Due: none

update pre-commit config
  .pre-commit-config.yaml
  pyproject.toml
Due: none

do not include license file in sdist
  pyproject.toml
Due: none

remove now unnecessary dev scripts
  devtools/check-copyright.py
  devtools/git_message_hook.py
Due: check-copyright

exclude notebook from Ruff checks
  .pre-commit-config.yaml
Due: none

disable check stdlib-module-shadowing for now
  pyproject.toml
Due: none

fix partial or obsolete package information
  pyproject.toml
Due: none

update remaining copyright dates
  LICENSE
  README-dev.rst
  README.rst
Due: check-copyright

add license and copyright notice in the doc
  .rstcheck.cfg
  docs/conf.py
  docs/index.rst
Due: none

expose version under package title in the doc
  docs/conf.py
Due: none

more file types for LFS
  .gitattributes
Due: none

update PyCharm "sources" scope
  .idea/scopes/sources.xml
Due: none

relock dependencies
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Fix imports
  geoapps/peak_finder/application.py
Due: pylint, check-copyright

Clean out duplicates
  geoapps/driver_base/utils.py
  geoapps/utils/models.py
  geoapps/utils/testing.py
  tests/utils_test.py
Due: pylint, check-copyright

Set _param_class in base
  geoapps/base/application.py
Due: pylint, check-copyright

Remove redundant treemesh_2_octree
  tests/utils_test.py
Due: pylint, check-copyright

Fix access to receiver_offset_z
  geoapps/inversion/electricals/application.py
Due: pylint, check-copyright

One more get
  geoapps/inversion/electricals/application.py
Due: pylint, check-copyright

DEVOPS-654 specify jira component in issue_to_jira
  .github/workflows/issue_to_jira.yml
Due: none

Add package file
  docs/index.rst
  package.rst
Due: none

For GEOPY-1930
  THIRD_PARTY_SOFTWARE.rst
  docs/THIRD_PARTY_SOFTWARE.rst
Due: none

For GEOPY-1859
  docs/conf.py
  readthedocs.yml
Due: none

Update README link to TPS
  README.rst
Due: check-copyright

Use package.rst as readme
  pyproject.toml
Due: none

Fix bad copy of names
  docs/conf.py
  package.rst
Due: none

Re-lock on latest geoh5py
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Re-lock files
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Update dependencies for jupyterlab, notebook and such
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  pyproject.toml
Due: none

Add notebook in
  environments/py-3.10-linux-64-dev.conda.lock.yml
  environments/py-3.10-linux-64.conda.lock.yml
  environments/py-3.10-win-64-dev.conda.lock.yml
  environments/py-3.10-win-64.conda.lock.yml
  py-3.10.conda-lock.yml
  pyproject.toml
Due: none

Fix start notebook
  geoapps/scripts/start_notebook.py
Due: pylint, check-copyright

Fix peak finder input
  geoapps/peak_finder/application.py
Due: pylint, check-copyright

Path conditions:
  pylint: any of: \.py$ and not (^(devtools|docs)/) and not ((^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/))
  check-copyright: any of: (^LICENSE|^README(|-dev).rst|\.py|\.pyi)$ and not ((^\.|^docs/)) and not ((^docs/(conf.py|_ext/)|^geoapps/simpeg(PF|EM1D)/|^geoapps-assets/))
