Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false
repos:
-   repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.2
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.21.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
#-   repo: https://github.com/pre-commit/mirrors-pylint
#    rev: v2.6.0
#    hooks:
#    -   id: pylint
#        exclude: (devtools|docs)/
-   repo: local
    hooks:
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

GEOPY-358: use newly introcude get_conda_exec
  devtools/setup-dev.bat
Due: none

GEOPY-358: in dev environment, reinstall local geoh5py as editable
  devtools/setup-dev.bat
Due: none

Add gxz and gyz to list of sign flipped components in normalization
  geoapps/drivers/components/data.py
Due: check-copyright

Edit installation page
  docs/content/installation.rst
  docs/images/Install_start_bat.png
Due: rstcheck

Removed extra self.entity assignment.
  assets/input.ui.json
  assets/options_tree.json
  geoapps/drivers/components/meshes.py
Due: check-copyright

Generalize grid export for integer value
  geoapps/utils/utils.py
Due: check-copyright

Update installation page
  docs/content/installation.rst
  docs/environment.yml
  docs/images/Install_start_bat.png
  docs/images/index_page.png
Due: rstcheck

Update text on size estimate
  docs/content/installation.rst
Due: rstcheck

typo: Mb -> MB
  docs/content/installation.rst
Due: rstcheck

remove dedundant mask vector
  geoapps/drivers/components/data.py
Due: check-copyright

Remove inversion from run_test
  tests/run_tests/apps_run_test.py
Due: check-copyright

Add separate run test for inversion apps
  tests/run_tests/apps_inversion_test.py
Due: check-copyright

GEOPY-358: followup: fix running pylint from precommit
  .pre-commit-config.yaml
  devtools/conda_env_pylint.bat
Due: none

prevent uuid validation for numeric values (in case of params that can be either numeric or object uuid).
  geoapps/io/validators.py
Due: check-copyright

Bring back filter on radar
  geoapps/drivers/components/data.py
Due: check-copyright

Set back default uncertainties to None
  geoapps/io/DirectCurrent/constants.py
  geoapps/io/Gravity/constants.py
  geoapps/io/MagneticVector/constants.py
Due: check-copyright

Simplify case for apparent resistivity outputs
  geoapps/drivers/components/data.py
  geoapps/drivers/components/factories/directives_factory.py
Due: check-copyright

Change IP data_typew to app_charg
  geoapps/drivers/components/factories/survey_factory.py
Due: check-copyright

Update FlinFlon_dcip with app res
  assets/FlinFlon_dcip.geoh5
Due: none
