Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

pylint:
  name: pylint
  entry: .\\devtools\\conda_env_pylint.bat
  language: system
  require_serial: true

check-copyright:
  name: Check copyright
  entry: python devtools/check-copyright.py
  language: python

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: python
  additional_dependencies:
  - rstcheck
  - sphinx

Fix tests
  tests/run_tests/octree_creation_test.py
Due: pylint, check-copyright

Pin SimPEG to dev3
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Add typing. Add treemesh to spelling ignore
  .codespellignore
  geoapps/octree_creation/driver.py
Due: pylint, check-copyright

Change variable name to simplify
  .codespellignore
  geoapps/octree_creation/driver.py
Due: pylint, check-copyright

Update geoapps/octree_creation/driver.py
  geoapps/octree_creation/driver.py
Due: pylint, check-copyright

Add utility method to compute cell size from level
  geoapps/octree_creation/driver.py
  tests/run_tests/octree_creation_test.py
Due: pylint, check-copyright

Fix test
  tests/run_tests/octree_creation_test.py
Due: pylint, check-copyright

Remove refine_tree_xyz from testing utils
  geoapps/utils/testing.py
Due: pylint, check-copyright

Add convenience printing of run test. Update all tests for new refinement
  geoapps/utils/testing.py
  tests/run_tests/driver_dc_p3d_test.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_fem_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_joint_cross_gradient_test.py
  tests/run_tests/driver_joint_surveys_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
  tests/run_tests/driver_mvi_test.py
  tests/run_tests/driver_tipper_test.py
Due: pylint, check-copyright

Small value change for Linux
  tests/run_tests/driver_joint_cross_gradient_test.py
Due: pylint, check-copyright

Remove more reference to refine_tree_xyz
  geoapps/shared_utils/utils.py
  tests/data_test.py
  tests/utils_test.py
Due: pylint, check-copyright

Bump version. Start adding release notes
  docs/conf.py
  docs/content/release_notes.rst
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright, rstcheck

GEOPY-1083 run pylint on ubuntu
  .github/workflows/static-analysis.yml
Due: none

GEOPY-1083 static-analysys: use linux lock file
  .github/workflows/static-analysis.yml
Due: none

Add release notes
  docs/content/release_notes.rst
Due: rstcheck

Fix warnings
  docs/content/applications/base_application.ipynb
  docs/content/applications/clustering.ipynb
  docs/content/applications/create_block_model.ipynb
  docs/content/applications/create_isosurface.ipynb
  docs/content/applications/create_octree.ipynb
  docs/content/applications/dcip_inversion.ipynb
  docs/content/applications/edge_detection.ipynb
  docs/content/applications/grav_mag_inversion.ipynb
  docs/content/applications/peak_finder.ipynb
  docs/environment.yml
Due: none

Change pandoc version
  docs/environment.yml
Due: none

GEOPY-1083 remove Macos from pytest for now
  .github/workflows/pytest-unix-os.yaml
Due: none

Limit sensitivity storage to RAM on tem inversion
  geoapps/inversion/electromagnetics/time_domain/constants.py
Due: pylint, check-copyright

Use pypi version for geoh5py
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

GEOPY-1121 set mira-simpeg version to pypi 0.19.0.dev3
  pyproject.toml
Due: none

GEOPY-1122 set param-sweeps dependency to pypi v0.1.6-alpha.1
  pyproject.toml
Due: none

Bump versions, update lock files
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  docs/conf.py
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  geoapps/__init__.py
  geoapps/inversion/driver.py
  pyproject.toml
Due: pylint, check-copyright

GEOPY-1149: add las [WIP]
  conda-py-3.10-linux-64-geoapps-core.lock.yml
  conda-py-3.10-lock.yml
  conda-py-3.10-win-64-geoapps-core.lock.yml
  conda-py-3.10-win-64-geoapps-ui.lock.yml
  conda-py-3.10-win-64-noapps.lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  pyproject.toml
Due: none

GEOPY-1149 regenerate environment yml files
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
Due: none

GEOPY-1149: add las
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

version to beta.2
  docs/conf.py
  geoapps/__init__.py
  pyproject.toml
Due: pylint, check-copyright

Revert "Geopy 1149 lockfiles"
  conda-py-3.10-linux-64-geoapps-core.lock.yml
  conda-py-3.10-lock.yml
  conda-py-3.10-win-64-geoapps-core.lock.yml
  conda-py-3.10-win-64-geoapps-ui.lock.yml
  conda-py-3.10-win-64-noapps.lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

Convert grid2d to points to avoid nan
  geoapps/inversion/components/preprocessing.py
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

Check for no-change on mesh and topography
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

Update geoapps/inversion/components/preprocessing.py
  geoapps/inversion/components/preprocessing.py
Due: pylint, check-copyright

Let geoh5py handle the pillow requirement
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

let the versions floating, and have conda resolve them
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

a set of versions that work
  conda-py-3.10-lock.yml
  conda-py-3.9-lock.yml
  environments/conda-py-3.10-linux-64-dev.lock.yml
  environments/conda-py-3.10-linux-64.lock.yml
  environments/conda-py-3.10-osx-64-dev.lock.yml
  environments/conda-py-3.10-osx-64.lock.yml
  environments/conda-py-3.10-win-64-dev.lock.yml
  environments/conda-py-3.10-win-64.lock.yml
  environments/conda-py-3.9-linux-64-dev.lock.yml
  environments/conda-py-3.9-linux-64.lock.yml
  environments/conda-py-3.9-osx-64-dev.lock.yml
  environments/conda-py-3.9-osx-64.lock.yml
  environments/conda-py-3.9-win-64-dev.lock.yml
  environments/conda-py-3.9-win-64.lock.yml
  pyproject.toml
Due: none

get semver from conda
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$ and not ((devtools|docs)/) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  check-copyright: any of: \.py$ and not ((^setup.py$|(docs|assets)/)) and not ((docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/)))
  rstcheck: any of: .rst, but not: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
