Repository MiraGeoscience/geoapps: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-copyright, rstcheck

.pre-commit-config.yaml:

default_language_version:
    python: python3
exclude: (docs/(conf.py|_ext/)|(^geoapps/simpeg(PF|EM1D)/))
default_stages: [commit,push]
fail_fast: false

ci:
    skip: [pylint]

repos:
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml] # to read config from pyproject.toml
-   repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.1
    hooks:
    -   id: autoflake
#-   repo: https://gitlab.com/pycqa/flake8
#    rev: 3.8.4
#    hooks:
#    -   id: flake8
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.790
#    hooks:
#    -   id: mypy
#        args: ["--ignore-missing-imports", "--scripts-are-modules", "--show-error-context",
#               "--show-column-numbers"]
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: .\\devtools\\conda_env_pylint.bat
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [python]
        exclude: (devtools|docs)/
    -   id: check-copyright
        name: Check copyright
        entry: python devtools/check-copyright.py
        language: python
        types: [python]
        exclude: (^setup.py$|(docs|assets)/)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    -   id: codespell
        exclude: (\.ipynb$)
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: \.mdj$
    -   id: check-toml
    -   id: check-yaml
#    -   id: check-added-large-files # crashing on some configuration. To be investigated
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: \.mdj$
    -   id: mixed-line-ending
    -   id: name-tests-test
-   repo: local
    hooks:
    -   id: rstcheck
        name: rstcheck
        entry: rstcheck
        files: '.rst'
        language: python
        additional_dependencies: [rstcheck, sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks

Merge branch 'release/0.7.0' into HEAD
  geoapps/base/params.py
  geoapps/drivers/direct_current_inversion.py
  geoapps/drivers/magnetic_scalar_inversion.py
  geoapps/drivers/magnetic_vector_inversion.py
  geoapps/drivers/magnetotellurics_inversion.py
  geoapps/inversion/components/data.py
  geoapps/inversion/components/factories/receiver_factory.py
  geoapps/inversion/components/windows.py
  geoapps/inversion/constants.py
  geoapps/inversion/driver.py
  geoapps/inversion/natural_sources/magnetotellurics/constants.py
  geoapps/inversion/potential_fields/gravity/constants.py
  geoapps/inversion/potential_fields/magnetic_scalar/constants.py
  geoapps/inversion/potential_fields/magnetic_vector/constants.py
  geoapps/peak_finder/application.py
  geoapps/utils/testing.py
  tests/run_tests/driver_dc_test.py
  tests/run_tests/driver_grav_test.py
  tests/run_tests/driver_ip_test.py
  tests/run_tests/driver_mag_test.py
  tests/run_tests/driver_mt_test.py
Due: pylint, check-copyright

Bump version number. Update release notes
  docs/conf.py
  docs/content/release_notes.rst
  setup.py
Due: pylint, rstcheck

Update octree app
  docs/content/applications/create_octree.ipynb
Due: none

remove run_tests from .gitignore
  .gitignore
Due: none

copy check_target over from another branch.
  geoapps/utils/testing.py
Due: pylint, check-copyright

Pared down environment
  environment.yml
Due: none

Going down the list of packages removed from environment.yaml and replacing with soft_import call. Just finished matplotlib (with some extras).
  geoapps/utils/importing.py
  geoapps/utils/utils.py
Due: pylint, check-copyright

Fix ui_json change.
  geoapps/base/application.py
  geoapps/base/selection.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
  geoapps/peak_finder/application.py
Due: pylint, check-copyright

Fix initialization issue for triangulation app
  geoapps/triangulated_surfaces/application.py
Due: pylint, check-copyright

Update for new defaults
  geoapps/octree_creation/application.py
Due: pylint, check-copyright

Finished ipywidgets
  geoapps/base/application.py
  geoapps/base/plot.py
  geoapps/base/selection.py
  geoapps/calculator/application.py
  geoapps/clustering/application.py
  geoapps/contours/application.py
  geoapps/coordinate_transformation/application.py
  geoapps/edge_detection/application.py
  geoapps/export/application.py
  geoapps/interpolation/application.py
  geoapps/inversion/airborne_electromagnetics/application.py
  geoapps/inversion/electricals/application.py
  geoapps/inversion/potential_fields/application.py
  geoapps/iso_surfaces/application.py
  geoapps/octree_creation/application.py
  geoapps/peak_finder/application.py
  geoapps/scatter_plot/application.py
  geoapps/triangulated_surfaces/application.py
  geoapps/utils/__init__.py
  geoapps/utils/plotting.py
Due: pylint, check-copyright

maybe finished? off to test.
  geoapps/utils/utils.py
Due: pylint, check-copyright

Downgrade FlinFlon_natural_sources to 3.4.1
  assets/FlinFlon_natural_sources.geoh5
Due: none

Fix tests
  geoapps/octree_creation/application.py
  geoapps/utils/testing.py
Due: pylint, check-copyright

Update interpolation docs
  docs/content/applications/data_interpolation.ipynb
Due: none

Update docs states
  docs/content/applications/create_isosurface.ipynb
  docs/content/applications/images/iso_surface.png
  docs/content/applications/images/model_surface.png
  docs/content/applications/scatter.ipynb
  docs/content/applications/triangulated_surfaces.ipynb
Due: none

More updates of docs
  docs/conf.py
  docs/content/applications/DCInversion.ui.json
  docs/content/applications/Octree_Mesh.ui.json
  docs/content/applications/PeakFinder.ui.json
  docs/content/applications/VectorInversion.ui.json
  docs/content/applications/base_application.ipynb
  docs/content/applications/calculator.ipynb
  docs/content/applications/contouring.ipynb
  docs/content/applications/dcip_inversion.ipynb
  docs/content/applications/grav_mag_inversion.ipynb
  docs/content/applications/object_data_selection.ipynb
  docs/content/applications/peak_finder.ipynb
  docs/content/applications/view_selection.ipynb
Due: none

GEOPY-499 remove test as part of conflict resolution
  tests/run_tests/apps_inversion_test.py
Due: pylint, check-copyright

GEOPY-499 remove test for conflict resolution
  tests/params_test.py
Due: pylint, check-copyright
